
<table>
    <caption>Table <%= tabcounter %>. Background Characteristics of the Evaluation Sample</caption>
    <thead>
        <tr>
           
            <th>Grade</th>
            <th> Characteristic</th>
            <th> Overall</th>
            <th> Treatment</th>
            <th> Comparison</th>
            <th> Difference</th>
            <th> Standardized<br/> difference</th>
        </tr>
    </thead>
    <tbody>

        <% for (grade in Result.results_by_grade) {

        var thisgrade = Result.results_by_grade[grade];

        var means = thisgrade.baseline_var_means;

        var samples = thisgrade.samples;

        var samples_cluster = thisgrade.samples_cluster;

        var char = Object.keys(means);
         var growspan =char.length + 1;
         if (samples_cluster) {
             growspan =char.length + 2;
        }

    for (var index in char) {
        console.log("baseline vars");
        console.log(index);
        var thischar = char[index];

        %>
        <tr>
            <% if (defs.hasResults  && index == 0) { %>
            <td rowspan="<%- growspan %>"> <%= grade %></td>
            <% } %>
            <td> <span class="table1-relabel-baseline-var-<%- index %>"><%= thischar %></span></td>


            <td>
                <script>
                     document.write(textHelpers.round10("<%= means[thischar].overall[0] %>", 0))
                </script>
            </td>
            <td>
                <script>
                     document.write(textHelpers.round10("<%= means[thischar].intervention[0]; %>", 0))
                </script>
            </td>
            <td>
                <script>
                     document.write(textHelpers.round10("<%= means[thischar].comparison[0] %>", 0))
                </script>
            </td>
            <td>
                <script>
                     document.write(textHelpers.round10("<%= means[thischar].difference[0] %>", 0))
                </script>
            </td>
            <td>
                <script>
                     document.write(textHelpers.round10("<%= means[thischar].effect_size[0] %>", 0))
                </script>
            </td>
        </tr>
        <% } %>
        <tr>


            <td> Number of <%= defs.Basics_Users %></td>
            <td> <%= samples.n_full %></td>
            <td> <%= samples.n_full_treat %></td>
            <td> <%= samples.n_full - samples.n_full_treat %></td>
            <td> --</td>
            <td> --</td>
        </tr>
        <%
   if (Result.args.cluster_var.indexOf("no cluster") === -1) {
        %>
        <tr>

            <td> Number of <%= Result.args.cluster_var %></td>
            <td> <%= samples_cluster.n_full %></td>
            <td> <%= samples_cluster.n_full_treat %></td>
            <td> <%= samples_cluster.n_full - samples_cluster.n_full_treat %> </td>
<td> --</td>
            <td> --</td>
        </tr>
    <% } %>
 <% } %>
    </tbody>
</table>
