<%
 var tabprefix = "";
 if(eval.last_tool == "Share Your Results"){
        tabprefix = "A.";
    }
var Res = "";
var grades = [];
if( (eval.last_tool == "Matching"  && defs.wasMatched)) {
    Res = MResult;
    tabcounter ++;
    grades = Res.results_by_grade;
} else if ((eval.last_tool == "Random Assignment" && defs.wasRandomized)) {
    Res = MResult;
    tabcounter ++;
grades = Res.results_by_block;
} else if ( defs.hasResults) {
    Res = Result;
  
    grades = Res.results_by_grade;
}


%>
<table>
    <caption>Table <%= tabprefix %><%= defs.BackGround_Tab_Num %>. Background Characteristics of the Evaluation Sample</caption>
    <thead>
        <tr>
           
            <th>Grade</th>
            <th> Characteristic</th>
            <th> Overall</th>
            <th> Treatment</th>
            <th> Comparison</th>
            <th> Difference</th>
            <th> Standardized<br/> difference</th>
            <th> Balanced</th>
        </tr>
    </thead>
    <tbody>
    <%
    // Old version of get results object did not include var name with baseline_means object.
    // Also, if renaming vars, then names will be in a separate array.
        var chars= [];
    if(Res.control_vars) {
         chars= Res.control_vars;
    }
    
        console.log(Res.control_vars);
    for (grade in grades) {

        var thisgrade = grades[grade];


         var means = thisgrade.baseline_var_means;
        
        var samples = thisgrade.samples;
        var hasSample = thisgrade.samples ? true : false;
        var samples_cluster = thisgrade.samples_cluster;

        var growspan = 1;
        var char = [];
        if(means && (typeof means == "object")){
        char = Object.keys(means);
      
        var growspan =char.length + 1;
        if (samples_cluster) {
            if(Object.keys(samples_cluster).length > 0) {
                growspan =char.length + 2;
                }
            }
        }

    for (var index in char) {
    console.log("index = " + index);


    var thischar = char[index];
        console.log("thischar = " + thischar);
    var varname = thischar;
    if (chars.length > 0) {
             varname = chars[index];
        } 

        %>
        <tr>
            <% if (index == 0) { %>
            <td rowspan="<%- growspan %>"> <%= grade %></td>
           <% } %>
            <td> <span class="table1-relabel-baseline-var-<%- index %>"><%= varname %></span></td>


            <td>
                <%= round10(means[thischar].overall[0], 2) %>
            </td>
            <td>
                <%= round10(means[thischar].intervention[0], 2) %>
            </td>
            <td>
                <%= round10(means[thischar].comparison[0], 2) %>
            </td>
            <td>
                <%= round10(means[thischar].difference[0], 2) %>
            </td>
            <td>
                <%= round10(means[thischar].effect_size[0], 2) %>
            </td>
            <td><%= Math.abs(means[thischar].effect_size[0]) > 0.25 ? "False" : "True" %></td>
        </tr>
    <% } 
        if (hasSample) { %>
        <tr>
            <td> Number of <%= defs.Basics_Users %></td>
            <td> <%= samples.n_full %></td>
            <td> <%= eval.last_tool == "Random Assignment" ? samples.n_treat :  samples.n_full_treat %></td>
            <td> <%= eval.last_tool == "Random Assignment" ? samples.n_full - samples.n_treat : samples.n_full - samples.n_full_treat %></td>
            <td> --</td>
            <td> --</td>
            <td> --</td>
        </tr>
    <% }
        if( eval.last_tool != "Matching" && eval.last_tool != "Random Assignment") {
         if (Res.args.cluster_var.indexOf("no cluster") === -1  && defs.hasCluster) {
        %>
        <tr>

            <td> Number of <%= Res.args.cluster_var %></td>
            <td> <%= samples_cluster.n_full %></td>
            <td> <%= samples_cluster.n_full_treat %></td>
            <td> <%= samples_cluster.n_full - samples_cluster.n_full_treat %> </td>
            <td> --</td>
            <td> --</td>
            <td> --</td>
        </tr>
    <%      }
        } %>
 <% } %>
    </tbody>
</table>
