

<p>Table 1 summarizes the results of this evaluation. It shows, given this evaluation&rsquo;s data and implementation of <%= defs.Basics_Tech_Name %>, the probability that <%= defs.Basics_Tech_Name %> meaningfully increased or decreased (by at least <%= defs.Success_Effect_Size %> <%= defs.Measure_Units %> ) <%= defs.Basics_Outcome %> as measured by <%= defs.Outcome_Measure %> in the treatment group relative to the comparison group. It also shows the probability that there is no meaningful change in <%= defs.Basics_Outcome %> between the treatment and comparison groups. To meet our goal, the probability that <%= defs.Basics_Tech_Name %> <%= defs.Outcome_Direction %>d <%= defs.Basics_Outcome %> by at least <%= defs.Success_Effect_Size %> <%= defs.Measure_Units %> had to be <%= defs.Pass_Probability %>% or higher.</p>
<table class="resultsFig">
   
    <caption>
        Table 1. Summary of Results

    </caption>
    <tr>
        <th scope="col">Grade</th>
        <th scope="col">Meets goal?</th>
        <th scope="col" style="text-align: left;">Possible change in outcomes (treatement vs. comparison)</th>

        <th scope="col">Probability of change</th>

        <th scope="col">Estimated size of effect</th>
        <th scope="col">Comparison group average</th>
        <% if(defs.hasSample) { %>
        <th scope="col">Number of <%- defs.Basics_Users %> in treatment group</th>
        <th scope="col">Number of <%- defs.Basics_Users %> in comparison group</th>
        <% } %>
    </tr>

    <%


    for (grade in Result.results_by_grade) {

    var prop_increased = 0;
    var prop_decreased = 0 ;
    var prop_same = 0 ;
    var meetGoal = "There is a problem with the analysis. Please re-run the 'Get Results' tool.";
    var highlight = "";
    var hlincrease = "";
    var hldecrease = "";

    var thisgrade = Result.results_by_grade[grade];

    if (thisgrade.rope_output != undefined){
    var prop_increased = round10(thisgrade.rope_output.probabilities.greater_than *100,0);
    var prop_decreased = round10(thisgrade.rope_output.probabilities.less_than*100,0) ;
    var prop_same = round10(thisgrade.rope_output.probabilities.equal*100,0) ;
    var meetGoal = (prop_decreased >= round10(defs.Pass_Probability) && defs.Outcome_Direction.toLowerCase() == "decrease") ? "Yes" : ((prop_increased >= round10(defs.Pass_Probability) && defs.Outcome_Direction.toLowerCase() == "increase") ? "Yes" : "No") ;
    }
    if(meetGoal == "Yes") {
    highlight = "background-color:#C2FA96";
    if (defs.Outcome_Direction.toLowerCase() == "increase") {
    hlincrease = "background-color:#C2FA96";
    }
    if (defs.Outcome_Direction.toLowerCase() == "decrease") {
    hldecrease = "background-color:#C2FA96";
    }
    }
    var effect = round10(thisgrade.impact, 0) ;
    if(Math.abs(thisgrade.impact) < 10 )
    {
     effect = round10(thisgrade.impact, 1)
    }
    if(Math.abs(thisgrade.impact) < 1 )
    {
    effect = round10(thisgrade.impact, 2)
    } 
    %>
    <tr style="border-top: 1px #aaa solid">
        <td rowspan="3"><%= grade %></td>
        <td rowspan="3" style="<%=highlight %>"><%= meetGoal %></td>
        <td style="<%=hlincrease %>" class="show-border">
            <span class="fa fa-arrow-up" title="increased"></span> increase >= <%= defs.Success_Effect_Size %>
        </td>
        <td style="<%=hlincrease %>" class="show-border"><%= prop_increased %>%</td>

        <td rowspan="3">
            <%- effect %>
        </td>

        <td rowspan="3">
            <% if (thisgrade.outcome_means) { %>
            <%= round10(thisgrade.outcome_means.comparison) %>
            <% } else { %>
            Not available <% if (query.sharing != 1) { %> , re-run get results
            <% } } %>
        </td>
        <% if(defs.hasSample) { %>
        <td rowspan="3">
            <%= round10(thisgrade.samples.n_full_treat) %>
        </td>
        <td rowspan="3">
            <%= round10(thisgrade.samples.n_full -thisgrade.samples.n_full_treat) %>
        </td>
        <% } %>
    </tr>
    <% if(defs.Success_Effect_Size != 0) { %>
    <tr >
        <td class="show-border">
            Between -<%= defs.Success_Effect_Size %> and <%= defs.Success_Effect_Size %>
        </td>
        <td class="show-border"><%=prop_same %>%</td>
    </tr>
    <% } %>
    <tr style="border-bottom: none">
        <td style="<%=hldecrease %>" class="show-border">
            <span class="fa fa-arrow-down" title="decreased"></span>  Decrease >= <%= defs.Success_Effect_Size %>
        </td>
        <td style="<%= hldecrease %>" class="show-border"><%= prop_decreased %>%</td>
    </tr>

    <% } %>
</table>
 <!--Table 1 shows that based on this evaluation&rsquo;s data:
 <%


    for (grade in Result.results_by_grade) {

    var prop_increased = 0;
    var prop_decreased = 0 ;
    var prop_same = 0 ;
    var meetGoal = "There is a problem with the analysis. Please re-run the 'Get Results' tool.";
    var highlight = "";
    var hlincrease = "";
    var hldecrease = "";

    var thisgrade = Result.results_by_grade[grade];

    if (thisgrade.rope_output != undefined){
    var prop_increased = round10(thisgrade.rope_output.probabilities.greater_than *100,0);
    var prop_decreased = round10(thisgrade.rope_output.probabilities.less_than*100,0) ;
    var prop_same = round10(thisgrade.rope_output.probabilities.equal*100,0) ;
   }
    %>
<p>
   Grade <%= grade %>:
    <ul>
        <li>There is a <%= prop_increased %>% probability that <%= defs.Basics_Tech_Name %> increases <%= defs.Basics_Outcome %> <%= defs.Success_Effect_Size %> or more <%= defs.Measure_Units %>.</li>
        <li>There is a <%= prop_same %>% probability that <%= defs.Basics_Tech_Name %> does not change <%= defs.Basics_Outcome %>. To be more precise, the change would be within the range ± <%= defs.Success_Effect_Size %> <%= defs.Measure_Units %>, which is less than the minimum meaningful effect size.</li>
        <li>There is a <%= prop_decreased %>% probability that <%= defs.Basics_Tech_Name %> decreases <%= defs.Basics_Outcome %> <%= defs.Success_Effect_Size %> or more <%= defs.Measure_Units %>.</li>
    </ul>


</p>
  <% } %>-->