  <%
    var tabprefix = "";
 if(eval.last_tool == "Share Your Results"){
     tabprefix = "A.";
}

%>

<div class="no-page-break">
    <p>
         Table <%= tabprefix %><%= defs.Match_Summary_Tab_Num %> presents the number of <%= defs.Basics_Users %> in each group before and after matching.
    </p>
    <table class="group-summary">
        <caption>Table <%= tabprefix %><%= defs.Match_Summary_Tab_Num %>. Sample size before and after matching</caption>
        <thead>
        <tr>
            <th scope="col">Grade</th>
            <th scope="col">Group</th>
            <th scope="col">Sample size before matching</th>
            <th scope="col">Sample size after matching</th>
            <th scope="col">Percentage of total</th>
        </tr>
        </thead>
        <tbody>
        <% for (grade in MResult.results_by_grade) {
        var thisgrade = MResult.results_by_grade[grade].samples;
       
      
        %>
        <tr>
            <td rowspan="2"><%= grade %></td>
            <td>Treatment</td>
            <td><%= round10(thisgrade.n_full_treat[0] , 0) %>
               
            </td>
            <td><%= round10(thisgrade.n_matched_treat[0] , 0) %>
                
            </td>
            <td> <%= round10((thisgrade.n_matched_treat[0]/thisgrade.n_full_treat[0]) *100, 0) %>%
               
            </td>
        </tr>
        <tr>
            <td>Comparison</td>
            <td><%= round10(thisgrade.n_full[0]- thisgrade.n_full_treat[0] , 0) %>
              
            </td>
            <td><%= round10(thisgrade.n_matched[0] - thisgrade.n_matched_treat[0] , 0) %>
                
            </td>
            <td> <%= round10(((thisgrade.n_matched[0] - thisgrade.n_matched_treat[0])/(thisgrade.n_full[0]- thisgrade.n_full_treat[0])) *100, 0) %>%
               
            </td>
        </tr>
        <% } //End for each grade %>
        </tbody>
    </table>
    <p class="note">Note: because the matching tool uses 1 to 1 matching, some <%= defs.Basics_Users %> may not have matches.</p>
</div>