<%

var verb = "Does";

var useMeasure = '';
if(eval.planNext.Success_Effect_Size != "" && eval.last_tool != "Think About How to Use Your Results" && eval.last_tool != "Share Your Results" && eval.last_tool != "Craft Your Research Question") {
useMeasure = " by at least " + defs.Success_Effect_Size + " " + defs.Measure_Units + " on " + defs.Outcome_Measure + ",";
// console.log("last tool = " + eval.last_tool);


}

if(eval.last_tool == "Share Your Results") { verb = "Did";}

if (user != "NOAUTHENTICATED") { %>
<p>
   <%= verb %>
    <span class='tech-name'><%= defs.Basics_Tech_Name  %></span>  <span class='change-direction'><%= defs.Outcome_Direction %></span> <span class='eval-outcome'><%= eval.basics.Basics_Outcome !='' ? defs.Basics_Outcome: "B" %></span><%- useMeasure %> among <span class='treatment-group'><%= eval.planQuestion.Intervention_Group_Desc != '' ? defs.Intervention_Group_Desc : "C" %></span> compared to <span class='comparison-group'><%= eval.planQuestion.Comparison_Group_Desc !='' ? defs.Comparison_Group_Desc :  "D" %></span>?
</p> 

<% }
 if (user == "NOAUTHENTICATED") { %>
          Does A do B among C compared to D?
 <% } %>




