

<%
var useMeasure = '';
if(eval.planNext.Success_Effect_Size != "" && eval.last_tool != "Think About How to Use Your Result") {
useMeasure = " as measured by " + defs.Outcome_Measure + " by " + defs.Success_Effect_Size + " or more " + defs.Measure_Units ;
}



if (user != "NOAUTHENTICATED") { %>
  Does
<span class='tech-name'><%= defs.Basics_Tech_Name  %></span>  <span class='change-direction'><%= defs.Outcome_Direction %></span> <span class='eval-outcome'><%= eval.basics.Basics_Outcome !='' ? defs.Basics_Outcome: "B" %></span> <%- useMeasure %> among <span class='treatment-group'><%= eval.planQuestion.Intervention_Group_Desc != '' ? defs.Intervention_Group_Desc : "C" %></span> compared to <span class='comparison-group'><%= eval.planQuestion.Comparison_Group_Desc !='' ? defs.Comparison_Group_Desc :  "D" %></span>?


<% }
 if (user == "NOAUTHENTICATED") { %>
          Does A do B among C compared to D?
 <% } %>

<%


if (user != "NOAUTHENTICATED" && display  == 'online' && eval.last_tool != "Craft Your Research Question") { %>
<p class="prev-answer hidden-print">
    <i class="fa fa-hand-o-right"></i> Where did I answer this? See
    <a class="redirect-link" href="/craft_your_research_q?return=shareresult">Craft Your Research Question</a>
</p>
<% } %>