<div class="no-page-break">
    <% tabcounter = tabcounter + 1 %>
    <table id="table2">
        <caption>
            Table <%= tabcounter %>. WWC standards for baseline equivalence
        </caption>

        <thead>
            <tr>
                <th>Absolute value of difference between groups</th>
                <th>WWC conclusion on baseline equivalence</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>standardized difference &le; 0.05</td>
                <td>Satisfies baseline equivalence requirement</td>
            </tr>
            <tr>
                <td>0.05 &lt; standardized difference &le; 0.25</td>
                <td>Requires statistical adjustment</td>
            </tr>
            <tr>
                <td>0.25 &lt; standardized difference</td>
                <td>Does not satisfy baseline equivalence requirement</td>
            </tr>
        </tbody>
    </table>
    <p class="note">Note: These standards are adopted from the What Works Clearinghouse, an initiative of the U.S. Department of Education. See https://ies.ed.gov/ncee/wwc/Docs/referenceresources/wwc_brief_baseline_080715.pdf.</p>
</div>