<div class="no-page-break">
    <% 
    var tabprefix = "";
    if(eval.last_tool == "Share Your Results"){
    tabprefix = "A.";
    }
    var baselineTabNum = defs.Baseline_Tab_Num;
    if(eval.last_tool == "Matching") {
        baselineTabNum = defs.Baseline_Tab_Num - 1;
    }
    %>
    <table id="table2">
        <caption>
            Table <%= tabprefix %><%= baselineTabNum %>. Standards for similarity of groups
        </caption>

        <thead>
            <tr>
                <th>Absolute value of difference between groups</th>
                <th>Balance</th>
                <th>Conclusion</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>standardized difference &le; 0.05</td>
                <td>Great</td>
                <td>Satisfies similarity requirement</td>
            </tr>
            <tr>
                <td>0.05 &lt; standardized difference &le; 0.25</td>
                <td>Good</td>
                <td>Requires statistical adjustment</td>
            </tr>
            <tr>
                <td>0.25 &lt; standardized difference</td>
                <td>Unbalanced</td>
                <td>Does not satisfy similarity requirement</td>
            </tr>
        </tbody>
    </table>
    <p class="note">Note: These standards are adopted from the What Works Clearinghouse, an initiative of the U.S. Department of Education. See https://ies.ed.gov/ncee/wwc/Docs/referenceresources/wwc_brief_baseline_080715.pdf.</p>
</div>