 <% if(evalLists.length>0){
                console.log(evalLists.length);
                var d, tech_name, outcomes, grades, id, state_district;


                for (var i=0; i < evalLists.length; i++){
                grades = []; outcomes=[];
                id =evalLists[i]._id ;
                d = new Date(evalLists[i].created_at);
                if (evalLists[i].basics) tech_name = evalLists[i].basics.Basics_Tech_Name;

                title = evalLists[i].title;
                var status=parseInt(evalLists[i].status) + "% Completed";
                var statuslength = evalLists[i].status > 0 ? (200*(evalLists[i].status/100))  : 0;
                var statusstyle = evalLists[i].status == 100 ? "completed" : "";
                state_district =evalLists[i].planContext.District_State;
                if (evalLists[i].planContext.Outcomes) {
                outcomes = evalLists[i].planContext.Outcomes;
                foutcomes = outcomes.join(', ');

                }


                if (evalLists[i].planContext){
                if (evalLists[i].planContext.Grades) {
                var ln = evalLists[i].planContext.Grades.length

                if (ln) {
                grades = evalLists[i].planContext.Grades[0] +  " - " + evalLists[i].planContext.Grades[ln-1];
                }

                }
                }


                %>
<tr>
    <% if (user.isAdmin) { %>
    <td>
        <a class="btn-link sec-label " href="/coach/<%= id %>" id="viewbrief">VIEW</a>
        | <a class="btn-link sec-label " href="#deleteConfirm" data-toggle="modal" data-delete-id="<%= id %>" data-delete-title="<%= title %>">DELETE</a>
    </td>
    <% } %>
    <td><%= title %> </td>
    <td><%= tech_name %></td>
    <td><%= state_district %></td>
    <td><%= grades %></td>
    <td><%= outcomes %></td>
    <td> <%= status %></td>
    <td><%= d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() %></td>
</tr>
                <% } } %>

