<div class="container-fluid">
    
    <% if(evalLists) { %>
    <h2 class="page-title ">Evaluation management</h2>
    <table id="myTable" data-order='[[ 1, "asc" ]]' class="table table-striped">
        <thead>
            <tr>
                <% if (user.isAdmin) { %>
                <th>  </th>
                <% } %>
                <th>Title</th>
                <th>Technology name</th>
                <th>State district</th>
                <th>Grades</th>
                <th>Outcome areas</th>
                <th>Status</th>
                <th>Date started</th>
            </tr>
        </thead>
        <tbody>
            
            <% if(evalLists.length>0){

            var d, tech_name, outcomes, grades, id, state_district;


            for (var i=0; i < evalLists.length; i++){
            grades = []; outcomes=[];
            id =evalLists[i]._id ;
            d = new Date(evalLists[i].created_at);
            if (evalLists[i].basics) tech_name = evalLists[i].basics.Basics_Tech_Name;

            title = evalLists[i].title;
            var status=parseInt(evalLists[i].status) + "% Completed";
            var statuslength = evalLists[i].status > 0 ? (200*(evalLists[i].status/100))  : 0;
            var statusstyle = evalLists[i].status == 100 ? "completed" : "";
            state_district =evalLists[i].planContext.District_State;
            if (evalLists[i].planContext.Outcomes) {
            outcomes = evalLists[i].planContext.Outcomes;
            foutcomes = outcomes.join(', ');

            }


            if (evalLists[i].planContext){
            if (evalLists[i].planContext.Grades) {
            var ln = evalLists[i].planContext.Grades.length

            if (ln) {
            grades = evalLists[i].planContext.Grades[0] +  " - " + evalLists[i].planContext.Grades[ln-1];
            }

            }
            }


            %>
            <tr>
                <% if (user.isAdmin) { %>
                <td>
                    <a class="btn-link sec-label " href="/coach/<%= id %>" id="viewbrief">VIEW</a>
                    | <a class="btn-link sec-label " href="#deleteConfirm" data-toggle="modal" data-delete-id="<%= id %>" data-delete-title="<%= title %>">DELETE</a>
                </td>
                <% } %>
                <td><%= title %> </td>
                <td><%= tech_name %></td>
                <td><%= state_district %></td>
                <td><%= grades %></td>
                <td><%= outcomes %></td>
                <td> <%= status %></td>
                <td><%= d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() %></td>
            </tr>
            <% } } %>
        </tbody>
    </table>
    <% } %>
    <div id="deleteConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Evaluation</h4>
                </div>
                <div class="modal-body">
                    <label>
                        Are you sure you want to delete <label id="evaltl"></label>?
                    </label>
                    <input type="hidden" id="toDeleted" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">CANCEL</button>
                    <button type="button" id="delEval" class="btn btn-primary btn-lg" data-dismiss="modal">DELETE</button>
                </div>
            </div>
        </div>
    </div>

</div>

