<!-- views/partials/footer.ejs -->
<nav class="footer navbar-default" role="navigation">
    <div class="row">
        <div class="col-xs-4">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <h3 class="sec-label">Ed Tech RCE Coach <span style="text-transform: none;"><em>beta</em></span></h3>
                </a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-xs-8">



            <ul class="footer-list">
                <li>
                    <a href="/About" class="sec-label">About</a>
                </li>
                <li>
                     <a href="/PreviewTools" class="sec-label">Preview Tools </a>
                </li>
                <li>
                    <a href="/TermsOfUse" class="sec-label">Terms of Use</a>
                </li>
                <li>
                    <a href="/PrivacyPolicy" class="sec-label">Privacy Policy</a>
                </li>

            </ul>
            <p class="text-center text-muted">&copy; 2016 Mathematica Policy Research, Inc. </p>
        </div>
    </div>
</nav>
