<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/partials/footer.ejs -->
<div class="clearfix" style="margin-top: 20px;">&nbsp;</div>
<nav class="footer navbar-default" role="navigation">
    <div class="row">
        <div class="col-xs-4">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <h3 class="sec-label">Ed Tech RCE Coach <span style="text-transform: none;"><em>beta</em></span></h3>
                </a>
            </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-xs-8">
            <div class="col-xs-4">
                <ul class="footer-list">
                    <li>
                        <a href="/About" class="sec-label">About</a>
                    </li>
                
                    <li>
                        <a href="/TermsOfUse" class="sec-label">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy" class="sec-label">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="col-xs-8">
                <ul style="list-style:none;margin-top:20px;">
                    <li>
                        <a class="sec-label" onclick="window.open('/static/pdf/Glossary.pdf', ''); return false; " href="javascript:void(0);">
                           Glossary</a>
                    </li>
                    <li>
                        <a class="sec-label" onclick="window.open('/static/pdf/RCE Coach FAQs.pdf', ''); return false; " href="javascript:void(0);">
                            FAQ
                        </a>
                    </li>
                    <li>
                        <a href="/PreviewTools" class="sec-label">Guides and Reference Resources </a>
                    </li>
                </ul>
            </div>         
        </div>
        <div>
            <p class="text-center text-muted">&copy; 2016 Mathematica Policy Research, Inc. </p>
        </div>
        <div class="clearfix"></div>
    </div>
</nav>
