<!-- views/partials/header.html -->

<nav class="navbar navbar-default" role="navigation">
 
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <h3 class="sec-label">Rapid Cycle Evaluation <span style="text-transform: none;"><em>beta</em></span></h3>
            </a>
        </div>
 
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="nav-collapse">
       
        <ul class="nav navbar-nav pull-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <!-- The Profile picture inserted via div class below, with shaping provided by Bootstrap -->
                    <span class="fa fa-user" style="color: #000;"></span>
                    <%= user.profile.user_name %> <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/setting">Edit Profile</a>
                    </li>
                    <li role="separator" class="divider"></li>
                    <li>
                        <a href="/logout">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</nav>