<% if(lists.length>0){
var id, order, name,  url_name, topic_areas_covered, source, url_source, type;
var tablename = ["student", "teacher" , "other"];
for (var k=0; k < tablename.length; k++){

     var list_outcome = lists.filter(function (x) {  return x.type.toLowerCase().indexOf(tablename[k]) !== -1 });

 %>
<% if(list_outcome.length> 0) {   %>
<div class="row">
    <table id="studentoutcome" data-order='[[ 0, "asc" ], [1, "asc"]]' class="table table-striped">
        <caption><%= list_outcome[0].type %> (Click the table header to expend/collapse outcome lists)</caption>
        <thead>
            <tr>
                <th>No.</th>
                <th>name</th>

                <th>topic areas covered</th>
                <th>source</th>
           </tr>
        
       </thead>
        <tbody style="display:none;">
            <%

            for (var i=0; i < list_outcome.length; i++){

            id =list_outcome[i]._id ;
            order = list_outcome[i].order;
            name =list_outcome[i].name;
            url_name = list_outcome[i].url_name;
            topic_areas_covered=list_outcome[i].topic_areas_covered.split(";");

            source =list_outcome[i].source;

            url_source =list_outcome[i].url_source;

            %>
            <tr>
                <td data-order="<%= i %>"><%= order %></td>
                <td><label><a href="<%= url_name %> "><%= name %></a></label> </td>
                <td>
                    <ul>
                        <% for (var j=0; j< topic_areas_covered.length; j++){ %>
                        <li>
                            <%= topic_areas_covered[j] %>
                        </li>
                        <% } %>
                    </ul>
                </td>
                <td>
                    <% if(url_source) { %><label><a href="<%= url_source %>"><%= source %></a></label>
                    <% } else { %> <label><%= source %></label>
                    <% } %>
                </td>
            </tr>
            <% }  %>
        </tbody>

    </table>
</div>  
<% } } } %>


