<div class="col-xs-12 content">
   
    <% if(publishlists.length>0){
    var d, tech_name, author, company, outcomes, grades, id;

    for (var i=0; i < publishlists.length; i++){
    grades = []; outcomes=[];
    id =publishlists[i]._id ;
    d = new Date(publishlists[i].published_at);
    tech_name = publishlists[i].basics.Basics_Tech_Name;
    author = publishlists[i].author;
    title = publishlists[i].title;
    company = publishlists[i].company;

    if (publishlists[i].planContext.Outcomes) {
    outcomes = publishlists[i].planContext.Outcomes;
    foutcomes = outcomes.join(', ');
 
    }


    if (publishlists[i].planContext.Grades){
    grades = publishlists[i].planContext.Grades;
    }


    var last = grades.length - 1;
    %>

    <div class="row dash-well r_i " id="<%= id %>">
        <div class="row">
            <div class="col-xs-2">
                <div class="r_f "><a class="r_f btn btn-primary" href="/shareresult/<%= id %>?sharing=1&backto=publications" id="viewbrief">VIEW</a></div>
            </div>
            <div class="col-xs-10">
                <div class="r_t"><%= tech_name %></div>
                <div class="r_a"><%= title %></div>
                <div class="r_a"><%= author %> <%= " - " + company %></div>
                <div class="r_d"><%=  d.getMonth() + 1+ '/' + d.getDate() + '/' + d.getFullYear()  %></div>
                <div class="r_g"><strong>Grades: </strong><%= grades[0] + " - " + grades[last] %></div>
                <div class="r_oc"><strong>Outcome areas:</strong> <%- foutcomes %></div>
            </div>
        </div>
    </div>
    <% }} else { %>
    <p>No publication found.</p>
    <% } %>
</div>