<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<input type="hidden" id="user_email" value="<%= user %>" />
<input class="hidden" name="status" id="status" />
<input class="hidden" name="returnpath" id="returnpath" />
  <%  if (user != "NOAUTHENTICATED" && !query.peeking ) { %>
<div class="bottom-buttons">
    <a href="/appendix/<%= eval._id %>?sharing=<%= sharing %>&backto=<%= backto %>" class="btn btn-info btn-lg appendix">VIEW TECHNICAL APPENDIX</a>
    <a href="/shareresult/<%= eval._id %>?sharing=<%= sharing %>&backto=<%= backto %>" class="btn btn-info btn-lg brief">VIEW BRIEF</a>
    <button type="button" id="open-download-modal" class="btn btn-info btn-lg appendix" role="link" data-toggle="modal" data-target="#download-modal">DOWNLOAD </button>
    <% if (display === 'online' && sharing != 1) { %>
    <button type="button" id="open-complete-evaluation-modal" class="btn btn-primary btn-lg appendix" role="link" data-toggle="modal" data-target="#complete-evaluation-modal">COMPLETE EVALUATION </button>
    <% } %>
</div>
        <% } %>
