<!-- views/partials/tool.html -->

<div class="row">
    <div class="step-row">
        <div class="col-xs-12">
            <h1><%= wizardStep.name %></h1>
            <p><%= wizardStep.intro %></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="tool-row">
        <% for (var i=0; i< tools.length; i++) {
        var tool =[], status = "", d = "";
        if (eval.toolsvisited) {tool = eval.toolsvisited.filter(function (x) { return x.name === tools[i].name });
            if (tool.length > 0) {
                 status = tool[0].status;
                 d=new Date(tool[0].visited_at)
                }
        }       
        var current = last_tool == tools[i].name ? "current" : "";
        var buttondivid = tools[i].name;      
        %>
        <div class="col-xs-3">

            <div class="tool-div <%= status %> <%= current %>">
                <div class="tool-title">
                    <h2><%= tools[i].name %> </h2>
                    <p><%= tools[i].desc %></p>
                </div>
                <div class="tool-status status">
                    <% if (tool.length > 0) { %>
                    <p>
                        Status: <strong><%= status %></strong><br/>
                        Last Visit: <strong><%= d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() %></strong>
                    </p>

                    <% } %>
                    <% if(tool.length == 0 ) { %>
                    <p>&nbsp;</p>
                    <% } %>
                </div>
                <div class="tool-view-btn" >
                    <% var option="";  if (tools[i].path) {option=tools[i].path;} %>
                    <% if (option.indexOf(".pdf") !== -1)  { %>
                    <a onclick="window.open('<%= option %>', ''); return false" href="javascript:void(0);"  class="tool-view-button">View</a>
                    <% } else { %>
                    <a href="<%= option %>" class="tool-view-button">View</a>
                    <% } %>
                </div>
            </div>
        </div>

        <% } %>

        <div style="clear: both; line-height: 0">&nbsp;</div>
    
        
    </div>
</div>



