<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<input type="hidden" id="user_email" value="<%= user %>" />
<input class="hidden" name="status" id="status"/>
<input class="hidden" name="returnpath" id="returnpath" />
 
<div class="bottom-buttons">
    <button type="submit" id="Save" class="btn btn-info btn-lg "><span class="tooltip-gr" data-toggle="tooltip">SAVE CHANGES</span></button>
    <button type="submit" id="Complete" class="btn btn-primary btn-lg"><span class="tooltip-gr" data-toggle="tooltip">SAVE &amp; COMPLETE</span></button>
</div>
       
