<!-- views/partials/header.html -->

<nav class="navbar navbar-default" role="navigation">

    <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
            <h3 class="sec-label">
                Ed Tech RCE Coach <span style="text-transform: none;"><em>beta</em></span>
            </h3>
        </a>
    </div>
</nav>
<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/PreviewTools"><span class="fa fa-caret-left"></span> Back to Preview Tools</a></li>
    </ol>
</div>