<!-- views/partials/tool.html -->

<div class="row">
    <div class="step-row">
        <div class="col-xs-12">
            <h1><%= wizardStep.name %></h1>
            <p><%= wizardStep.intro %></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="tool-row">
        <% for (var i=0; i< tools.length; i++) { %>

            <div class="col-xs-3">

                <div class="tool-div">
                    <div class="tool-title">
                        <h2><%= tools[i].name %> </h2>
                        <p><%= tools[i].desc %></p>
                    </div>
                    <% var tool = eval.toolsvisited.filter(function (x) { return x.name === tools[i].name });
                        if (tool.length > 0) {var status =tool[0].status; var d=new Date(tool[0].visited_at) %>
                    <div class="tool-status status">
                        <p>Status: <%= status %></p>
                        <p>Last Visited: <%= d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() %></p>
                    </div>
                    <% } %>
                    <div>
                        <% var option=""; if (tools[i].path) {option=tools[i].path } %>
                        <a href="<%= option %>" class="button">View</a>
                    </div>
                </div>
            </div>

       <% } %>
       
        <div style="clear: both; line-height: 0">&nbsp;</div>
    </div>
