<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/partials/header.html -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/logout">
            <h3 class="sec-label">
                Ed Tech RCE Coach <span style="text-transform: none;"><em>beta</em></span>
            </h3>
        </a>
    </div>
</nav>
<div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/PreviewTools"><span class="fa fa-caret-left"></span> Back to Preview Tools</a></li>
    </ol>
</div>