<div class="col-xs-12 content">
    <div><p>Total count: <%= userLists.length %></p></div>
    <% if(userLists.length>0){
    var adminId =user.id;
    var d, username, company, email, id;

    for (var i=0; i < userLists.length; i++){
    grades = []; outcomes=[];
    id =userLists[i]._id ;
    d = new Date(userLists[i].created_at);
    username = userLists[i].profile.user_name;
    email =userLists[i].local.email;
    company = userLists[i].profile.organization_name;

    %>

    <div class="row dash-well r_i " >
        <div class="row">
            <div class="col-xs-12">      
                <a class="r_f btn btn-primary" href="/api/setting/<%= id %>" id="viewbrief">Update</a> 
                <% if (adminId != id)   { %>          
                <a class="r_f btn btn-primary" href="#deleteConfirm" data-toggle="modal" data-delete-id="<%= id %>" data-delete-title="<%=email %>">Delete</a>
                <% } %>
                <%= username %>
                <%= email %>
                <%- company %>
                <%= d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() %>
            </div>        
        </div>
    </div>

    <% } } %>
</div>


<div id="deleteConfirm" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Evaluation</h4>
            </div>
            <div class="modal-body">
                <label>
                    Are you sure you want to delete <label id="evaltl"></label>?
                </label>
                <input type="hidden" id="toDeleted" />

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">CANCEL</button>
                <button type="button" id="delUser" class="btn btn-primary btn-lg" data-dismiss="modal">DELETE</button>
            </div>
        </div>
    </div>
</div>