<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Evaluation management</title>
    <% include ../views/partials/scriptAdminHeader.html %>
</head>
<body class="one-col">
    <% include ../views/partials/header.html %>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"><span class="fa fa-caret-left"></span> Back to Evaluation Dashboard</a></li>
        </ol>
    </div>
    <div class="row">
        <label class="hidden" for="keywords">Enter search keywords.</label>
        <div class="col-lg-10">
            <input id="keywords" type="text" name="search" placeholder="Technology, outcome, grade, district state, publish author or organization; For all, just click the SEARCH button">
        </div>
        <div class="col-lg-2">
            <input type="button" value="SEARCH" class="btn btn-primary" id="btnSearch">
        </div>
       
    </div>
    
    <!--<div class="container-fluid">

        <input type="hidden" id="user_name" value="<%= user.profile.user_name %>" />
        <input type="hidden" id="user_email" value="<%= user.email %>" />

        <div class="page-header">
            <p class="pull-right">
                <a href="/userAdmin">User management <span class="fa" aria-hidden="true"></span></a>
            </p>
            <h1 class="page-title">Evaluation management</h1>

            <div class="row">
                <div class="fbar">
                    <label class="hidden" for="keywords">Enter search keywords.</label>
                    <input id="keywords" type="text" name="search" placeholder="Technology, outcome, grade, district state, publish author or organization">
                    <input type="button" value="SEARCH" class="btn btn-primary" id="btnSearch">
                </div>

            </div>

        </div>
        
    </div>-->
    <div id="result"><div class="container-fluid hidden">
    <h2 class="page-title ">Evaluation management</h2>
    <table id="myTable" data-order='[[ 1, "asc" ]]' class="table table-striped">
        <thead>
            <tr>
                <% if (user.isAdmin) { %>
                <th>  </th>
                <% } %>
                <th>Title</th>
                <th>Technology name</th>
                <th>State district</th>
                <th>Grades</th>
                <th>Outcome areas</th>
                <th>Status</th>
                <th>Date started</th>
            </tr>
        </thead>
        <tbody id="tbody"></tbody>
    </table>
    <div id="deleteConfirm" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete Evaluation</h4>
                </div>
                <div class="modal-body">
                    <label>
                        Are you sure you want to delete <label id="evaltl"></label>?
                    </label>
                    <input type="hidden" id="toDeleted" />

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">CANCEL</button>
                    <button type="button" id="delEval" class="btn btn-primary btn-lg" data-dismiss="modal">DELETE</button>
                </div>
            </div>
        </div>
    </div>

</div></div>
    

    <% include ../views/partials/footer.html %>
    <script type="text/javascript">
        $(document).ready(function () {          
            var buttonCommon = {
                exportOptions: {
                    format: {
                        body: function (data, row, column, node) {
                            var dt;
                            return column === 0 ?
                                '' :
                                data;
                        }
                    }
                }
            };
            $('#myTable').dataTable({
                "iDisplayLength": 10,
                "dom": "Bfrtlpi",
                "buttons": [
                   $.extend(true, {}, buttonCommon, {
                       extend: 'excel'
                   })
                ]
            });
            $('#deleteConfirm').on('show.bs.modal', function (e) {

                //get delete-id attribute of the clicked element
                var deletedId = $(e.relatedTarget).data('delete-id');
                var title = $(e.relatedTarget).data('delete-title');

                //populate the textbox
                $(e.currentTarget).find('input[id="toDeleted"]').val(deletedId);
                $(e.currentTarget).find('label[id="evaltl"]').text(title);
            });
            $("#delEval").click(function () {
                var idtobedeleted = $("#toDeleted").val();
                var url = '/api/delEval';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ "id": idtobedeleted }),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {

                    }
                }
                )
                $(document).ajaxStop(function () { location.reload(true); });
            });
            $('#btnSearch').click(function () {
                var search = $('#keywords').val();
                if (search == "") search = "all";
                //$this = $(e.target);
               
                var url = "api/admin/" + search;
                $.get(url, function (data) {
                    $("#tbody").html("");
                    $("#tbody").html(data);
                    $(".container-fluid").removeClass("hidden")
                });

            });
        });

    </script>
</body>
</html>
