<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Share Your Results - Ed Tech RCE Coach</title>
    <% include ../views/partials/downloadStyle.html %>
    <% include('../views/partials/brief_appendix_evaluation_processing.html') %>      
    <body class="brief">
            <div class="container-fluid" > 
                <div class="row" > 
                    <div class="col-xs-12" > 
                        
                        <h1 class="tool-title" > Findings Brief Appendix</h1 > 
                        <hr / > 

                        <div class="row" > 
                            <div class="col-xs-12" > 
                                <p>
                                    This document provides a technical overview of how the RCE Coach determines the analytical portions of your Findings Brief.
                                </p>

                                <div class="no-page-break">
                                    <h2 > Random Assignment Output</h2 >
                                    <p>
                                        Randomization attempts to create two groups that are as similar as possible in both observed and unobserved characteristics. 
                                        To do this, the Coach takes advantage of the base R function "sample.int." You can think of this process as flipping a digital, fair, 
                                        coin to assign students to either pilot the technology or not. 
                                    </p>
                                    <p>
                                        Additionally, the Coach is capable of performing checks to verify that the randomization process worked as expected. 
                                        To do this, the Coach uses the baseline equivalence standard from the What Works Clearinghouse. 
                                        If differences on all the variables selected to control for balance are less than 0.25 standard deviations, 
                                        we consider randomization worked as expected. For more information on randomization view the Randomization Overview or Randomization Technical Appendix.
                                    </p>
                                </div>

                                <% if (baseline_results_by_grade && baseline_vars && baseline_vars.length > 0) { %>
                                    <div class="no-page-break">
                                        <br />
                                        <em><strong>Table 1.</strong> Background Characteristics of <%= capitalize(Basics_Users) %> in the Evaluation Sample</em>
                                        <table id="table1">
                                            <thead>
                                                <tr>
                                                    <% if (baseline_by_grade) { %>
                                                    <th>Grade</th>
                                                    <% } %>
                                                    <th> Characteristic</th>
                                                    <th> Full Sample</th>
                                                    <th> Treatment</th>
                                                    <th> Comparison</th>
                                                    <th> Difference</th>
                                                    <th> Effect Size</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                <% for (grade in baseline_results_by_grade) {

                                                    try {
                                                        var baseline_var_means = baseline_results_by_grade[grade].baseline_var_means;
                                                        var characteristics = Object.keys(baseline_var_means);

                                                        for (index in characteristics) {
                                                            var characteristic = characteristics[index]; %>
                                                            <tr>
                                                                <% if (baseline_by_grade) { %>
                                                                <td> <%= grade %></td>
                                                                <% } %>
                                                                <td> <span class="table1-relabel-baseline-var-<%- index %>"><%= baseline_vars_relabel[index] %></span></td>
                                                                <td> <%= round3(baseline_var_means[characteristic].overall[0]) %></td>
                                                                <td> <%= round3(baseline_var_means[characteristic].intervention[0]) %></td>
                                                                <td> <%= round3(baseline_var_means[characteristic].comparison[0]) %></td>
                                                                <td> <%= round3(baseline_var_means[characteristic].difference[0]) %></td>
                                                                <td> <%= round3(baseline_var_means[characteristic].effect_size[0]) %></td>
                                                            </tr>
                                                        <% } %>
                                                        <tr>
                                                            <% if (baseline_by_grade) { %>
                                                            <td></td>
                                                            <% } %>
                                                            <td> Number of <%= Basics_Users %></td>
                                                            <td> <%= n_overall %></td>
                                                            <td> <%= n_treatment %></td>
                                                            <td> <%= n_comparison %></td>
                                                            <td> --</td>
                                                            <td> --</td>
                                                        </tr>
                                                    <% } catch (e) { %>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                            </tbody>
                                        </table>
                                        <em>
                                            Table 1 above summarizes key characteristics of your sample.
                                            If any of the characteristics have a large value in the "Difference" column, those are characteristics in which differences between users and non-users remain after matching.
                                            Differences at baseline on important measures (like a baseline test) mean you should interpret the differences in outcomes with caution -
                                            they may be caused in part by pre-existing differences between users and non-users.
                                            You can also check this by comparing the effect size to the values indicated in Table 2.
                                            You want the effect size to be less than 0.05.
                                        </em>
                                    </div>
                                <% } %>

                                <div class="no-page-break">
                                    <br />
                                    <br />
                                    <em><strong>Table 2.</strong> WWC standards for baseline equivalence</em>
                                    <table id="table2">
                                        <thead>
                                            <tr>
                                                <th>Absolute value of difference between groups</th>
                                                <th>WWC conclusion on baseline equivalence</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>effect size &le; 0.05</td>
                                                <td>Satisfies baseline equivalence requirement</td>
                                            </tr>	
                                            <tr>
                                                <td>0.05 &lt; effect size &le; 0.25</td>
                                                <td>Requires statistical adjustment</td>
                                            </tr>
                                            <tr>
                                                <td>0.25 &lt; effect size</td>
                                                <td>Does not satisfy baseline equivalence requirement</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="no-page-break">
                                    <br />
                                    <em><strong>Figure 1.</strong> Similarity (Balance) of Users and Non-Users in Matched Sample</em>
                                
                                    <img src="data:image/png;base64,<%- baseline_plot %>">

                                    <p>
                                        <em>
                                            Figure 1 above indicates whether the sample created by matching contains users and non-users of the educational technology that are equivalent on important measures,
                                            at baseline (before the study period). If your sample has good baseline equivalency, or balance, then you can be more confident that differences in the outcome you're
                                            studying are caused by the educational technology you're testing.
                                        </em>
                                    </p>
                                </div>
                                
                                <div class="no-page-break">
                                    <h2> Impact Estimation Output</h2>

                                    <p>
                                        Once the data is loaded, and the other inputs are specified, the RCE Coach calculates the probability that the effect of an educational technology is above or below a threshold selected by the user 
                                        (in Figure 2, the threshold, as indicated by the vertical line, is <%= Success_Effect_Size %>). 
                                        This is the probability that the educational technology is moving the needle, and is known as the posterior distribution. 
                                        Figure 2 illustrates this calculation.
                                    </p>
                                </div>

                                <% for (grade in analysis_results_by_grade) {
                                    try {
                                        var grade_results = analysis_results_by_grade[grade];
                                        var probability = stripPercent(grade_results.interpretation.probability[0]);
                                        var success = (probability > Pass_Probability);

                                        var interpretation_1 = grade_results.interpretation.texts[1];
                                        var interpretation_2 = grade_results.interpretation.texts[0];

                                        var impact = grade_results.impact || '[not found]';
                                        var posterior_plot = grade_results.posterior_plot;
                                        
                                        var results_clean = true;

                                    } catch (e) {
                                        var results_clean = false;
                                    }
                                %>

                                    <% if (analysis_by_grade) { %>
                                        <h2 class="grade-header">Grade <%= grade %></h2>
                                    <% } %>
                                    
                                    <div class="no-page-break">
                                        <% if (results_clean) { %>
                                            <br />
                                            <em><strong>Figure 2.</strong> Probability that the <%= Basics_Tech_Name %> <%= Outcome_Direction %> outcomes by <%= Success_Effect_Size %> units or more, given the uploaded data</em>

                                            <img src="data:image/png;base64,<%- posterior_plot %>">

                                            <p>
                                                This figure tells us that:
                                            </p>
                                            <ul>
                                                <li> <%= interpretation_1 %></li>
                                                <li> <%= interpretation_2 %></li>
                                                <li> The point estimate (e.g., our best guess) of the effect of the educational technology on the outcome is <%= round3(impact) %>. This number is calculated as the mean of the posterior distribution.</li>
                                            </ul>
                                        <% } else { %>
                                            <p>Analysis results are missing or incomplete.
                                            </p>
                                        <% } %> 
                                    </div>
                                <% } %>

                                <p>
                                    To learn more about how the Coach estimates your technology's effect, refer to the Impact Estimation Technical Appendix.
                                </p>

                                <div class="no-page-break">
                                    <h2> Notes</h2>

                                    <ul>
                                        <li>This analysis was performed using a randomized pilot design. Several assumptions were made to simplify the user's choices. The Randomization Appendix explains these assumptions in more detail.</li>
                                        <li>This analysis was performed using a Bayesian approach, rather than a frequentist approach. Because frequentist approaches are commonly used by educational researchers, we provide results from a frequentist analysis of the same data in Table 2 below. For more information on the Bayesian statistical analysis, refer to the Impact Estimation Technical Appendix.</li>
                                        <li>This analysis was performed using the beta version ## of the RCE Coach. Please share your feedback here!</li>
                                        <li>All the code for the RCE Coach is open-source under the GPL-V3 license, and available on our Github repository at <a href="https://github.com/mathematica-mpr/edtechrce">https://github.com/mathematica-mpr/edtechrce</a></li>
                                    </ul>
                                </div>

                                <div class="no-page-break">
                                    <h2> An Alternative Approach to Calculating Impacts</h2>

                                    <p>You might be more familiar with the frequentist approach which would classify the effect of the technology as statistically significant or not. 
                                        Instead, the Coach uses a Bayesian approach which allows us to report findings using probability statements such as "There is a <%= probability %>% 
                                        probability that the educational technology is moving the needle."</p>
                                </div>

                                <div class="no-page-break">
                                    <p>The following table summarizes your findings using the frequentist approach:<p>

                                    <br />
                                
                                    <em><strong>Table 3.</strong> Impact Results Obtained Using the Frequentist Approach</em>

                                    <table id="table3">
                                        <thead>
                                            <tr>
                                                <% if (analysis_by_grade) { %>
                                                    <th><div>Grade</div></th>
                                                <% } %>
                                                <th><div>Outcome</div></th>
                                                <th><div>Impact Estimate (Effect size)</div></th>
                                                <th><div>Standard Error</div></th>
                                                <th><div>p-value</div></th>
                                                <th><div>95% confidence interval</div></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <%
                                                if (analysis_results.outcome_var) {
                                                    var outcome_var = analysis_results.outcome_var;
                                                } else if (analysis_results.args && analysis_results.args.outcome_var) {
                                                    var outcome_var = analysis_results.args.outcome_var;
                                                } else {
                                                    var outcome_var = '[outcome_var]';
                                                }
                                                
                                                for (grade in analysis_results_by_grade) {
                                                    try {
                                                        var grade_results = analysis_results_by_grade[grade];

                                                        var impact = parseFloat(grade_results.freq.impact);
                                                        var se = parseFloat(grade_results.freq.se);

                                                        var effect_size = grade_results.freq.effect_size;

                                                        if (grade_results.freq.ub && grade_results.freq.lb) {
                                                            var lb = parseFloat(grade_results.freq.lb);
                                                            var ub = parseFloat(grade_results.freq.ub);
                                                            var ci = [lb, ub];
                                                        } else {
                                                            var ci = [impact - (1.96 * se), impact + (1.96 * se)];
                                                        }

                                                        var ci_string = '[' + round3(ci[0]) + ', ' + round3(ci[1]) + ']';

                                                        var pvalue = grade_results.freq.pvalue;
                                                        var significant = (pvalue <= 0.05) ? '' : ' not';

                                                        var pvalue_comparison_sign = (pvalue <= 0.05) ? '<=' : '>';

                                                        var results_clean = true;
                                                    } catch(e) {
                                                        var results_clean = false;
                                                    }

                                                    if (results_clean) { %>
                                                        <tr>
                                                            <% if (analysis_by_grade) { %>
                                                                <td><div><%= grade %></div></td>
                                                            <% } %>
                                                            <td><div><%= outcome_var %></div></td>
                                                            <td><div><%= round3(impact) %> <br /> (<%= round3(effect_size) %>)</div></td>
                                                            <td><div><%= round3(se) %></div></td>
                                                            <td><div><%= round3(pvalue) %></div></td>
                                                            <td><div><%= ci_string %></div></td>
                                                        </tr>

                                                    <% } else { %>
                                                        <tr>
                                                            <td>Frequentist analysis results missing or incomplete.</td>
                                                        </tr>
                                                    <% } %>
                                                <% } %>
                                        </tbody>
                                    </table>
                                </div>

                                <br />
                                <br />
                                
                                <% if (results_clean) { %>
                                    <p>
                                        With the frequentist approach, your statistical analysis would typically begin with a null hypothesis stating that the true impact of the technology is 0.
                                        You then calculate a point estimate, as seen under Impact Estimate in Table 3 (<%= round3(impact) %>).
                                        This estimate is informed by the observed difference between users and non-users.
                                        You then test the likelihood of achieving your point estimate, or a value more extreme than your point estimate,
                                        given that the true impact is 0 (as stated by your null hypothesis).
                                        This likelihood, which is a calculated probability, is your p-value.
                                        By comparing the p-value (as seen in Table 2) to a designated cutoff, you can test whether or not you should reject the null hypothesis.
                                        Traditionally researchers have used 0.05 as the cutoff. In this case, because <%= round3(pvalue) %> <%= pvalue_comparison_sign %> 0.05, we would<%= significant %> reject the null hypothesis, i.e.<%= significant %> reject
                                        the conclusion that the impact of the technology is 0. You can also make a conclusion about the null hypothesis by looking at the confidence interval.
                                        If the interval includes 0, you cannot reject the null hypothesis. If it does not include 0 you can reject the null hypothesis.
                                    </p>

                                    <p>
                                        It is important to note that the impact estimate is not the true effect of the technology, just what could be estimated based on the study sample.
                                        The confidence interval allows us to estimate a plausible range of values for the true effect, which is unknown, based on the observed impact in the study sample.
                                        You might be tempted to think that values at the end of the interval are less likely than values in the middle, but this is not correct.
                                        When interpreting the <%= ci_string %> confidence interval, you should keep in mind that all the values contained in the interval are equally likely to be the
                                        true impact of the intervention. The 95% threshold for the confidence interval is commonly used, though you could calculate the interval for a different threshold.
                                        What this means is that if you were to conduct your study 100 times, in 95 cases you would calculate an interval that includes the true effect of the technology.
                                    </p>
                                <% } %>
                                

                                <br />
                                <br />
                                <p class="text-muted">
                                    <em><small>
                                    &copy; 2017, Mathematica Policy Research, Inc.  This document carries a Creative Commons (CC BY) license which permits re-use of content with attribution as follows: 
                                    Developed by Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded by the U.S. Department of Education's Office of Educational Technology through Contract No. ED-OOS-15-C-0053.
                                    </small></em>
                                </p>
                            </div > 
                        </div > 
                    </div>
                </div>
            </div>
        </div>
                
    </body > 
</html >
            