<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
   
    <title>Evaluation management</title>
    <% include ../views/partials/scriptAdminHeader.html %>
 
</head>
<body class="one-col">
    <% include ../views/partials/header.html %>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"><span class="fa fa-caret-left"></span> Back to Evaluation Dashboard</a></li>
        </ol>
    </div>
 
    <div id="result">
        <% include ../views/partials/coachStepsTable.html %>
    </div>
    <% include ../views/partials/footer.html %>
    <script type="text/javascript">
        $(document).ready(function () {
            
            var buttonCommon = {
                exportOptions: {
                    format: {
                        body: function (data, row, column, node) {
                            var dt;
                            return column === 0 ?
                                '' :
                                data;
                        }
                    }
                }
            };
            $('#myTable').dataTable({
                "iDisplayLength": 10,
                "dom": "Bfrtlpi",
                "buttons": [
                   $.extend(true, {}, buttonCommon, {
                       extend: 'excel'
                   })
                ]
            });
          

            $('#deleteConfirm').on('show.bs.modal', function (e) {
                //get delete-id attribute of the clicked element
                var deletedId = $(e.relatedTarget).data('delete-id');
                var title = $(e.relatedTarget).data('delete-title');
                //populate the textbox
                $(e.currentTarget).find('input[id="toDeleted"]').val(deletedId);
                $(e.currentTarget).find('label[id="step"]').text(title);
            });
            
            $("#delCoachStep").click(function () {
                var idtobedeleted = $("#toDeleted").val();
                var url = '/api/delCoachStep';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ "id": idtobedeleted }),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {

                    }
                }
                )
                $(document).ajaxStop(function () { location.reload(true); });
            });
            $('#updateConfirm').on('show.bs.modal', function (e) {
                //get delete-id attribute of the clicked element
                var id = $(e.relatedTarget).data('update-id');
                var name = $(e.relatedTarget).data('update-name');
                var step = $(e.relatedTarget).data('update-step');
                var intro = $(e.relatedTarget).data('update-intro');
                //populate the textbox
                $(e.currentTarget).find('input[id="toUpdate"]').val(id);
                $(e.currentTarget).find('input[id="step_name"]').val(name);
                $(e.currentTarget).find('input[id="step_num"]').val(step);
                $(e.currentTarget).find('textarea[id="step_intro"]').text(intro);
            });

            $("#upsertCoachStep").click(function () {
                var idtobedeleted = $("#toUpdate").val();
                var name = $("#step_name").val();
                var step = $("#step_num").val();
                var intro = $("#step_intro").val();
                //alert($("textarea#step_intro").val());
                var url = '/api/upsertCoachStep';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ "id": idtobedeleted, "name": name, "step": step, "intro": intro }),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {

                    }
                }
                )
                $(document).ajaxStop(function () { location.reload(true); });
            });
        });

    </script>
</body>
</html>
