<!DOCTYPE html>
<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->



<html lang="en">
<head>

    <title>Coach</title>
    <% include ../views/partials/scriptHeader.html %>

</head>
<body class="coach">
    <% include ../views/partials/header.html %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><span class="fa fa-caret-left"></span> Back to Dashboard</a></li>
    </ol>
    <div class="container-fluid">

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h3 class="modal-title">Edit Evaluation Name.</h3>
                    </div>
                    <div class="modal-body">
                        <p>
                            <label for="title">Enter a name for your evaluation:</label>
                            <input type="text" id="title" value="<%= eval.title %>" autofocus/>
                        </p>
                        <p>Is this evaluation a demo or trial run?</p>
                      
                        <input id="trialflag-yes" type="radio" name="trialflag" value="true" <%= eval.trialflag ? "checked" : "" %> /><label for="trialflag-yes">Yes<span class="hidden"> this is a trial evaluation</span></label>&nbsp;&nbsp;
                        <input id="trialflag-no" type="radio" name="trialflag" value="false" <%= eval.trialflag ? "" : "checked" %> /><label for="trialflag-no">No<span class="hidden"> this is not a trial evaluation</span></label><br>

                        <input type="hidden" id="evalid" value="<%= eval._id %>"/>
                        <input type="hidden" id="steps" value="<%= coachSteps %>"/>
                        <input type="hidden" id="step" value="<%= step %>"/>
                        <input type="hidden" id="stepvisited" value="<%= eval.stepsclicked %>"/>

                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">CANCEL</button>
                        <button type="button" id="getTitle" class="btn btn-primary btn-lg" data-dismiss="modal">OK</button>
                    </div>
                </div>

            </div>

        </div>
        <div class="row">
            <div class="wizard-header-row">
                <div class="col-xs-7">
                    <div class="sec-label">Evaluating</div>

                    <h2 class="eval-header" id="evalTitle"><%= eval.title %> <%- eval.trialflag ? "<br /><em><i title='trial run' class='fa fa-exclamation-triangle'></i> Trial run</em>" : "" %> <% if (eval.userid == user.id) { %>
                        <button id="forTitle" class="btn btn-link" role="link" type="button" data-toggle="modal" data-target="#myModal"><em>Edit</em></button>
                        <% } %>
                       
                    </h2>
                    


                </div>
                <div class="col-xs-2">
                    <div class="sec-label">Start Date</div>
                    <% var d = new Date(); if(eval) {d= new Date(eval.created_at);} %>
                    <p>
                        <%= d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() %>
                    </p>
                </div>
                <div class="col-xs-3">
                    <div class="sec-label">Status</div>

                    <% var status='New'; if (eval) {status = parseInt(eval.status) + "% Completed";

                    var statuslength = eval.status > 0 ? (200*(eval.status/100))  : 0;
                    var statusstyle = eval.status == 100 ? "completed" : "";

                    } %>
                    <div class="outer-status-bar"><div class="status-bar" style="width: <%= statuslength + 'px' %>;"></div></div>

                    <p>
                        <%= status %>
                    </p>
                </div>
                <div class="col-xs-12" style="padding: 0; margin: 0;">
                    <ul class="wizard-menu">
                        <!--<li id="1" class="wizard-item" hidden="hidden">
                            <p>Welcome</p>
                        </li>-->
                        <li id="2" class="wizard-item" style="padding-top: 15px;">
                            <p>Getting Started</p>
                        </li>
                        <li id="3" class="wizard-item">
                            <p>Planning Your Research</p>
                        </li>
                        <li id="4" class="wizard-item ">
                            <p>Preparing Your Data</p>
                        </li>
                        <li id="5" class="wizard-item">
                            <p>Analyzing your Data</p>
                        </li>
                        <li id="6" class="wizard-item">
                            <p>Summarizing Your Findings</p>
                        </li>
                    </ul>
                    <div style="clear: both; display: block;"></div>

                </div>
                <div style="clear: both; display: block;"></div>
            </div>
        </div>

        <h1 id="p-title"><%= coachSteps[step-2].name %></h1>
        <div class="result"><!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/partials/tool.html -->

<div class="row">
    <div class="step-row">
        <div class="col-xs-12">
            <h1></h1>
            <p></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="tool-row">
        
        <div class="col-xs-3">

            <div id="ToolDiv-0" class="tool-div NOT STARTED ">
                <div class="tool-title">
                    
                    <h2 class="form ">The Basics </h2>
                    <p>Do you have what you need to get started?</p>
                </div>
                <div class="tool-bottom">
                    <div id="StatusDiv-0" class="tool-status status">
                        
                                              
                        <p>
                            Status<br><span class="all-caps" id="status"><strong>NOT STARTED</strong></span><br>

                        </p>
                        

                    </div>
                    <div class="tool-view-btn">

                        
                        
                        <a href="/basics" class="tool-view-button btn btn-primary btn-lg ">START</a>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <input class="hidden" id="toolname" value="The Basics">
            <input class="hidden" id="toolpath" value="/basics">
            <input class="hidden" id="toolstep" value="">
            <input class="hidden" id="wizardpath" value="">
        </div>
        
        <div class="col-xs-3">

            <div id="ToolDiv-1" class="tool-div NOT STARTED ">
                <div class="tool-title">
                    
                    <h2 class="form locked">Outcome and Measure </h2>
                    <p>Define Your Outcome and Measure</p>
                </div>
                <div class="tool-bottom">
                    <div id="StatusDiv-1" class="tool-status status">
                        
                        <p>
                            Status<br><span class="all-caps" id="status"><strong>NOT AVAILABLE</strong></span><br>
                            
                            <span data-toggle="tooltip" title="You need to complete “The Basics” before you can use this tool." class="tooltip-gr">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </span>
                        </p>
                        

                    </div>
                    <div class="tool-view-btn">

                        
                        
                        <a href="/outcome_measure?peeking=1" class="tool-view-button btn btn-primary btn-lg peeking">PEEK</a>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <input class="hidden" id="toolname" value="Outcome and Measure">
            <input class="hidden" id="toolpath" value="/outcome_measure">
            <input class="hidden" id="toolstep" value="">
            <input class="hidden" id="wizardpath" value="">
        </div>
        
        <div class="col-xs-3">

            <div id="ToolDiv-2" class="tool-div NOT STARTED ">
                <div class="tool-title">
                    
                    <h2 class="guide ">Find an Instrument to Measure Your Outcome </h2>
                    <p>Find an Instrument to Measure Your Outcome</p>
                </div>
                <div class="tool-bottom">
                    <div id="StatusDiv-2" class="tool-status status">
                        
                                              
                        <p>
                            Status<br><span class="all-caps" id="status"><strong>NOT STARTED</strong></span><br>

                        </p>
                        

                    </div>
                    <div class="tool-view-btn">

                        
                        
                        <!--<button type="button" id="viewpdf" class="btn btn-primary btn-lg" >VIEW</button>-->
                        <a href="/measure_instrument" class="tool-view-button btn btn-primary btn-lg">VIEW</a>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <input class="hidden" id="toolname" value="Find an Instrument to Measure Your Outcome">
            <input class="hidden" id="toolpath" value="/measure_instrument">
            <input class="hidden" id="toolstep" value="">
            <input class="hidden" id="wizardpath" value="">
        </div>
        
        <div class="col-xs-3">

            <div id="ToolDiv-3" class="tool-div NOT STARTED ">
                <div class="tool-title">
                    
                    <h2 class="form locked">Determine Your Approach </h2>
                    <p>Discover the most appropriate design to evaluate your technology.</p>
                </div>
                <div class="tool-bottom">
                    <div id="StatusDiv-3" class="tool-status status">
                        
                        <p>
                            Status<br><span class="all-caps" id="status"><strong>NOT AVAILABLE</strong></span><br>
                            
                            <span data-toggle="tooltip" title="You need to complete “The Basics” before you can use this tool." class="tooltip-gr">
                                <i class="fa fa-question-circle" aria-hidden="true"></i>
                            </span>
                        </p>
                        

                    </div>
                    <div class="tool-view-btn">

                        
                        
                        <a href="/determine_your_approach?peeking=1" class="tool-view-button btn btn-primary btn-lg peeking">PEEK</a>
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <input class="hidden" id="toolname" value="Determine Your Approach">
            <input class="hidden" id="toolpath" value="/determine_your_approach">
            <input class="hidden" id="toolstep" value="">
            <input class="hidden" id="wizardpath" value="">
        </div>
        


        
        <div style="clear: both; line-height: 0">&nbsp;</div>
      
    </div>
</div>
<script>
    $(document).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $("#viewpdf").click(function (e) {

        var name = $("#toolname").val();
        var step = $("#wizardpath").val();
        var path = $("#toolpath").val();
        var currentStatus = $("#status").text();


        $.ajax({
            type: "POST",
            url: "../pdf_view",
            data: JSON.stringify({
                "tname": name,
                "step": step
            }),

            dataType: "json",
            contentType: "application/json",
            success: function (eval, status, xhr) {

                if (eval.toolsvisited) {
                    tool = eval.toolsvisited.filter(function (x) { return x.name === $("#toolname").val() });
                    if (tool.length > 0) {

                        status = tool[0].status;
                        var usestatus = "";
                        if (status.toLowerCase() === "completed") {
                            usestatus = "Viewed";
                        }
                        d = new Date(tool[0].visited_at);
                        var NewStatus = '<p> Status<br /><span class="all-caps"><strong>' + usestatus + '</strong></span><br />Last Visit<br /><strong><span>' + d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() + '</span></strong></p>';
                        $("#ToolDiv-" + $("#toolstep").val()).addClass(status);
                        $("#ToolDiv-" + $("#toolstep").val()).addClass("current");
                        $("#StatusDiv" + $("#toolstep").val()).html(NewStatus);
                        setWizardNav($("#wizardpath").val(), $("#wizardpath").val());
                    }
                }


            }
        });


        window.open($("#toolpath").val(), "_blank", "fullscreen=yes");
    });
    $("#toolsnotavailable").change(function () {
        window.open($(this).val(), "_self");
    });
</script>







</div>
        <div class="step-nav">


            <% if(eval.last_step !== "2") {%>
            <div class="bottom-prev pull-left">
                <a href="#" id="Prev-link" class="step-label"> </a>
            </div>
            <% } %>
            <% if(eval.last_step !== "6") { %>
            <div class="bottom-next pull-right">
                <a href="#" id="Next-link" class="step-label"></a>
            </div>
            <% } %>
        </div>
    </div>

    <% include ../views/partials/footer.html %>
    <script type="text/javascript">
        $(document).ready(function () {

            //just load the first one for now, will have to determine which is the active currently for returning user with
            //an ongoing eval
      

            var stepvisited = $("#stepvisited").val();
            var step = $("#step").val();
            if (!step || step === "0" || step === "") { step = 2; }  //step 1 is moved to dashboard

            setWizardNav(step, stepvisited);


            /** Load Header **/
   
            $.get("/tools/" + step, function (data) {
                $(".result").html(data);
            });


            $('ul.wizard-menu li').click(function (e) {

                var id = $(this).attr('id');

                $("ul.wizard-menu li.wizard-item").removeClass("active");

                setWizardNav(id, $("#stepvisited").val());

                var url = "/tools/" + id;
                $.get(url, function (data) {
                    $(".result").html(data);
                });
            });

            $("#Next-link").click(function (e) {

                var id = $("ul.wizard-menu li.active").attr('id');
                $("#" + id).removeClass("active");
                var next = parseInt(id) + 1;

                setWizardNav(next, $("#stepvisited").val());

                var url = "/tools/" + next;
                $.get(url, function (data) {
                    $(".result").html(data);
                });
            });

            $("#Prev-link").click(function (e) {

                var id = $("ul.wizard-menu li.active").attr('id');
                $("#" + id).removeClass("active");
                var prev = parseInt(id) - 1;

                setWizardNav(prev, $("#stepvisited").val());


                var url = "/tools/" + prev;
                $.get(url, function (data) {
                    $(".result").html(data);
                });
            });

            $("#getTitle").click(function (e) {

                $("#evalTitle").html($("#title").val());
                var etitle = $("#title").val();
                var url = '/api/eval';
                var evalid = $("#evalid").val();
                var trialflag = $("input[name='trialflag']:checked").val();
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({
                        "id": evalid,
                        "title": etitle,
                        "trialflag": trialflag
                    }),

                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {
                        var tag = "";
                        if (trialflag === "true") {
                            tag = "<br/><em><i class='fa fa-exclamation-triangle'></i>&nbsp;Trial run</em>";
                        }
                        $('#evalTitle').html(etitle + tag + ' <button id="forTitle" class="btn btn-link" role="link" type="button" data-toggle="modal" data-target="#myModal"><em>Edit</em></button>');
                    }

                }
                );
            });

            //init feedback_me plugin
            var fm_options = setFeedbackOptions($("#user_email").val(), "context_and_usage");
            fm.init(fm_options);

        });




    </script>

</body>
</html>
