<!DOCTYPE html>

<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- craft_your_research_q.html -->
<html lang="en">
<head>
    <title>Summarize Context</title>
    <% include ../views/partials/scriptHeader.html %>
</head>
<% var peekingThis = query.peeking ===1 ? "peeking" : ""; %>
<body class="<%= peekingThis %>">
    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Planning Your Research</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% }} %>

    <form action="/context_and_usage" method="post">
        <% if (user != "NOAUTHENTICATED") { %>
        <% include ../views/partials/toolHeader.html %>
        <% }%>

        <%
        Basics_Outcome_Other = eval.basics.Basics_Outcome_Other;
        Basics_Outcome = eval.basics.Basics_Outcome != "" ? eval.basics.Basics_Outcome : "the outcome";
        if (Basics_Outcome.toLowerCase() === "other") { Basics_Outcome = Basics_Outcome_Other; }

        Basics_Users_Others = eval.basics.Basics_Users_Others;
        Basics_Users =  eval.basics.Basics_Users != "" ? eval.basics.Basics_Users : "users";
        if (Basics_Users.toLowerCase() === "other") { Basics_Users = Basics_Users_Others; }

        var Basics_Tech_Name = eval.basics.Basics_Tech_Name;
        if(Basics_Tech_Name === ''){ Basics_Tech_Name = "the educational technology"; }

        var Outcome_Direction = eval.planQuestion.Outcome_Direction !== "" ? eval.planQuestion.Outcome_Direction : "improve";

        var Outcome_Measure = eval.planQuestion.Outcome_Measure != "" ?  "with " + eval.planQuestion.Outcome_Measure : "";

        var Current_or_New = eval.probAppr.Appr_Current_or_New;
        var Verb = Current_or_New === "Current" ? "did" : "will";
        var Verb2 = Current_or_New === "Current" ? "is" : "was";
        var Eval_Begin_Date = eval.planContext.Eval_Begin_Date ;
        var Eval_End_Date = eval.planContext.Eval_End_Date ;



        %>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tool-top">
                        <div class="dl-guide">
                            <a onclick="window.open('/static/pdf/Summarize Context.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.4em;">View Guide <span class="fa fa-download" aria-hidden="true"></span></a>
                        </div>
                        <div class="tool-header">
                            <h1 class="tool-title ">Summarize Context</h1>
                            <div class="tool-intro">

                                <p>We want to collect some information about your evaluation and its participants. This context will help you make sense of your results and it is important for understanding how your results apply to other contexts. As we gather results from many evaluations, we&rsquo;ll use this information to sort and filter similar studies from similar settings, so that we can help you learn from other users and help other users learn from your experience.</p>


                                <p>Some of the questions might not apply to your specific evaluation. Answer as many of the questions as you can.</p>

                            </div>
                            <div class="tool-instructions"></div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tool-questions">
                        <div class="step-header container">

                            <div data-toggle="collapse" data-target="#A">
                                <h2 class="clickable">
                                 
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> What is the evaluation period?

                                </h2>
                            </div>
                        </div>
                        <div id="A" class="row collapse in q-row">
                            <div class="col-xs-7">
                                <%

                                function dateformat(v){
                                function pad(n) {
                                return n < 10 ? "0" +n : n
                                }
                                if(v){
                                d=new Date(v);
                                dash="/";
                                colon=":";
                                return pad(d.getMonth()+1) +dash+
                                pad(d.getDate())+dash+
                                d.getFullYear();
                                }


                                }
                                var bd=dateformat(Eval_Begin_Date);
                                var ed=dateformat(Eval_End_Date);
                                %>


                                <div class="step-action">
                                    <h4><label for="Eval_Begin_Date">When <%= Verb %> <%= Basics_Users %> begin using <%= Basics_Tech_Name %>?</label></h4>
                                    <input type="text" class="datepicker" name="Eval_Begin_Date" id="Eval_Begin_Date" value="<%= bd %>" placeholder="mm/dd/yyyy" />
                                    <br />
                                    <h4><label for="Eval_End_Date">When <%= Verb %> you measure the effect of <%= Basics_Tech_Name %> on <%= Basics_Outcome %> <%= Outcome_Measure %></label></h4>
                                    <input type="text" class="datepicker" name="Eval_End_Date" id="Eval_End_Date" value="<%= ed %>" placeholder="mm/dd/yyyy" />
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="panel-group" id="ttc1">
                                        <div class="panel panel-default">
                                            <div class="panel-heading accordion-toggle">
                                                <h3 class="panel-title sec-label clickable">

                                                    <a data-toggle="collapse" data-parent="#ttc1" href="#consider1">
                                                        <i class="fa fa-caret-down" aria-hidden="false"></i>
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider1" class="panel-collapse collapse in">
                                                <p>If you are unsure of the exact dates, you can answer these questions with your best guess. You can always come back and change the information here later, when you have more details.</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="step-header container">

                            <div data-toggle="collapse" data-target="#B">
                                <h2 class="clickable">

                                    <i class="fa fa-caret-down" aria-hidden="false"></i> What is <%= Basics_Tech_Name %>?

                                </h2>
                            </div>
                        </div>
                        <div id="B" class="row collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">
                                    <h4>
                                        What type of program is <%= Basics_Tech_Name %>?
                                    </h4>
                                </div>
                                <div class="step-action context-tag">
                                    <p><em class="stronger">Select all that apply.</em></p>
                                    <%
                                    
                                    var options= ["Curriculum","Practice","Supplement","Assessment","Professional Learning", "Information Management"];
                                    var selected =[eval.planContext.Type_Curriculum,
                                    eval.planContext.Type_Practice,
                                    eval.planContext.Type_Supplement,
                                    eval.planContext.Type_Assessment,
                                    eval.planContext.Type_Professional_Learning,
                                    eval.planContext.Type_Information_Management]
                                    var names =["Type_Curriculum","Type_Practice","Type_Supplement","Type_Assessment","Type_Professional_Learning", "Type_Information_Management"]
                                    var taller = [4,5];
                                    var checked = "unchecked";

                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                    for ( var j=0; j < taller.length; j++ )
                                    {
                                    if (i==taller[j]) tallclass= "class='tall-box'" ;
                                    }
                                    checked = ( selected[i] == options[i] ) ? "checked" : "";
                                    var cbid = names[i];
                                    var cbvalue = options[i];
                                    var brk = "";

                                    %>

                                    <input type="checkbox" id="<%= cbid %>" name="<%= cbid %>" class="cus-input" value="<%= cbvalue %>" <%- checked %> />
                                    <label for="<%= cbid %>" <%- tallclass %> >
                                     <%= cbvalue %>

                                    </label>
                                    <%
                                    }
                                    %>



                                </div>


                                <div class="clearfix"></div>
                                <div class="step-subquestion">
                                    <h4><label for="Tech_Purpose">What is the purpose of <%= Basics_Tech_Name %>?</label></h4>
                                </div>
                                <div class="step-action">

                                    <p><em class="capitalize-one"><%= Basics_Tech_Name %> is&hellip;</em>                      <textarea style="display:inline-block;" name="Tech_Purpose" id="Tech_Purpose" placeholder="Ex., a software program designed to improve reading achievement among under-performing students"><%= eval.planContext.Tech_Purpose %></textarea></p>
                                </div>

                                <div class="step-subquestion">
                                    <h4><label for="Tech_Components">What are the key components of <%= Basics_Tech_Name %>?</label></h4>
                                    </div>
                                <div class="step-action">

                                    <p><em>Key components include&hellip; </em>                   <textarea name="Tech_Components" style="display:inline-block;" id="Tech_Components" rows="3" placeholder="Ex., a screening test and adaptive diagnostic testing as well as use of video content to engage students in skill-building tasks and a data interface that allows teachers to track students' progress."><%= eval.planContext.Tech_Components %></textarea> </p>
                                </div>







                                <div class="step-subquestion">
                                    <h4><label for="Developer_Guidelines">What guidelines, if any, does the developer provide regarding how <%= Basics_Tech_Name %> should be used or implemented?</label></h4>
                                </div>
                                <div class="step-action">

                                    <textarea name="Developer_Guidelines" id="Developer_Guidelines" placeholder="Ex., the developer recommends students spend 90 minutes per week using eZumi Learning."><%= eval.planContext.Developer_Guidelines %></textarea>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="panel-group" id="ttc2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading accordion-toggle">
                                                <h3 class="panel-title sec-label clickable">

                                                    <a data-toggle="collapse" data-parent="#ttc2" href="#consider2">
                                                        <i class="fa fa-caret-down" aria-hidden="false"></i>
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider2" class="panel-collapse  in">
                                                <p>To answer these questions, you might want to draw from the instructions or training provided by the product developer. </p>
                                                <p>You can always modify your answers later. If you don&rsquo;t know the answer to a question, you might want to write something like &ldquo;ASK STEVE ABOUT THIS&rdquo; as a place holder.</p>


                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading accordion-toggle">
                                                <h3 class="panel-title sec-label clickable">

                                                    <a data-toggle="collapse" data-parent="#ttc2" href="#example2">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                        Example
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="example2" class="panel-collapse ">

                                                <ul>
                                                    <li>TrueStar Reading is software designed to improve reading achievement among under-performing students.</li>
                                                    <li>TrueStar Reading offers personalized lessons and reading content based on reading level.</li>

                                                    <li>The developer recommends using TrueStar reading for at least 1 hour per week for at least 16 weeks.</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="step-header container">

                            <div data-toggle="collapse" data-target="#F">
                                <h2 class="clickable">

                                    <i class="fa fa-caret-down" aria-hidden="false"></i> How is <%= Basics_Tech_Name %> being used in your evaluation?

                                </h2>
                            </div>
                        </div>
                        <div id="F" class="row collapse in q-row">
                            <div class="col-xs-7">

                                <div class="step-subquestion">
                                    <h4><label for="Expected_Dosage">How often and for how long are <%= Basics_Users %> supposed to be using <%= Basics_Tech_Name %> for your evaluation?</label></h4>
                                    <p>
                                        This should reflect how you <em>plan for or expect</em> <%= Basics_Tech_Name %> to be used.
                                    </p>
                                </div>
                                <div class="step-action">

                                    <p>
                                        <em class="capitalize-one"><%= Basics_Users %> are using <%= Basics_Tech_Name %>&hellip;</em>
                                    </p> <textarea name="Expected_Dosage" id="Expected_Dosage" placeholder="Ex., Twice per week for 40 minutes per session."><%= eval.planContext.Expected_Dosage %></textarea>
                                   
                                </div>


                                <div class="step-subquestion">
                                    <h4>How <%= Verb2 %> <%= Basics_Tech_Name %> <span data-toggle="tooltip" title="Individually means that students work independently with the technology or one-on-one with a teacher, parent, or other service provider. Small group means students work with the technology in small groups of two or more students. Whole class means the technology is delivered to an entire class a majority of the time. With a whole school method, the technology is provided school-wide, not as an individual classroom approach." class='tooltip-gr'>delivered</span> to <%= Basics_Users %> for your evaluation?</h4>
                                </div>
                                <div class="step-action context-tag">
                                    <p><em class="stronger">Select all that apply.</em></p>
                                    <%
                                    var breaks = [4,9];
                                    var options= ["Individually","In small groups","To whole classes","School wide"];
                                    var selected =[eval.planContext.Delivered_Individually,
                                    eval.planContext.Delivered_Small_Group,
                                    eval.planContext.Delivered_Whole_Class,
                                    eval.planContext.Delivered_School_Wide]
                                    var names =["Delivered_Individually","Delivered_Small_Group","Delivered_Whole_Class","Delivered_School_Wide"]

                                    var checked = "unchecked";

                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                    checked = ( selected[i] == options[i] ) ? "checked" : "";
                                    var cbid = names[i];
                                    var cbvalue = options[i];
                                    var brk = "";
                                    for ( var j = 0; j < breaks.length; j++ )
                                    {
                                    if (i==1) brk = "<br />" ;
                                    }
                                    %>

                                    <input type="checkbox" id="<%= cbid %>" name="<%= cbid %>" class="cus-input" value="<%= cbvalue %>" <%- checked %>/>
                                    <label for="<%= cbid %>">
                                        <%= cbvalue %>

                                    </label><%- brk %>
                                    <%
                                    }
                                    %>
                                  
                                </div>
                                <div class="clearfix"></div>
                                <div class="step-subquestion">
                                    <h4>With what grade level(s) <%= Verb2 %> <%= Basics_Tech_Name %> being used for your evaluation?</h4>
                                </div>
                                <div class="step-action context-tag">
                                    <p><em class="stronger">Select all that apply.</em></p>
                                    <%
                                    var breaks = [4,9];
                                    var options= ["PK", "K", "1", "2","3","4","5","6","7","8","9","10","11","12","PS"];
                                    var selected =eval.planContext.Grades;
                                    var names =["Grade_PK", "Grade_K", "Grade_1","Grade_2","Grade_3","Grade_4","Grade_5", "Grade_6","Grade_7","Grade_8","Grade_9","Grade_10","Grade_11","Grade_12","Grade_PS"
                                    ];




                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                    var checked = "unchecked";
                                    for (var k= 0; k < selected.length; k++ )
                                    {
                                    if(selected[k] == options[i]) checked = "checked";
                                    }


                                    var cbid = names[i];
                                    var cbvalue = options[i];
                                    var brk = "";
                                    for ( var j = 0; j < breaks.length; j++ )
                                    {
                                    if (i==breaks[j]) brk = "<br />" ;
                                    }
                                    %>

                                    <input type="checkbox" id="<%= cbid %>" name="<%= cbid %>" class="cus-input" value="<%= cbvalue %>" <%- checked %>/>
                                    <label class="cb-small" for="<%= cbid %>">
                                        <%= cbvalue %>

                                    </label><%- brk %>
                                    <%
                                    }
                                    %>
                                   
                                </div>
                                <div class="clearfix"></div>


                                <div class="step-subquestion">
                                    <h4>For your evaluation, in what type(s) of classroom(s) <%= Verb2 %> <%= Basics_Tech_Name %> used? </h4>
                                </div>
                                <div class="step-action context-tag">
                                    <p><em class="stronger">Select all that apply.</em></p>
                                    <%
                                    var options= ["General", "Inclusion"];
                                    var selected =[eval.planContext.ClassroomType_General,
                                    eval.planContext.ClassroomType_Inclusion
                                    ];
                                    var names =["ClassroomType_General", "ClassroomType_Inclusion"];

                                    var checked = "unchecked";

                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                    checked = ( selected[i] == options[i] ) ? "checked" : "";
                                    var cbid = names[i];
                                    var cbvalue = options[i];
                                    %>

                                    <input type="checkbox" id="<%= cbid %>" name="<%= cbid %>" class="cus-input" value="<%= cbvalue %>" <%- checked %> />
                                    <label for="<%= cbid %>">
                                        <%= cbvalue %>

                                    </label>
                                    <%
                                    }
                                    %>
                                   
                                </div>
                                <div class="clearfix"></div>

                                <div class="step-subquestion">
                                    <h4><label for="Basics_Outcome">What outcome do you hope to change by using <%= Basics_Tech_Name %>?</label> </h4>
                                </div>

                                <div class="step-action">
                                    <select name="Basics_Outcome" id="Basics_Outcome">
                                        <%
                                        var options = ["Student academic achievement", "Student non-academic achievement","Teacher performance","Parental engagement","Other" ];
                                        var values = ["student academic achievement", "student non-academic achievement","teacher performance","parental engagement","other" ];
                                        for ( var i = 0; i < options.length; i++ )
                                        {
                                        var selected = ( eval.basics.Basics_Outcome== values[i] ) ? "selected" : "";


                                        %>
                                        <option value="<%=values[i] %>" <%=selected %> ><%=options[ i ] %></option><%
                                        }
                                        %>

                                    </select>
                                    <div id="Question_Outcome_Other" hidden="true" style="padding-left: 20px;">
                                        <p>
                                            <label for="Basics_Outcome_Other">Please specify:</label>

                                            <input type="text" name='Basics_Outcome_Other' id="Basics_Outcome_Other" value="<%= eval.basics.Basics_Outcome_Other %>" />
                                        </p>
                                    </div>
                                    <% if (user != "NOAUTHENTICATED") {%>
                                    <p class="prev-answer">
                                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/basics?return=context_and_usage">The Basics</a>
                                    </p>
                                    <% } %>

                                </div>

                                <div class="step-subquestion">
                                    <h4>You indicated your evaluation would  measure <span class="eval-outcome"><%= Basics_Outcome %></span> outcomes. More specifically, in which of the following outcome areas will you look for differences between users and non-users of <%= Basics_Tech_Name %>? </h4>
                                </div>
                                <div class="step-action context-tag">
                                    <p><em class="stronger">Select all that apply.</em></p>
                                    <%
                                    var taller=[4,7,8]
                                    var options= ["Literacy", "Mathematics", "Science","Social Studies","Computer Science &amp; Engineering", "Art &amp; Music", "Behavior","Teacher<br /> Excellence", "Path to<br/>Graduation"];
                                    var tips = ["Reading, writing, language development","","","","","","Behavior, emotional/internal behavior, external behavior, knowledge, attitudes and values, social-emotional development, social outcomes","Teacher retention at the school, teacher retention in the profession, teacher retention in the school district","Access and enrollment, attainment, Completing school, credit accumulation and persistence, progress in developmental education, progressing in school, staying in school" ]
                                    var selected =eval.planContext.Outcomes;
                                    var names =["Outcome_Literacy", "Outcome_Mathematics", "Outcome_Science","Outcome_Social_Studies","Outcome_Computer","Outcome_Art","Outcome_Behavior","Outcome_Teacher_Excellence", "Outcome_Graduation"];



                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                    var checked = "unchecked";
                                    for (var k= 0; k < selected.length; k++ )
                                    {
                                    if(selected[k] == options[i]) checked = "checked";
                                    }
                                    var cbid = names[i];
                                    var cbvalue = options[i];
                                    var tallclass="";
                                    var addtip = tips[i] != "" ? "<span data-toggle='tooltip' title='" + tips[i] + "' class='tooltip-gr'><i class='fa fa-question-circle'></i></span>" : "" ;
                                    for ( var j=0; j < taller.length; j++ )
                                    {
                                    if (i==taller[j]) tallclass= "class='tall-box'" ;
                                    }
                                    %>

                                    <input type="checkbox" id="<%= cbid %>" name="<%= cbid %>" class="cus-input" value="<%= cbvalue %>" <%- checked %>/>
                                    <label for="<%= cbid %>" <%- tallclass %> >
                            <%- cbvalue %> <%- addtip %></label>
                                    <%
                                    }
                                    %>

                                </div>
                                <div class="clearfix"></div>

                            </div>

                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="panel-group" id="ttc3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading accordion-toggle">
                                                <h3 class="panel-title sec-label clickable">

                                                    <a data-toggle="collapse" data-parent="#ttc3" href="#consider3">
                                                        <i class="fa fa-caret-down" aria-hidden="false"></i>
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider3" class="panel-collapse collapse in">
                                                <p>
                                                    Your answers here should reflect how you plan to implement <%= Basics_Tech_Name %>.
                                                    You will have an opportunity to document and explain any implementation issues or deviations from this plan later in your evaluation.
                                                </p>

                                                <p>You can always modify your answers here later. If a question does not apply to your evaluation, you can skip it.</p>
                                                <p>Be sure not to include any personally identifiable information, such as students&rsquo; or teachers&rsquo; names. </p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading accordion-toggle">
                                                <h3 class="panel-title sec-label clickable">

                                                    <a data-toggle="collapse" data-parent="#ttc3" href="#example3">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                        Example
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="example3" class="panel-collapse collapse">

                                                <ul>

                                                    <li>Students were meant to use TrueStar Reading individually during class time for 90 minutes per week.</li>

                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#C">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i>Tell us about your school district.
                                </h2>

                            </div>
                        </div>

                        <div id="C" class="row collapse in q-row">
                            <div class="col-xs-10">

                                <div class="step-subquestion">

                                    <h4>What type(s) of school(s) are involved in the evaluation? </h4>

                                </div>


                                <div class="step-action context-tag">
                                    <p>
                                        <em class="stronger">Select all that apply.</em>
                                    </p>
                                    <%
                                    var options= ["Charter", "Private", "Parochial", "Public"];
                                    var breaks = 1;
                                    var selected =[eval.planContext.SchoolType_Charter,
                                    eval.planContext.SchoolType_Private, eval.planContext.SchoolType_Parochial, eval.planContext.SchoolType_Public
                                    ];
                                    var names =["SchoolType_Charter", "SchoolType_Private", "SchoolType_Parochial", "SchoolType_Public"];

                                    var checked = "unchecked";

                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                    checked = ( selected[i] == options[i] ) ? "checked" : "";
                                    var cbid = names[i];
                                    var cbvalue = options[i];
                                    var brk = "";
                                    if(i == breaks) brk="<br />";
                                    %>

                                    <input type="checkbox" id="<%= cbid %>" name="<%= cbid %>" class="cus-input" value="<%= cbvalue %>" <%- checked %> />
                                    <label for="<%= cbid %>">
                                        <%= cbvalue %>

                                    </label><%- brk %>
                                    <%
                                    }
                                    %>
                                  
                                </div>
                                <div class="clearfix"></div>
                                <div class="step-subquestion">
                                    <h4>
                                        <label for="Total_Students">About how many students are in the district? </label>
                                    </h4>
                                </div>


                                <div class="step-action context-tag">
                                    <input type="text" name='Total_Students' id="Total_Students" value="<%= eval.planContext.Total_Students %>" class="num-input" />
                                  
                                </div>
                                <div class="step-subquestion">
                                    <h4>What is the geographical setting of your school district? </h4>
                                </div>


                                <div class="step-action context-tag">
                                    <p>
                                        <em class="stronger">Select all that apply.</em>
                                    </p>
                                    <%
                                    var options= ["Rural", "Suburban", "Urban"];
                                    var selected =[eval.planContext.Urbanicity_Rural,
                                    eval.planContext.Urbanicity_Suburban, eval.planContext.Urbanicity_Urban
                                    ];
                                    var names =["Urbanicity_Rural", "Urbanicity_Suburban", "Urbanicity_Urban"];

                                    var checked = "unchecked";

                                    for ( var i = 0; i < options.length; i++ )
                                    {
                                    checked = ( selected[i] == options[i] ) ? "checked" : "";
                                    var cbid = names[i];
                                    var cbvalue = options[i];
                                    %>

                                    <input type="checkbox" id="<%= cbid %>" name="<%= cbid %>" class="cus-input" value="<%= cbvalue %>" <%- checked %> />
                                    <label for="<%= cbid %>">
                                        <%= cbvalue %>

                                    </label>
                                    <%
                                    }
                                    %>
                                </div>
                                <div class="clearfix"></div>
                                <div class="step-subquestion">
                                    <h4>Where is your school district located? </h4>
                                </div>


                                <div class="step-action context-tag">

                                    <select name="District_State" id="District_State">
                                        <%
                                        var values = ["", 'AK','AL','AR','AZ','CA','CO','CT','DC','DE','FL','GA','HI','IA','ID','IL','IN','KS','KY','LA','MA','MD','ME','MI','MN','MO','MS','MT','NC','ND','NE','NH','NJ','NM','NV','NY','OH','OK','OR','PA','RI','SC','SD','TN','TX','UT','VA','VT','WA','WI','WV','WY'];
                                        var options = ["Select a state",'Alaska','Alabama','Arkansas','Arizona','California','Colorado','Connecticut','District of Columbia','Delaware','Florida','Georgia','Hawaii','Iowa','Idaho','Illinois','Indiana','Kansas','Kentucky','Louisiana','Massachusetts','Maryland','Maine','Michigan','Minnesota','Missouri','Mississippi','Montana','North Carolina','North Dakota','Nebraska','New Hampshire','New Jersey','New Mexico','Nevada','New York','Ohio','Oklahoma','Oregon','Pennsylvania','Rhode Island','South Carolina','South Dakota','Tennessee','Texas','Utah','Virginia','Vermont','Washington','Wisconsin','West Virginia','Wyoming']

                                        for ( var i = 0; i < options.length; i++ )
                                        {

                                        var selected = ( eval.planContext.District_State == values[i] ) ? "selected" : "";

                                        %>
                                        <option value="<%=values[ i ] %>" <%=selected %> ><%=options[ i ] %></option><%
                                        }
                                        %>

                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#D">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i>Tell us about the students in your district.
                                </h2>

                            </div>
                        </div>

                        <div id="D" class="row collapse in q-row">
                            <div class="col-xs-12">
                                <div class="step-subquestion">
                                    <h4>What is the racial composition of the students in your district?</h4>
                                </div>
                                <div class="step-action context-tag">
                                    <div class="col-xs-6">
                                        <%
                                        var labels = ["Asian", "Black", "Native American", "Pacific Islander","White","Other"];
                                        var values =[eval.planContext.Race_Asian,
                                        eval.planContext.Race_Black,
                                        eval.planContext.Race_Native_American,
                                        eval.planContext.Race_Pacific_Islander,
                                        eval.planContext.Race_White,
                                        eval.planContext.Race_Other
                                        ];
                                        var names =["Race_Asian", "Race_Black", "Race_Native_American","Race_Pacific_Islander","Race_White","Race_Other"
                                        ];
                                        var midbreak = "";
                                        for ( var i = 0; i < labels.length; i++ )
                                        {
                                        var cblabel = labels[i];
                                        var cbid = names[i];
                                        var cbvalue = values[i];
                                        if(i === 2) {
                                        midbreak = "</div><div class='col-xs-6'>";
                                        }

                                        %>

                                        <input type="text" id="<%= cbid %>" name="<%= cbid %>" class="per-input" value="<%= cbvalue %>" /><label for="<%= cbid %>">&#37;&nbsp;<%= cblabel %></label><br /> <%- midbreak %>
                                        <%
                                        }
                                        %>
                                    </div>
                                </div>
                                <div class="clearfix"></div>


                                <div class="step-subquestion">
                                    <h4>What is the ethnic composition of the students in your district?</h4>
                                </div>
                                <div class="step-action context-tag">
                                    <%
                                    var labels= ["Hispanic", "Not Hispanic"];
                                    var values =[eval.planContext.Ethnicity_Hispanic,
                                    eval.planContext.Ethnicity_Not_Hispanic
                                    ];
                                    var names =["Ethnicity_Hispanic", "Ethnicity_Not_Hispanic"];

                                    for ( var i = 0; i < labels.length; i++ )
                                    {

                                    var cbid = names[i];
                                    var cbvalue = values[i];
                                    var cblabel = labels[i];
                                    %>

                                    <input type="text" id="<%= cbid %>" name="<%= cbid %>" class="per-input" value="<%= cbvalue %>" /><label for="<%= cbid %>">&#37;&nbsp;<%= cblabel %></label><br />
                                    <%
                                    }
                                    %>
                                </div>
                                <div class="clearfix"></div>

                                <div class="step-subquestion">
                                    <h4>What is the gender composition of your students in your district?</h4>
                                </div>
                                <div class="step-action context-tag">
                                    <%
                                    var labels= ["Female", "Male"];
                                    var options =[eval.planContext.Gender_Female,
                                    eval.planContext.Gender_Male
                                    ];
                                    var names =["Gender_Female", "Gender_Male"];

                                    for ( var i = 0; i < options.length; i++ )
                                    {

                                    var cbid = names[i];
                                    var cbvalue = values[i];
                                    var cblabel = labels[i];
                                    %>

                                    <input type="text" id="<%= cbid %>" name="<%= cbid %>" class="per-input" value="<%= cbvalue %>" /><label for="<%= cbid %>">
                                        &#37;&nbsp;
                                        <%= cblabel %>

                                    </label><br />
                                    <%
                                    }
                                    %>
                                </div>
                                <div class="clearfix"></div>


                                <div class="step-subquestion">
                                    <h4>How many students in your district receive free or reduced price lunch?</h4>
                                </div>
                                <div class="step-action context-tag">
                                    <%
                                    var labels= ["Free lunch", "Reduced price lunch"];
                                    var values =[eval.planContext.FRPL_Free,
                                    eval.planContext.FRPL_Reduced
                                    ];
                                    var names =["FRPL_Free", "FRPL_Reduced"];



                                    for ( var i = 0; i < options.length; i++ )
                                    {

                                    var cbid = names[i];
                                    var cbvalue = values[i];
                                    var cblabel = labels[i];
                                    %>

                                    <input type="text" id="<%= cbid %>" name="<%= cbid %>" class="per-input" value="<%= cbvalue %>" /><label for="<%= cbid %>">
                                        &#37;&nbsp;
                                        <%= cblabel %>

                                    </label><br />
                                    <%
                                    }
                                    %>
                                </div>
                                <div class="clearfix"></div>


                                <div class="step-subquestion">
                                    <h4>How many students in your district are English learners? </h4>
                                </div>
                                <div class="step-action context-tag">

                                    <input type="text" id="English_Learners" class="per-input" name="English_Learners" value="<%= eval.planContext.English_Learners %>" /><label for="English_Learners">&#37;&nbsp;English learners</label>

                                </div>

                                <div class="step-subquestion">
                                    <h4>How many students in your district have Individualized Education Programs (IEPs)? </h4>
                                </div>
                                <div class="step-action context-tag">

                                    <input type="text" id="IEP" name="IEP" class="per-input" value="<%= eval.planContext.IEP %>" /><label for="IEP">&#37;&nbsp;Students with IEPs</label>

                                </div>


                            </div>
                        </div>

                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#E">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i>Tell us about any other contextual considerations.
                                </h2>

                            </div>
                        </div>

                        <div id="E" class="row collapse in q-row">
                            <div class="col-xs-7">


                                <div class="step-subquestion">
                                    <h4>
                                        Are there any other contextual notes or  other initiatives in your school(s) that are important when considering how <%= Basics_Tech_Name %> is used?
                                    </h4>
                                </div>
                                <div class="step-action">

                                    <textarea name="Other_Notes" id="Other_Notes" rows="8" placeholder="Ex., Students had difficulty logging into their accounts for the first 2 weeks of class. About half the teachers got frustrated and used other products for the rest of the term."><%= eval.planContext.Other_Notes %></textarea>
                                </div>

                            </div>


                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="panel-group" id="ttc2">
                                        <div class="panel panel-default">
                                            <div class="panel-heading accordion-toggle">
                                                <h3 class="panel-title sec-label clickable">
                                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                    <a data-toggle="collapse" data-parent="#ttc2" href="#consider2">
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider2" class="panel-collapse collapse in">
                                                <p>Some technologies work well in some settings and not so well in others. Include any additional features of the setting that you think might influence how well you would expect the technology to work. These might have to do with the available technology resources (for example, computer labs and laptops for students), or the presence of other technology initiatives at schools. </p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <% include ../views/partials/toolButtons.html %>
</div>
    </form>
    <% include ../views/partials/footer.html %>
    <script>
        $(document).ready(function () {

            //var bootstrapButton = $.fn.button.noConflict(); // return $.fn.button to previously assigned value
            //$.fn.bootstrapBtn = bootstrapButton; // give $().bootstrapBtn the Bootstrap functionality
            ////set up some minimal options for the feedback_me plugin
            var outcome = $("#Basics_Outcome").val();
            if ($("#Basics_Outcome").val().toLowerCase() === "other") {
                outcome = $("#Basics_Outcome_Other").val();
            }
            $(".eval-outcome").text(outcome);

            //init feedback_me plugin
            var fm_options = setFeedbackOptions($("#user_email").val(), "context_and_usage");
            fm.init(fm_options);

        });
        $(".filtercb").change(function () {
            $(this).closest("label").toggleClass("onClass", this.checked);
        });
        $('#Basics_Outcome').change(function () {
            outcomeUpdate(this);
        });
        $("#Basics_Outcome_Other").keyup(function () {
            outcomeOtherUpdate(this);
        });

    </script>

</body>





</html>
