<!DOCTYPE html>

<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by 
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded 
*   by the U.S. Department of Education’s Office of Educational Technology through 
*   Contract No. ED-OOS-15-C-0053.
-->




<!-- craft_your_research_q.html -->
<html lang="en">
<head>
    <title>Summarize Context</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link href="/static/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css"/>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.feedback_me.js"></script>
    <script src='/static/js/custom.js'></script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86460597-1', 'auto');
  ga('send', 'pageview');

    </script>
</head>
<body>


    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Planning Your Research</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% }} %>
    
    <form action="/context_and_usage" method="post">
        <% if (user != "NOAUTHENTICATED") { %>
        <% include ../views/partials/toolHeader.html %>
        <% }%>
        
        <input type="hidden" id="user_email" value="<%= user %>" />     
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tool-header">
                        <h1 class="tool-title pull-left" >Summarize Context</h1>
                        <p class="pull-right">
                            <a onclick=" window.open('/static/pdf/03.03 Summarize Context_downloadable.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.4em;">View Guide <span class="fa fa-download" aria-hidden="true"></span></a>
                        </p>
                        <div class=" clearfix"></div>
                        <div class=" clearfix"></div>
                        <div class="tool-intro">
                            <p>
                                When you share the results from your study, the information you provide on this webpage will help your colleagues understand how the educational technology is intended to be used. We’ll prompt you later in the process to reflect on how the technology was actually implemented and whether you experienced any implementation challenges. This context will help you make sense of the results and it is also important for understanding how the evaluation applies to other environments. 
                            </p>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="tool-instructions">
                        <p>
                            Answer the questions below to generate the list of important contextual features. See <a href="/static/pdf/03.03 Summarize Context_downloadable.pdf" target="_blank">Guide:  Summarize Context</a> for more information about why it&rsquo;s important to consider the context of your technology use. 
                        </p>

                    </div>
                </div>
                <div class="tool-questions">
                    <div class="step-header container">

                        <div data-toggle="collapse" data-target="#A">
                            <h2 class="clickable">
                                <% if (user != "NOAUTHENTICATED") { %>
                                <i class="fa fa-caret-down" aria-hidden="false"></i> A. What is <%= eval.planQuestion ? (eval.planQuestion.Plan_Question_A ? eval.planQuestion.Plan_Question_A : "the educational technology") : "the educational technology" %> and how it is being used?
                               <% } %>
                            </h2>
                        </div>
                    </div>
                    <div id="A" class="row collapse in q-row">
                        <div class="col-xs-7">

                            <div class="step-subquestion">
                                <p>What is the purpose of this educational technology?</p>
                            </div>
                            <div class="step-action">
                                <% var a1=''; if (user != "NOAUTHENTICATED") {if (eval.planContext) {a1 = eval.planContext.Plan_Context_A_1 }} %>
                                <textarea name="Plan_Context_A_1" id="Plan_Context_A_1" placeholder="Ex., a software program designed to improve reading achievement among under-performing students"><%= a1 %></textarea>
                            </div>

                            <div class="step-subquestion">
                                <p>What are the key components of the educational technology?</p>
                            </div>
                            <div class="step-action">
                                <% var a2='';  if (user != "NOAUTHENTICATED") { if (eval.planContext) {a2 = eval.planContext.Plan_Context_A_2 }} %>
                                <textarea name="Plan_Context_A_2" id="Plan_Context_A_2" rows="3" placeholder="Ex., a screening test and adaptive diagnostic testing as well as use of video content to engage students in skill-building tasks and a data interface that allows teachers to track students' progress."><%= a2 %></textarea>
                            </div>

                            <div class="step-subquestion">
                                <p>How often and for how long are users supposed to be using the educational technology?</p>
                            </div>
                            <div class="step-action">

                                <% var a3='';  if (user != "NOAUTHENTICATED") {if (eval.planContext) {a3 = eval.planContext.Plan_Context_A_3 }} %>
                                <textarea name="Plan_Context_A_3" id="Plan_Context_A_3" placeholder="Ex., Twice per week for 40 minutes per session."><%= a3 %></textarea>
                            </div>

                            <div class="step-subquestion">
                                <p>How long is the period of use being studied in this evaluation?</p>
                            </div>
                            <div class="step-action">
                                <% var a4='';  if (user != "NOAUTHENTICATED") {if (eval.planContext) {a4 = eval.planContext.Plan_Context_A_4 }} %>
                                <textarea name="Plan_Context_A_4" id="Plan_Context_A_4" placeholder="Ex., the first semester of the 2016-2017 school year"><%= a4 %></textarea>
                            </div>
                        </div>

                        <div class="col-xs-5">
                            <div class="step-to-consider">
                                <div class="panel-group" id="ttc1">
                                    <div class="panel panel-default">
                                        <div class="panel-heading accordion-toggle">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                <a data-toggle="collapse" data-parent="#ttc1" href="#consider1">
                                                    Things to Consider
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="consider1" class="panel-collapse collapse in">
                                            <p>To answer these questions, you may want to draw from the instructions or training provided by the product developer. </p>
                                            <p>You can always modify this later. If you don&rsquo;t know the answer to a question, you may want to write something like &ldquo;ASK STEVE ABOUT THIS&rdquo; as a place holder.
                                            <p>See the example to see how these responses will appear in your findings brief. Be sure not to include any Personally Identifiable Information, like student or teacher names. </p>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading accordion-toggle">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-right" aria-hidden="true"></span>
                                                <a data-toggle="collapse" data-parent="#ttc1" href="#example1">
                                                    Example
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="example1" class="panel-collapse collapse">

                                            <ul>
                                                <li>TrueStar Reading is software designed to improve reading achievement among under-performing students.</li>
                                                <li>TrueStar Reading offers personalized lessons and reading content based on reading level.</li>
                                                <li>Students were meant to use TrueStar Reading individually during class time for 90 minutes per week.</li>
                                                <li>The evaluation period lasted fourteen weeks.</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="step-header container">
                        <div data-toggle="collapse" data-target="#B">
                            <h2 class="clickable">
                                <i class="fa fa-caret-down" aria-hidden="false"></i> B. What is the educational setting?
                            </h2>
                        </div>
                    </div>

                    <div id="B" class="row collapse in q-row">
                        <div class="col-xs-7">
                            <div class="step-action">
                                <% var b='';  if (user != "NOAUTHENTICATED") {if (eval.planContext) {b = eval.planContext.Plan_Context_B }} %>
                                <textarea name="Plan_Context_B" id="Plan_Context_B" rows="8" placeholder="Ex., Suburban district with 2,000 students, 25% of whom have IEPs, and with 1:1 laptops "><%= b %></textarea>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="step-to-consider">
                                <div class="panel-group" id="ttc2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading accordion-toggle">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                <a data-toggle="collapse" data-parent="#ttc2" href="#consider2">
                                                    Things to Consider
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="consider2" class="panel-collapse collapse in">
                                            <p>Some technologies work well in some settings and not so well in others. Include features of the setting that you think might influence how well you would expect the technology to work. These might have to do with the available technology resources (e.g. computer labs, laptops for students, etc.), student population, or presence of other technology initiatives at schools.  </p>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-right" aria-hidden="true"></span>
                                                <a data-toggle="collapse" data-parent="#ttc2" href="#example2">
                                                    Example
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="example2" class="panel-collapse collapse">

                                            <p>XYZ School District is located in a rural setting where each school in the district has 400 students and class sizes of 20, on average. Each school has 1 computer lab and moderate internet connectivity.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="step-header container">
                        <div data-toggle="collapse" data-target="#C">
                            <h2 class="clickable">
                                <i class="fa fa-caret-down" aria-hidden="false"></i> C. Have you experienced any implementation issues?
                            </h2>
                        </div>
                    </div>
                    <div id="C" class="row collapse in q-row">
                        <div class="col-xs-7">
                            <div class="step-action">
                                <% var c='';  if (user != "NOAUTHENTICATED") {if (eval.planContext) {c = eval.planContext.Plan_Context_C }} %>
                                <textarea name="Plan_Context_C" id="Plan_Context_C" rows="8" placeholder="Ex., Students had difficulty logging into their accounts for the first 2 weeks of class. About half the teachers got frustrated and used other products for the rest of the term."><%= c %></textarea>
                            </div>
                        </div>
                        <div class="col-xs-5">
                            <div class="step-to-consider">

                                <div class="panel-group" id="ttc3">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                <a data-toggle="collapse" data-parent="#ttc3" href="#consider3">
                                                    Things to Consider
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="consider3" class="panel-collapse collapse in">
                                            <p>
                                                This information will be included in your findings report appendix and can be useful to others. If few people used the product as intended, you may want improve the implementation before assessing the effectiveness of the technology. 
                                            </p>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-right" aria-hidden="true"></span>
                                                <a data-toggle="collapse" data-parent="#ttc3" href="#example3">
                                                    Example
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="example3" class="panel-collapse collapse">

                                            <p>Teachers did not find the tool user-friendly and therefore often chose to use one of the many other options available to them.</p>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="step-header container">
                        <div data-toggle="collapse" data-target="#D">
                            <h2 class="clickable">
                                <% if (user != "NOAUTHENTICATED") { %>
                                <i class="fa fa-caret-down" aria-hidden="false"></i> D. Was <%= eval.planQuestion ? (eval.planQuestion.Plan_Question_A ? eval.planQuestion.Plan_Question_A : "the educational technology") : "the educational technology" %> used as recommended?
                               <% } %>
                            </h2>
                        </div>
                    </div>
                    <div id="D" class="row collapse in q-row">
                        <div class="col-xs-7">

                            <div class="step-action">
                                <% var d='';  if (user != "NOAUTHENTICATED") {if (eval.planContext) {d = eval.planContext.Plan_Context_D }} %>
                                <textarea name="Plan_Context_D" id="Plan_Context_D" rows="8" placeholder="Ex., 75% of students used the program as recommended, meaning they completed all modules and were logged into the program for the recommended amount of time."><%= d %></textarea>
                            </div>
                        </div>

                        <div class="col-xs-5">
                            <div class="step-to-consider">


                                <div class="panel-group" id="ttc4">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                <a data-toggle="collapse" data-parent="#ttc4" href="#consider4">
                                                    Things to Consider
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="consider4" class="panel-collapse collapse in">
                                            <p>
                                                System data (also sometimes called log data) can provide information about the extent to which the technology was actually used, which may differ from intended use. You can refer to <a href="/static/pdf/03.03 Summarize Context_downloadable.pdf" target="_blank">Guide: Summarize Context</a> for more information on how to access system data.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-right" aria-hidden="true"></span>
                                                <a data-toggle="collapse" data-parent="#ttc4" href="#example4">
                                                    Example
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="example4" class="panel-collapse collapse">

                                            <ul>
                                                <li>According to the vendor, students who complete all 10 modules are most likely to benefit from the education technology. 90% of students attempting the first three modules. Usage dropped dramatically for modules 4-10, with only 5% of students attempted module 10.</li>
                                                <li>This technology is designed for teachers to assign online homework exercises that students complete at home, but many students do not have internet access at home. The technology was therefore used primarily as a source of in-class activities.</li>
                                            </ul></div>
                                    </div>
                                </div>

                            </div>

                        </div>







                    </div>
                </div>
            </div>
        </div>
        <%  if (user != "NOAUTHENTICATED" && !query.peeking ) { %>
        <div class="bottom-buttons">
            <button type="submit" class="btn btn-info btn-lg">SAVE CHANGES</button>
            <button type="submit" class="btn btn-primary btn-lg">SAVE &amp; COMPLETE</button>

        </div>
        <% } %>
        <div>

            <input class="hidden" name="status" id="status" />
        </div>
    </form>
    <% include ../views/partials/footer.html %>
    <script>
        $(document).ready(function () {
            //var bootstrapButton = $.fn.button.noConflict(); // return $.fn.button to previously assigned value
            //$.fn.bootstrapBtn = bootstrapButton; // give $().bootstrapBtn the Bootstrap functionality
            ////set up some minimal options for the feedback_me plugin


            //init feedback_me plugin
            var fm_options = setFeedbackOptions($("#user_email").val(), "context_and_usage");
            fm.init(fm_options);
           
        

            $('ul.wizard-menu li').click(function (e) {

                var id = $(this).attr('id');
                $('.bottom-next').hide();
                if (id !== "6") {
                    $('.bottom-next').show();
                }
                $("ul.wizard-menu li.wizard-item").removeClass("active");
                $("#" + id).addClass("active");
                //var data = coachStep[id];
                //alert(data);
                var url = "/tools/" + id;
                $.get(url, function (data) {
                    $(".result").html(data);
                });
            });

     

        });


    </script>

</body>


</html>
