<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>RCTE Authentication</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
            word-wrap: break-word;
        }
    </style>
</head>
<body>
    <div class="container">
        <div><a href="/logout" class="btn btn-default btn-sm">Logout</a></div>
        <div class="page-header text-center">
            <h1 class="page-title">Welcome to your dashboard!</h1>
           
        </div>

        <div class="row">

           
            <div class="col-sm-4">
                <div class="well">
                    <h3><span class="fa fa-user"></span> <%= user.profile.user_name %></h3>
                    <p><img src=<%= user.profile.user_pic %>   alt="" ></p>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>organization name:</strong>: <%= user.profile.organization_name %>
                    </p>

                </div>
            </div>
             <div class="col-sm-8">
                <div class="well">
                    <h3>RECENT EVALUATION</h3>
                    <% var evallabel = "Start a new evaluation"; var startdate= new Date().toLocaleString(); var status= "New"; 
                     if (eval) { evallabel = eval.title;  status="On going"; if (eval.created_at){startdate = eval.created_at;}} %>
                    <h1><%= evallabel %></h1>

                    <p>
                        <strong>start date</strong>: <%= startdate %><br>
                        <strong>status</strong>: <%= status %><br>
                        <% if (eval) {  %>
                        <a href="/wizard" id="startEval" class="btn btn-primary btn-lg"  >CONTINUE EVALUATION</a> <% } %>
                        <% if (!eval) { %>
                        <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" >START EVALUATION</button>
                        <% } %>
                    </p>
                    <!-- Trigger the modal with a button -->
                    

                    <!-- Modal -->
                    <div id="myModal" class="modal fade" role="dialog">
                        <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Choose a name for your evaluation</h4>
                                </div>
                                <div class="modal-body">
                                    <% var evalid; if (eval) {evalid = eval._id} %>
                                    <input type="hidden" id="evalid" value="<%= evalid %>" />
                                    <input type="text" id="title" />
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">CANCEL</button>
                                    <button type="button" id="getTitle" class="btn btn-primary btn-lg" data-dismiss="modal">OK</button>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-sm-4">
                <div class="well">
                    <p><a href="">view all your evaluations..</a> </p>                

                </div>
            </div>
             <div class="col-sm-8">
                <div class="well">
                    <h3>ALL TOOLS</h3>
                   
                    <ul>
                    
                       <li> <a href="">Using Extant Data.</a> </li>
                       <li> <a href="">Understanding Types of Evidene.</a> </li>
                       <li> <a href="">Crafting a Research Question.</a> </li>
                    </ul>

                </div>
            </div>
        </div>

    </div>
    <script type="text/javascript">
        $("#getTitle").click(function (e) {

            
            var etitle = $("#title").val();
            var url = '/api/eval';
            var evalid = $("#evalid").val();          
            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify({"id": evalid, "title": etitle}),
                dataType: "json",
                contentType: "application/json",
                success:function(data) {
                    window.location = "/wizard";
            }
            }).done(function( msg ) {
               
                
            });;
        })
    </script>
</body>
</html>
