<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Determine your approach</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="/static/css/jquery.feedback_me.css" />
      <script src="/static/js/jquery.feedback_me.js"></script>
      <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86460597-1', 'auto');
  ga('send', 'pageview');

      </script>
  </head>
<body>
    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wizard"><span class="fa fa-caret-left"></span> Back to Getting Started</a></li>
    </ol> 
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% }} %>
 
<form action="/determine_your_approach" method="post">
    <% if (user != "NOAUTHENTICATED") { %>
    <% include ../views/partials/toolHeader.html %>
    <% } %>
   
    <input type="hidden" id="user_email" value="<%= user %>" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="tool-header">
                    <h1 class="tool-title"> Determine your approach</h1>
                    <div class="tool-intro">
                        <p>
                            The Ed Tech RCE Coach offers a few different approaches to answer your research question. To determine the right one we need you to answer the following questions
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="tool-questions">
                <div class="step-header container">
                    <div data-toggle="collapse" data-target="#A">
                        <h2 class="clickable">
                            <i class="fa fa-caret-down" aria-hidden="false"></i>
                            A. Are you already using this technology?
                        </h2>
                    </div>

                </div>
                <div id="A" class="row  collapse in q-row">
                    <div class="col-xs-7">
                        <div class="step-action">
                            <select required name="Prob_Appr_A" id="Prob_Appr_A">
                                <%
                                var options = ["Select an option", "Yes", "No"];
                                for ( var i = 0; i < options.length; i++ )
                                {
                                var selected;
                                if (user != "NOAUTHENTICATED") { if (eval.probAppr) { selected = ( eval.probAppr.Prob_Appr_A== options[i] ) ? "selected" : "";}}
                                                                %>
                                <option value="<%=options[ i ] %>" <%=selected %> ><%=options[ i ] %></option><%
                                }
                                %>

                            </select>
                        </div>
                    </div>
                </div>
                <div class="step-header container">
                    <div data-toggle="collapse" data-target="#B">
                        <h2 class="clickable"><i class="fa fa-caret-down" aria-hidden="false"></i> B. Who are the technology users?
                        </h2>
                    </div>
                </div>
                <div id="B" class="row collapse in q-row">
                    <div class="col-xs-7">

                        <div class="step-action">

                            <select required name="Prob_Appr_B" id="Prob_Appr_B">

                                <%
                                var options = ["Select an option", "students",  "teachers", "other"];

                                for ( var i = 0; i < options.length; i++ )
                                {

                                var selected;
                                if (user != "NOAUTHENTICATED"){if (eval.probAppr) { selected = ( eval.probAppr.Prob_Appr_B == options[i] ) ? "selected" : "";}}
                                
                                %><option value="<%=options[ i ] %>" <%=selected %> ><%=options[ i ] %></option><%
                                }
                                %>

                            </select>

                            <div id="other-specify" hidden="true">
                                <div>
                                    <p>Please specify:</p>
                                </div>
                                <% var val=''; if (user != "NOAUTHENTICATED"){ if (eval.probAppr) {val = eval.probAppr.Prob_Appr_B_other } }%>
                                <input type="text" name='Prob_Appr_B_other' id="Prob_Appr_B_other" value=<%= val %> />
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="step-to-consider">

                            <div class="panel-group" id="ttc3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title sec-label clickable">
                                            <span class="fa fa-caret-down" aria-hidden="false"></span>
                                            <a data-toggle="collapse" data-parent="#ttc2" href="#consider2">
                                                Things to Consider
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="consider2" class="panel-collapse collapse in">
                                        <p>
                                            You should select the group that is directly engaging with the technology. In some cases this may not be the same group for which you are trying to improve outcomes. Your answer to this question should reflect who is logging in to the educational technology and completing the program. 
                                        </p>
                                    </div>
                                </div>
                               
                            </div>

                        </div>
                    </div>
                </div>

                <div class="step-header container">
                    <div data-toggle="collapse" data-target="#C">
                        <h2 class="clickable"><i class="fa fa-caret-down" aria-hidden="false"></i> C. Are all <span class="section-c-header">subject</span> using the technology?
                        </h2>
                    </div>
                </div>
                <div id="C" class="row collapse in q-row">
                    <div class="col-xs-7">
                        <div class="step-action">
                            <select required name="Prob_Appr_C" id="Prob_Appr_C">
                                <%
                                var options = ["Select an option", "Yes", "No"];
                                for ( var i = 0; i < options.length; i++ )
                                {
                                var selected;
                                if (user != "NOAUTHENTICATED"){ if (eval.probAppr) { selected = ( eval.probAppr.Prob_Appr_C == options[i] ) ? "selected" : "";}}
                               
                                %>
                                <option value="<%=options[ i ] %>" <%=selected %> ><%=options[ i ] %></option><%
                                }
                                %>

                            </select>
                        </div>
                    </div>

                   
                </div>
                <div class="step-conclusion container">

                    <div class="p1" hidden>
                        <h2>Conclusion</h2>
                        <p>
                            Based on your answers, neither an experimental nor matched design is appropriate. You indicated that all <span class="section-c-header">subjects</span> are using the technology. To evaluate your technology, you need to compare a group using the technology with a group not using the technology. Please reach out to us at <a href="mailto:dTechRCE@mathematica-mpr.com">EdTechRCE@mathematica-mpr.com</a> and we can help you determine a research approach. In the meantime, you can still explore the site. 
                        </p>
                    </div>
                    <div class="p2" hidden>
                        <h2>Conclusion</h2>
                        <p>
                            Based on your answers, the Coach will guide you through a <span data-toggle="tooltip" title="a research design that selects similar non-users to serve as a comparison for technology users" class='tooltip-gr'>matched comparison design</span>. You indicated that some <span class="section-c-header">subjects</span> are using the technology and others are not. To compare apples to apples, this <span data-toggle="tooltip" title="a research design that creates comparable groups through methods other than random assignment" class='tooltip-gr'>quasi-experimental design</span> will identify a <span data-toggle="tooltip" title="individuals who were not given access to the technology and whose outcomes are compared to the outcomes for technology users " class='tooltip-gr'>comparison group</span>comparison group with similar characteristics to the subjects using the technology that you want to test.
                        </p>
                    </div>

                    <div class="p3" hidden>
                        <h2>Conclusion</h2>
                        <p>
                            Based on your answers, the Coach recommends that you use a <span data-toggle="tooltip" title="an answerable question about a specific effect resulting from the educational technology" class='tooltip-gr'>randomized pilot</span> to evaluate your technology. This is the best method for determining the effectiveness of a technology that you have not yet begun using. Tools for this approach are coming soon! Please reach out to us at <a href="mailto:dTechRCE@mathematica-mpr.com">EdTechRCE@mathematica-mpr.com</a> and we can help you set up a study now. In the meantime, you can still explore the site.
</p>
                    </div>

                </div>
                <% if (user != "NOAUTHENTICATED") { %>
                <div class="bottom-buttons">
                    <button type="submit" class="btn btn-info btn-lg">SAVE CHANGES</button>
                    <button type="submit" class="btn btn-primary btn-lg">SAVE &amp; COMPLETE</button>
                </div>
                <% } %>
            </div>
        </div>
    </div>
    <div>

        <input class="hidden" name="status" id="status"/>
    </div>
    <% include ../views/partials/footer.html %>
</form>

<script src='/static/js/custom.js'></script>
<script>
    $(document).ready(function () {
        var a = $("#Prob_Appr_A").val();
        var c = $("#Prob_Appr_C").val();
        var b = $("#Prob_Appr_B").val();
        var p1 = $(".p1"), p2 = $(".p2"), p3 = $(".p3");
        if ((a === "Yes") && c === "No" && b !== "Select an option" ) {
            p2.show(); p1.hide(); p3.hide();
        }
        else if (a === "No" && c === "No" && b !== "Select an option") {
            p3.show(); p1.hide(); p2.hide();
        }
        else if ((a === "Yes" && c === "Yes" && b !== "Select an option") || (a === "No" && c === "Yes" && b !== "Select an Option")) {
            p1.show(); p3.hide(); p2.hide();
        }
        else { p1.hide(); p2.hide(); p3.hide(); }


        //init feedback_me plugin
        var fm_options = setFeedbackOptions($("#user_email").val(), "determine_your_approach");
        fm.init(fm_options);
    });
</script>
</body>
</html>
