<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>All Evaluations - Ed Tech RCE Coach</title>
    <% include ../views/partials/scriptHeader.html %>

</head>
<body class="one-col">
    <% include ../views/partials/header.html %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashboard"><span class="fa fa-caret-left"></span> Back to Dashboard</a></li>
    </ol>
    <div class="container-fluid">
        <input type="hidden" id="user_name" value="<%= user.profile.user_name %>" />
        <input type="hidden" id="user_email" value="<%= user.email %>" />
        <div class="page-header">
            <h1 class="page-title">All Evaluations</h1>
        </div>
        <div class="row">
            <% if(evals.length>0){ for (var i=0; i < evals.length; i++){
            var evallabel = "Recent Evaluation"
            if (evals[i]._id == user.evalid) evallabel = "Current Evaluation"
            var evaltitle = evals[i].title;
            var status= parseInt(evals[i].status) +"% Completed" ;
            var d = new Date(evals[i].created_at)
            var helpcaret = "fa-caret-down";
            var helphidden = "false"
            var helpdetail = "in"%>
            <div class="col-sm-9 content">
                <div class="dash-well">
                    <div class="sec-label"><%= evallabel %></div>
                    <h2><%= evaltitle %></h2>
                    <p>
                        <span class="sec-label">Status</span>: <%= status %>
                    </p>
                    <p>
                        <span class="sec-label">Start Date</span>:<%= d.getMonth() + 1 + '/' + d.getDate() + '/' + d.getFullYear() %>
                    </p>
                    <div>
                        <p class="text-center add-padding">
                            <a class="text-right btn btn-primary" href="/coach/<%= evals[i]._id %>" id="startEval">CONTINUE THIS EVALUATION</a> <br />
                        </p>
                    </div>
                </div>
            </div>
            <%}} %>
        </div>
    </div>
    <% include ../views/partials/footer.html %>
    <script type="text/javascript">
        $(document).ready(function () {
            //set up some minimal options for the feedback_me plugin
            //init feedback_me plugin

            var fm_options = setFeedbackOptions($("#user_email").val(), "evaluations");
            fm.init(fm_options);

        });
        $("#getTitle").click(function (e) {


            var etitle = $("#title").val();
            var url = '/api/eval';

            $.ajax({
                type: "POST",
                url: url,
                data: JSON.stringify({ "title": etitle }),
                dataType: "json",
                contentType: "application/json",
                success: function (data) {
                    window.location = "/coach";
                }
            }).done(function (msg) {
            });;
        })
    </script>
</body>
</html>
