<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Get Results - Ed Tech RCE Coach</title>
    <% include ../views/partials/scriptHeader.html %>
    <% include ../views/partials/_formatters.html %>
   

</head>
<% var peekingThis = query.peeking == 1 ? "peeking" : ""; %>
<body class="<%- peekingThis %> brief">
    <% include ../views/partials/header.html %>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Analyzing Your Data</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% include ../views/partials/toolHeader.html %>
    <% } %>
<form id="getresult" action="/getresult" method="post">

<%

var Result="";

if (user != "NOAUTHENTICATED"){
if (eval.getresult) {if (eval.getresult.Result) {Result = eval.getresult.Result;}}
}
    var newUploadTitle = "Upload your data"
%>

<input type="hidden" id="coreurl" value="<%= shiny_url %>"/>
<div class="container-fluid">
<div class="row">
    <div class="col-xs-12">
        <div class="tool-top">
            <div class="dl-guide">
            </div>
            <div class="tool-header">
                <h1 class="tool-title">Get Results: Find Out If the Technology Moved the Needle</h1>
                <div class="tool-intro">
                    <p>
                        <strong>Objective:</strong> In this step, you will estimate the effect of the technology. By uploading a data file and answering a few key questions, you will find an answer to the research question you crafted at the beginning of this process.
                    </p>
                </div>

                <div class="tool-help">
                    <p>
                        <strong>To learn more</strong> about how this tool works, you can review the <a target="_blank" href="https://edtechrce.org/static/pdf/05.02a%20Impact%20Estimation%20Technical%20Appendix.pdf">Impact Estimation Technical Appendix.</a>
                    </p>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
<div class="tool-questions">
<div class="step-header container first">

    <div data-toggle="collapse" data-target="#P">
        <h2 class="clickable">
            <i class="fa fa-caret-<%= defs.iconFirst %>" aria-hidden="<%= defs.hideFirst %>"></i> Review your previous answers.
        </h2>
    </div>
</div>
<div id="P" class="row  collapse <%= defs.inFirst %> q-row">
    <div class="col-xs-7">
        <div class="step-subquestion">
            <h4><label for="Outcome_Measure">What measure did you use to test whether there was an effect?</label></h4>
        </div>
        <div class="step-action">

            <textarea name="planQuestion[Outcome_Measure]" id="Outcome_Measure" placeholder="Ex., a midyear math assessment"><%= eval.planQuestion.Outcome_Measure %></textarea>

            <% if (user != "NOAUTHENTICATED") {%>
            <p class="prev-answer">
                <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/craft_your_research_q?return=getresult">Craft Your Research Question</a>
            </p>
            <% } %>
        </div>
        <div class="step-subquestion">
            <h4><label for="Outcome_Direction">What is the direction of intended change?</label></h4>
        </div>
        <div class="step-action">

            <select required name="planQuestion[Outcome_Direction]" id="Outcome_Direction">
                <%
                var options = ["Select an option", "Increase", "Decrease" ];
                var ovals = ["Select an option", "increase", "decrease" ];
                for ( var i = 0; i < options.length; i++ )
                {
                var selectedD;
                if (user != "NOAUTHENTICATED") {
                if (eval.planQuestion) { selectedD = ( eval.planQuestion.Outcome_Direction== ovals[i] ) ? "selected" : "";}}
                %>
                <option value="<%=ovals[ i ] %>" <%=selectedD %> ><%=options[ i ] %></option><%
                }
                %>

            </select>
            <% if (user != "NOAUTHENTICATED") {%>

            <p class="prev-answer">
                <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/craft_your_research_q?return=getresult">Craft Your Research Question</a>
            </p>
            <% } %>
        </div>
        <div class="step-subquestion">
            <h4>What would success look like?</h4>
        </div>
        <div class="step-action">
            <p>
                I would consider any <span class='change-direction'><%= defs.Outcome_Direction %></span> at least
                <label class="hidden" for="Success_Effect_Size">Input size for success.</label><input type="text" name="planNext[Success_Effect_Size]" id="Success_Effect_Size" placeholder="0" value="<%= eval.planNext.Success_Effect_Size %>" style="width: 50px"/>
                <span class="measure-units"><%= defs.Units %></span> on <span class="effect-measure"><%= eval.planQuestion.Outcome_Measure %></span> a success.
            </p>

            <% if (user != "NOAUTHENTICATED") {%>
            <p class="prev-answer">
                <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/plan_next_steps?return=getresult">Think About How to Use Your Results</a>
            </p>
            <% } %>
        </div>
        <div class="step-subquestion">
            <h4>
                How confident do you want to be that
                <%= defs.Basics_Tech_Name %>

                moved the needle?
            </h4>
        </div>
        <div class="step-action">
            <p>
                If I learned that there was a

                <label class="hidden" for="Pass_Probability">Input probability for success as percent.</label><input type="text" name="planNext[Pass_Probability]" id="Pass_Probability" placeholder="75" value="<%= eval.planNext.Pass_Probability %>" style="width: 50px"/>% probability that <%= defs.Basics_Tech_Name %> improved outcomes by <span class='success-effect-size'><%= defs.Success_Effect_Size %></span> or more <span class="measure-units"><%= defs.Measure_Units %></span> on <span class="effect-measure"><%= eval.planQuestion.Outcome_Measure %></span>, I would feel comfortable concluding that the educational technology had the intended effect.
            </p>
            <p>
                If I learned that there was less than a <label class="hidden" for="Fail_Probability">Input probability as percent.</label><input type="text" name="planNext[Fail_Probability]" id="Fail_Probability" placeholder="50" value="<%= eval.planNext.Fail_Probability %>" style="width: 50px"/>% probability that <%= defs.Basics_Tech_Name %> improved outcomes by <span class='success-effect-size'><%= defs.Success_Effect_Size %></span> or more <span class="measure-units"><%= defs.Measure_Units %></span> on <span class="effect-measure"><%= eval.planQuestion.Outcome_Measure %></span>, I would feel comfortable concluding that <%= defs.Basics_Tech_Name %> did not have the intended effect.
            </p>
            <% if (user != "NOAUTHENTICATED") {%>
            <p class="prev-answer">
                <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/plan_next_steps?return=getresult">Think About How to Use Your Results</a>
            </p>
            <% } %>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="step-to-consider">

            <div class="panel-group" id="ttc11">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title sec-label clickable">
                            <span class="fa fa-caret-down" aria-hidden="false"></span>
                            <a data-toggle="collapse" data-parent="#ttc11" href="#consider11">
                                Things to Consider
                            </a>
                        </h3>
                    </div>
                    <div id="consider11" class="panel-collapse collapse in">

                        <p>
                            If you used a test of student achievement to measure the technology's effect and you are hoping to see an increase in test scores, would a one point increase, on average, be a meaningful increase? What about 5 points?
                            This number could be 0 or even negative. A 0 means that you would consider any increase in the outcome a success, as long as it is positive. If the technology is saving you a lot of money, you may be willing to consider any change that is greater than a small negative number a success.
                        </p>
                        <p>We rarely have enough evidence to be completely certain that a technology will work if implemented well. What likelihood (or probability) will you need to be comfortable concluding that the educational technology is moving the needle? You may want a higher level of certainty, and therefore a higher probability, if your results will impact a higher stakes decision, such as implementing a district-wide curriculum. But you may be comfortable with a lower probability for a lower stakes decision. </p>
                        <p>The Coach will calculate the probability the differences found between the treatment and comparison group at the end of your evaluation are caused by <%= defs.Basics_Tech_Name %> and compare that probability to those entered here to determine whether or not <%= defs.Basics_Tech_Name %> had the intended effect.</p>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
    <div id="results">
        <% if(defs.hasResults) {
       
            var Result = "";
            var Result = JSON.parse(eval.getresult.Result);
            newUploadTitle = "Upload your data to re-run the analysis"
        
        %>
        <div class="step-header container">
           
                <div data-toggle="collapse" data-target="#R">

                    <h2 class="clickable">
                        <i class="fa fa-caret-down" aria-hidden="false"></i> Analysis Results
                    </h2>


               
                </div>
            </div>
        <div id="R" class="row  collapse in q-row">
            <div class="col-xs-12">
                <div class="step-subquestion">
                    <div id="Result_Conclusion" class="container">
                        <h3><%= defs.ResultSummary %></h3>
                    </div>
                      

                    <% include ../views/partials/_findingsTable.html %>
                       

                    </div>
            </div>
       </div>
        <% } %>
    </div>

<div class="step-header container">
    <div data-toggle="collapse" data-target="#A">
        <h2 class="clickable">
            <i class="fa fa-caret-down" aria-hidden="false"></i> <%= newUploadTitle  %>
        </h2>
    </div>
</div>
<div id="A" class="row  collapse in q-row">
    <div>
        <div class="col-xs-7">
            <div class="step-subquestion">
                <p>
                    Upload a CSV file of your data. The file should have one row for each <%= defs.Singular_User %> in your sample, and one column for each data field (for example, test scores and background characteristics). Read <a target="_blank" href="https://edtechrce.org/static/pdf/04.01PrepareYourDataForAnalysis.pdf">Prepare Your Data For Analysis</a> for more information.
                </p>

            </div>
            <div class="step-action">
                <p class="warning">
                    Before uploading data, make sure you have removed any personally identifiable information (PII), such as names.
                </p>
                <input id="chosenfile" size="1" type="file" accept=".csv">
                <div id='loadingmessageUp' hidden>
                    <div class="loading">
                        <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>

                    </div>
                </div>
            </div>
            <div class="before-upload">
                <div class="step-subquestion">
                    <h4>What is the outcome variable?</h4>
                    <p><label for="outcome_var">Choose the name of the variable that measures <%= defs.Basics_Outcome %></label>
                    </p>
                    <p>
                        <em class="stronger"><i class="fa fa-asterisk"></i> Required</em>
                    </p>
                </div>
                <div class="step-action ">
                    <div>
                        <select class="multiselect from-upload" id="outcome_var">
                            <option value="">Select the outcome variable</option>
                        </select>
                    </div>
                </div>
                <div class="step-subquestion">
                    <h4>Who is using the technology?</h4>
                    <p><label for="treat_var">Choose the name of the variable that tells us who is using <%= defs.Basics_Tech_Name %>&mdash;the intervention versus comparison group identifier. Remember, it should equal 1 for the technology users and 0 for non-users.</label>
                    </p>
                    <p>
                        <em class="stronger"><i class="fa fa-asterisk"></i> Required</em>
                    </p>
                </div>
                <div class="step-action ">
                    <div>
                        <select class="multiselect from-upload" id="treat_var">
                            <option value="">Select the treatment status variable</option>
                        </select>
                    </div>
                </div>
                <div class="step-subquestion">
                    <h4>Background characteristics and pretest</h4>
                    <p>
                        <label for="control_vars">
                            Select the variables used to determine if your treatment and comparison groups were balanced at the start of the evaluation.
                            <% if(eval.path == "path-matching") { %> You should include the variables used for matching in this list. <% } %>
                        </label>
                    </p>
                    <% if(eval.path == "path-matching") { %>
                    <p>
                        <em class="stronger"><i class="fa fa-asterisk"></i> Required</em>
                    </p>
                    <% } %>

                </div>
                <div class="step-action ">
                    <div>
                        <select id="control_vars" class="multiselect from-upload" multiple="multiple">
                            <option value="">Select balance variables</option>
                        </select>
                    </div>
                </div>

                <div class="step-subquestion">
                    <h4><label for="cluster_var">If individuals are clustered, for example within classrooms or schools, select the cluster variable.</label></h4>
                </div>
                <div class="step-action ">
                    <select class="multiselect from-upload" id="cluster_var">
                        <option value="Select cluster variables">Select cluster variable</option>
                    </select>
                </div>

                <div class="step-subquestion">
                    <h4><label for="grade_var">Select the name of the variable that indicates student grade level if the analysis should be conducted by grade. Otherwise, select &ldquo;combine all grades.&rdquo;</label> </h4>
                </div>
                <div class="step-action ">
                    <select class="multiselect from-upload" id="grade_var">
                        <option value="Select grade variable">Select grade variable</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="step-to-consider">
                <div class="panel-group" id="ttc1">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title sec-label clickable">
                                <span class="fa fa-caret-down" aria-hidden="false"></span>
                                <a data-toggle="collapse" data-parent="#ttc1" href="#consider1">
                                    Things to Consider
                                </a>
                            </h3>
                        </div>
                        <div id="consider1" class="panel-collapse collapse in">
                            <% console.log("path = " + eval.path);
                            if(eval.path == "path-matching") { %>
                            <p class="note matching-path">
                                Upload the file you downloaded after creating your matched comparison groups.
                            </p>
                            <% } %>
                            <% if(eval.path == "path-random") { %>
                            <p class="note random-path">
                                You should have downloaded a dataset after randomly creating treatment and comparison groups. Upload that dataset here after merging it with your outcome data.
                            </p>
                            <% } %>
                            <div class="before-upload">
                                <p>If users and non-users were chosen based on groups they belonged to rather than as individuals, we need to identify these &ldquo;clusters&rdquo; in order to correctly estimate the effect of the intervention. If the decision to give students a technology was made by principals, and all students in a school either get the technology or don't, then select the "School ID" variable or some other indicator of which school the student attended. Similarly, if the intervention is at the classroom level, the clusters are the classrooms.</p>
                                <p>In some cases it is important that analysis be conducted within groups of students in the same grade. This would be important if the outcome measure is not comparable across grades. If this does not matter for your evaluation, leave "combine all grades" selected.</p>
                            </div>
                            <% if(eval.path == "path-matching") { %>
                            <p class="matching-path">

                                For more information, please read <a target="_blank" href="/static/pdf/Prepare your data for analysis_matching.pdf">Prepare Your Data for Analysis</a>.
                            </p>

                            <% } %>
                            <% if(eval.path == "path-random") { %>
                            <p class="random-path">

                                For more information, please read <a target="_blank" href="/static/pdf/Prepare your data for analysis_randomized pilot.pdf">Prepare Your Data for Analysis</a>.
                            </p>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
       
            <div id="error" class="col-xs-11"></div>
     
        <div id='loadingmessage' hidden>
            <div class="loading">
                <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                <span class="sr-only">Loading...</span>

            </div>
        </div>
        <div class="clearfix"></div>
        <div id="shinybuttons" class="bottom-buttons hidden ">
            <button id="go" type="button" class="btn btn-primary btn-lg">RUN ANALYSIS</button>
        </div>

    </div>

</div>
</div>
</div>

</div>
<div id="warning-modal" class="modal fade hidden-print" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h2 class="modal-title">This may take a few minutes.</h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div>
                        <p style="padding: 20px;">Depending on the number of participants in your evaluation and the number of baseline variables, this analysis could take several minutes. Please stay on this page. </p>

                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">OK</button>

            </div>
        </div>
    </div>
</div>
<div class="hidden">
    <input type="hidden" id="techName" value="<%= defs.Basics_Tech_Name %>"/>
    <input type="hidden" id="evalOutcome" value="<%= defs.Basics_Outcome %>"/>
    <input type="hidden" id="outDirection" value="<%= defs.Outcome_Direction %>"/>
    <input type="hidden" id="measureUnits" value="<%= defs.Units %>"/>
    <input type="hidden" name="getresult[Result]" id="gresult" value='<%= (eval.getresult.Result) ? eval.getresult.Result : "" %>'/>
</div>
<% include ../views/partials/toolButtons.html %>
</form>
    <div>
        <% include ../views/partials/footer.html %>
    </div>
    <script>
        $(document).ready(function() {
     
            $('.multiselect').multiselect();
            enablebuttons();
            $('.success-effect-size').text($("#Success_Effect_Size").val());

            //init feedback_me plugin
            var fm_options = setFeedbackOptions($("#user_email").val(), "getresult");
            fm.init(fm_options);
        });

        $("#Success_Effect_Size").change(function() {
            $('.success-effect-size').text($("#Success_Effect_Size").val());
        });
        $("#treat_var").change(function () {
            enablebuttons();
        });
        $("#outcome_var").change(function() {
            enablebuttons();
        });
        $('#Outcome_Direction').change(function () {
            outcomeDirectionUpdate(this);
        });
        $('#Outcome_Measure').change(function () {
            outcomeMeasureUpdate(this);
        });

            $("#chosenfile").change(function () {
                var formData = new FormData();
                $('#loadingmessageUp').show();
                formData.append("data", $(this)[0].files[0]);
                $.ajax({
                    url: $("#coreurl").val() + "/ocpu/library/edtechrce/R/csv_colnames/json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        $('#loadingmessageUp').hide();
                        $("select.from-upload").empty();
                        $("#outcome_var").append($("<option></option>")
                        .attr("value", "none selected")
                        .text("None Selected"));
                        $("#treat_var").append($("<option></option>")
                       .attr("value", "none selected")
                       .text("None Selected"));
                        $("#grade_var")
                        .append($("<option></option>")
                        .attr("value", "combine all grades")
                        .text("Combine all grades"));
                        $("#cluster_var ")
                .append($("<option></option>")
                .attr("value", "no cluster")
                .text("No cluster"));
                        $(".before-upload").addClass("after-upload");
                        $(".after-upload").removeClass("before-upload");
                        $.each(data.colnames, function (index, value) {
                            $("select.from-upload")
                            .append($("<option></option>")
                            .attr("value", value)
                            .text(value));
                        });
                        $('.multiselect').multiselect('destroy');
                        $('.multiselect').multiselect();
                        //$("#match").prop("disabled", false);
                        $("#shinybuttons").removeClass("hidden");
                    }
                });
            });

            $("#go").click(function () {
                $('#results').html("");
                console.log("data: " + $("#chosenfile")[0].files[0]);
                console.log("outcome_var: " + JSON.stringify($("#outcome_var").val()));
                console.log("treat_var: " + JSON.stringify($("#treat_var").val()));
                console.log("control_vars: " + JSON.stringify($("#control_vars").val()));
                console.log("cluster_var: " + JSON.stringify($("#cluster_var").val()));
                console.log("grade_var: " + JSON.stringify($("#grade_var").val()));
                console.log("direction: " + JSON.stringify($("#Outcome_Direction").val()));
                console.log("cutoff: " + JSON.stringify($("#Success_Effect_Size").val()));
                console.log("probability: " + JSON.stringify($("#Pass_Probability").val()));
                var formData = new FormData();

                formData.append("data", $("#chosenfile")[0].files[0]);
                formData.append("outcome_var", JSON.stringify($("#outcome_var").val()));
                formData.append("treat_var", JSON.stringify($("#treat_var").val()));
                formData.append("control_vars", JSON.stringify($("#control_vars").val()));
                formData.append("cluster_var", JSON.stringify($("#cluster_var").val()));
                formData.append("grade_var", JSON.stringify($("#grade_var").val()));
                formData.append("direction", JSON.stringify($("#Outcome_Direction").val()));
                formData.append("cutoff", JSON.stringify($("#Success_Effect_Size").val()));
                formData.append("probability", JSON.stringify($("#Pass_Probability").val()));


                $('#warning-modal').modal("show");
                $('#loadingmessage').show();
                $.ajax({
                    url: $("#coreurl").val() + "/ocpu/library/edtechrce/R/impact",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {
                        console.log(data);
                        var responsePaths = data.split("\n");

                        $.ajax({
                            url: $("#coreurl").val() + responsePaths[0] + "/json",
                            type: "GET",
                            success: function (data) {
                                $('#loadingmessage').hide();
                                $('#warning-modal').modal("hide");
                                
                                var errors = data.error_message;
                                if (errors.length > 0) {
                                    $('#error').append('<h2 class="stop-warning" style="margin-left:-40px;">Unable to analyze results.</h2><p>There appears to be something wrong with your data set.  Please check that you selected the correct variables above.  Please <a href="mailto:edtechrce@mathematica-mpr.com">contact us</a> if you need further assistance. </p><p>Detailed error message: ' + errors + '</p></h2>');
                                    return;
                                } else {


                                    $("#gresult").val(JSON.stringify(data));
                                    // $("#gresult").val("data");
                                    $("#getresult").submit();
                                }
                            },
                            error: function (xhr) {
                                $('#loadingmessage').hide();
                                var error = 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText;
                                $('#error').append('<h2 class="stop-warning" style="margin-left:-40px;">Unable to analyize results.</h2><p>There appears to be something wrong with your data set.  Please check that you selected the correct variables above.  Please <a href="mailto:edtechrce@mathematica-mpr.com">contact us</a> if you need further assistance. ' + error + '</p></h2>');
                            }
                        });
                    },
                    error: function (xhr) {
                        $('#loadingmessage').hide();
                        console.log(xhr);
                        var error = 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText;
                        $('#error').append('<h2 class="stop-warning" style="margin-left:-40px;">Unable to analyize results.</h2><p>There appears to be something wrong with your data set.  Please check that you selected the correct variables above.  Please <a href="mailto:edtechrce@mathematica-mpr.com">contact us</a> if you need further assistance. ' + error + '</p></h2>');
                        //alert('Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText + ' ' + xhr.responseText);
                    }
                });
            });

      
            function enablebuttons() {
                if (($("#treat_var").val() === "none selected") || ($("#outcome_var").val() === "none selected") || ($("#treat_var").val() === "") || ($("#outcome_var").val() === "")) {
                    $("#go").prop("disabled", true);
                }
                else {
                    $("#go").prop("disabled", false);
                }

            }
      
       
       
    </script>
</body>

</html>