<html>
<head>
    <title>Get Results - Ed Tech RCE Coach</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>
        #container {
            width: 1000px;
            height: 2000px;
            overflow: hidden;
            margin-left: auto;
            margin-right: auto;
        }

        iframe {
            width: 1000px;
            height: 2000px;
            border: 0px;
        }
    </style>
</head>
<body>
    <div id="header"></div>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wizard"><span class="fa fa-caret-left"></span> Back to Analyzing Your Data</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% include ../views/partials/toolHeader.html %>
    <br />
    <div id="container">
        <iframe src='/rce/shiny/bayesian-dashboard_v2/'></iframe>
    </div>
    <br />
    <form action="/getresult" method="post">
        <div class="bottom-buttons">
            <button type="submit" class="btn btn-info btn-lg">SAVE CHANGES</button>
            <button type="submit" class="btn btn-primary btn-lg">SAVE &amp; COMPLETE</button>
            <input class="hidden" name="status" id="status" />
        </div>
    </form>
    <% include ../views/partials/footer.html %>
    <script src='/static/js/custom.js'></script>
</body>
</html>