<!DOCTYPE html>

<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- craft_your_research_q.html -->
<html lang="en">
<head>
    <title>Getting your data ready</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body>
    <% include ../views/partials/toolHeader.html %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12">
                <div class="tool-header">
                    <h1 class="tool-title"> Getting your data ready</h1>
                    <div class="tool-intro">
                        <p>
                            It is time to get your data ready for the Ed&nbsp;Tech&nbsp;RCE&nbsp;Wizard. In the following step, you will need to upload a data&nbsp;set like the following:
                        </p>
                        <img src="./05 - Getting Your Data Ready.png" alt="A data set image with 12 variables or columns and 12 observations or rows. The variables are (in order from left to right) Student ID, Treatment status, Fall score, Spring score, School ID, Female indicator, Male indicator, ELL indicator, Not  indicator, Free lunch indicator, Reduced lunch indicator, and Paid lunch indicator. Missing values have been coded as NA. Categorical variables have been coded as numeric indicator variables." title="clean data set snapshot" width="800" height="541" />
                        <p>
                            <a href="./05 - Getting Your Data Ready.pdf" target="_blank">This guide</a> describes how to produce that data set.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% include ../views/partials/footer.html %>
    <script src='../public/js/custom.js'></script>
</body>
</html>
