<!DOCTYPE html>
<!-- craft_your_research_q.html -->
<html lang="en">
  <head>
  	<title>Getting your data ready</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/main.css" />
    <link rel="stylesheet" href="../public/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>
      <div class="container-fluid">
          <div class="row">
              <div class="col-xs-12">
                  <div class="tool-header">
                      <h1 class="tool-title"> Getting your data ready</h1>
                      <div class="tool-intro">
                          <p>
                              It is time to get your data ready for the Ed&nbsp;Tech&nbsp;RCE&nbsp;Wizard. In the following step, you will need to upload a data&nbsp;set like the following:
                          </p>
                          <img src="./05 - Getting Your Data Ready.png" alt="A data set image with 12 variables or columns and 12 observations or rows. The variables are (in order from left to right) Student ID, Treatment status, Fall score, Spring score, School ID, Female indicator, Male indicator, ELL indicator, Not  indicator, Free lunch indicator, Reduced lunch indicator, and Paid lunch indicator. Missing values have been coded as NA. Categorical variables have been coded as numeric indicator variables." title="clean data set snapshot" width="800" height="541" />
                          <p><a href="./05 - Getting Your Data Ready.pdf" target="_blank">This guide</a> describes how to produce that data set.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    <script src='../public/js/custom.js'></script>
  </body>
</html>
