<!doctype html>
<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Ed Tech RCE Coach</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.feedback_me.js"></script>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="homepage">
    <div id="header"></div>
    <div class="container-fluid">
        <div class="row main">
            <div class="front-header">
                <div class="front-text">
                    <h1> Is your Educational Technology moving the needle in the classroom?</h1>
                    <p>The Ed Tech Rapid Cycle Evaluation Coach helps you evaluate educational technology use in your school so that you can make better, more informed decisions and improve student outcomes.</p>
                    <p>
                        <a class="text-center btn btn-primary larger" href="/login" id="startEval" class="btn btn-primary btn-lg">GET STARTED</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 no-padding">
                <img src="/static/image/TestingTech1ForFront.png" />
            </div>
            <div class="col-xs-6">
                <h2>Testing your ed tech is more important than you think.</h2>
                <p>
                    The Ed Tech RCE Coach is a powerful tool that helps you analyze your own data to evaluate educational technology use in your school and answer important questions such as:
                </p>
                <ul class="front-list">
                    <li>Does your ed tech program lead to the desired outcomes?</li>
                    <li>Should you keep paying for a software tool you're already using?</li>
                    <li>Should you buy the software you're pilot testing?</li>
                </ul>
                <p>
                    Proper testing will get you the right answers, more quickly and easily. If you’re interested in piloting the Coach with us, please fill out this <a href="https://goo.gl/forms/zX6o7Dxjm67tE0VM2">brief form</a>.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <h2>Try Out the Tools</h2>
                <p>
                    Want to try out the tools in the Coach? You can view and even use some of the Coach's tools without creating an account.
                </p>
                <p>
                    The tools that make up the Coach can be used as part of an evaluation or as one-time use tools to help you understand and work through a part of the evaluation process. Using the tools this way, allows you to test various options and solutions.
                </p>
            </div>
            <div class="col-xs-6">
                <div class="dash-well">
                    <h2>Welcome to RCE for Ed Tech</h2>
                    <ul>
                        <li>
                            <a onclick=" window.open('/static/pdf/01.01 RCE overview.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">RCE: Rapid, Rigorous Evaluation</a>
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <a onclick=" window.open('/static/pdf/01.02ChooseATechnology.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Choose a technology</a>
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <a onclick=" window.open('/static/pdf/01.03 UnderstandTypesofEvidence.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">
                            Understand types of evidence
                            </a>
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <span>Start conversations with app developers&mdash;<em>Coming soon</em></span>
                            <div class="tool-access">
                            </div>
                        </li>
                    </ul>
                    <div class="text-right">
                        <a href="/PreviewTools" class="sec-label">View all tools <span class="fa fa-caret-right"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <div id="testimonials" class="carousel" data-ride="carousel">
                    <h2>How can you use the Ed Tech RCE Coach?</h2>
                    <hr style="margin: 35px auto; width: 15%;" />

                    <div style="display: inline-block; width: 19.5%; vertical-align: top; text-align: right;">
                        <div class="btn-bar">
                            <div id="buttons">
                                <a id="prev" href="#" style="font-size: 5em; display: block;">&lsaquo; </a>
                            </div>
                        </div>
                    </div>
                    <div id="carousel">
                        <div id="slides">
                            <ul>
                                <li class="slide">
                                    <div class="quoteContainer">
                                        <p class="quote-phrase">A public school district is using over 40 different education technology products to support elementary math. To help principals make good decisions about which products to use in their buildings, the district is conducting rapid cycle evaluations (RCEs) using data from last year and a technique called matching to assess which products work best at supporting elementary math learning. </p>
                                    </div>
                                </li>
                                <li class="slide">
                                    <div class="quoteContainer">
                                        <p class="quote-phrase">A district has recently upgraded its technology infrastructure and is providing devices to all students and teachers for the first time. The district is piloting a real-time student feedback app with ten teachers across several schools. The district will use matching to identify teachers who are similar to the pilot teachers and learn whether the feedback app is improving student comprehension, measured by formative assessments. </p>
                                    </div>
                                </li>
                                <li class="slide">
                                    <div class="quoteContainer">
                                        <p class="quote-phrase">
                                            Interested in setting up a new pilot? We’re looking for partners to field test the new tools. We’re also looking for partners to do RCEs for tools that are focused on non-achievement outcomes. Email us at <a href="mailto:EdTechRCE@mathematica-mpr.com">EdTechRCE@mathematica-mpr.com</a> to find out more.
                                        </p>
                                    </div>
                                </li>
                            </ul>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel" data-slide-to="1"></li>
                                <li data-target="#carousel" data-slide-to="2"></li>
                            </ol>
                        </div>
                    </div>
                    <div style="display: inline-block; width: 19.5%; vertical-align: top; text-align: left;">
                        <div class="btn-bar">
                            <div id="buttons">
                                <a id="next" href="#" style="font-size: 5em;">&rsaquo; </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="welcome-text">
                <div class="col-xs-12 no-padding">
                    <h2>Welcome to the beta version of the Ed Tech RCE Coach!</h2>
                </div>
                <div class="col-xs-4">
                    <h3>Feedback</h3>
                    <p> We&rsquo;re excited to get your feedback on the Coach. On the right side of each page there’s a “Feedback” tab you can click to provide comments on that page. You can also email us at <a href="mailto:EdTechRCE@mathematica-mpr.com">EdTechRCE@mathematica-mpr.com</a>. </p>
                </div>
                <div class="col-xs-4">
                    <h3>Current Functionality</h3>
                    <p>The Coach currently provides support for conducting RCEs of pilots you have already started or are starting this year. You can use this method as long as you can identify some similar students, teachers or schools that didn’t use the product.  </p>
                </div>
                <div class="col-xs-4">
                    <h3>Coming Soon</h3>
                    <p>We&rsquo;ll be adding more tools in the coming months to support forward-looking pilots of new technologies or implementation strategies. We’re also looking for partners to evaluate products that support teacher productivity, professional development or non-academic student outcomes. </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <nav class="footer navbar-default" role="navigation">
        <div class="footer-row">
            <div class="col-xs-4">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h3 class="sec-label">Ed Tech RCE Coach <span style="text-transform: none;"><em>beta</em></span></h3>
                    </a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-xs-8">
                <ul class="footer-list">
                    <li>
                        <a href="/About" class="sec-label">About</a>
                    </li>
                    <li>
                        <a href="/PreviewTools" class="sec-label">Preview Tools </a>
                    </li>
                    <li>
                        <a href="/TermsOfUse" class="sec-label">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy" class="sec-label">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-center text-muted">&copy; Mathematica Policy Research, Inc. </p>
            </div>
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            //rotation speed and timer
            var speed = 520000;

            var run = setInterval(rotate, speed);
            var slides = $('.slide');
            var container = $('#slides ul');
            var elm = container.find(':first-child').prop("tagName");
            var item_width = container.width();
            var previous = 'prev'; //id of previous button
            var next = 'next'; //id of next button
            slides.width(item_width); //set the slides to the correct pixel width
            container.parent().width(item_width);
            container.width(slides.length * item_width); //set the slides container to the correct total width
            container.find(elm + ':first').before(container.find(elm + ':last'));
            resetSlides();

            $.get("/header", function (data) {
                $("#header").html(data);
            });
            //if user clicked on prev button

            $('#buttons a').click(function (e) {
                //slide the item

                if (container.is(':animated')) {
                    return false;
                }
                if (e.target.id == previous) {
                    container.stop().animate({
                        'left': 0
                    }, 1500, function () {
                        container.find(elm + ':first').before(container.find(elm + ':last'));
                        resetSlides();
                    });
                }

                if (e.target.id == next) {
                    container.stop().animate({
                        'left': item_width * -2
                    }, 1500, function () {
                        container.find(elm + ':last').after(container.find(elm + ':first'));
                        resetSlides();
                    });
                }

                //cancel the link behavior
                return false;

            });

            //if mouse hover, pause the auto rotation, otherwise rotate it
            container.parent().mouseenter(function () {
                clearInterval(run);
            }).mouseleave(function () {
                run = setInterval(rotate, speed);
            });


            function resetSlides() {
                //and adjust the container so current is in the frame
                container.css({
                    'left': -1 * item_width
                });
            }


            //a simple function to click next link
            //a timer will call this function, and the rotation will begin

            function rotate() {
                $('#next').click();
            }


            //init feedback_me plugin
            var fm_options = {
                bootstrap: true,
                position: "right-top",
                name_placeholder: "Name please",
                name_required: true,
                title_label: "",
                message_label: "Message",
                message_placeholder: "Please send us your feedback on the site&rsquo;s functionality and appearance",
                feedback_url: "/feedback",
                custom_params: {
                    user_email: "Anonymous",
                    page: "index"
                },
                delayed_options: {
                    success_color: "#5cb85c",
                    fail_color: "#d2322d",
                    delay_success_milliseconds: 3500,
                    send_success: "Thanks for your feedback."
                }

            }
            fm.init(fm_options);
        });
    </script>

</body>
</html>
