<!doctype html>
<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Ed Tech RCE Coach</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.feedback_me.js"></script>

    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body class="homepage">
    <div id="header"></div>
<div class="container-fluid">
    <div class="row main">
        <div class="front-header">
            <div class="front-text">
                <h1> Is your educational technology moving the needle in the classroom?</h1>
                <p>The Ed Tech Rapid Cycle Evaluation Coach helps you evaluate educational technology use in your school so that you can make better, more informed decisions and improve student outcomes.</p>
                <p>
                    <a class="text-center btn btn-primary larger" href="/login" id="startEval" class="btn btn-primary btn-lg">GET STARTED</a>
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 no-padding front-sec-image">
            <img src="/static/image/TestingTech3ForFront.png"/>
        </div>
        <div class="col-xs-6" style="padding: 0 35px 0;">
            <h2 >Testing your ed tech is more important than you think.</h2>
            <p>
                The Ed Tech RCE Coach is a powerful tool that helps you analyze your own data to evaluate educational technology use in your school and answer important questions such as:
            </p>
            <ul class="front-list">
                <li>How can I set up meaningful pilots of new educational technologies?</li>
                <li>Does our ed tech program lead to the desired outcomes?</li>
                <li>Should we keep paying for a software tool we're already using?</li>


            </ul>
            <p>
                The Coach can help you answer these questions and more in 5 easy steps. Preview the Coach tools below, or create your account today to get the evidence you need to make informed decisions about ed tech in your school.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="welcome-text">
            <div class="col-xs-12 no-padding">
                <h2>Welcome to the Ed Tech RCE Coach!</h2>
            </div>
            <div class="col-xs-6">
                <h3>Feedback</h3>
                <p> We are interested in hearing how the Coach is working for you. Help us improve the user experience. Please send us your feedback either by using the “Feedback” tab on the right of each page or by emailing us at  <a href="mailto:EdTechRCE@mathematica-mpr.com">EdTechRCE@mathematica-mpr.com</a>.
                </p>
            </div>
            <div class="col-xs-6">
                <h3>Latest Updates</h3>
                <p>We have been refining the Coach to better meet the needs of our users. Most recently, we made the process for setting analysis thresholds more intuitive and meaningful. We also added new tools to help you identify outcome measures and features to help you select the appropriate variables for your analysis.  
                </p>
            </div>
           
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row smargin">
        <div class="col-xs-12">
            <div id="testimonials" class="carousel" data-ride="carousel">
                <h2>How can you use the Ed Tech RCE Coach?</h2>
                <hr style="margin: 35px auto; width: 15%;"/>

                <div style="display: inline-block; width: 19.5%; vertical-align: top; text-align: right;">
                    <div class="btn-bar">
                        <div id="buttons">
                            <a id="prev" href="#" style="font-size: 5em; display: block;">&lsaquo; </a>
                        </div>
                    </div>
                </div>
                <div id="carousel">
                    <div id="slides">
                        <ul>
                            <li class="slide">
                                <div class="quoteContainer">
                                    <p class="quote-phrase">As part of a Race to the Top District grant, Clarksdale Municipal School District expanded its use of technology, launching a one-to-one computing initiative that provided devices to all students in all of its schools. This led to the use of a variety of technology-based resources and applications. Wanting to better understand whether specific applications improved student outcomes, district officials used routinely collected data  and the RCE Coach to produce more concrete evidence. They needed to determine whether the technologies piloted with RTT-D grant funds merited long-term investment. <a onclick="window.open('/static/pdf/CaseStudy_Clarksdale_081417.pdf', ''); return false; " href="javascript:void(0);">Clarksdale Municipal School District: How to Make Sense of Mixed Results?
                                     </a></p>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="quoteContainer">
                                    <p class="quote-phrase">Like many districts in the United States, North Carolina&rsquo;s Wake County Public School System</a> has recently invested in the expansion of instructional technology and now offers a range of digital resources in its schools. In 2015, the director of data strategy and analytics became interested in evaluating district-wide technology initiatives. Evaluating individual ed-tech applications sometimes fell outside of his department&rsquo;s  primary research agenda, but the Ed Tech Rapid Cycle Evaluation Coach made it possible for him to conduct a quick-turnaround, low-cost evaluation. Please read <a onclick="window.open('/static/pdf/CaseStudy_WakeCounty_81417.pdf', ''); return false; " href="javascript:void(0);">
    Wake County Public School System: Are We Measuring the Right Outcome?</a></p>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="quoteContainer">
                                    <p class="quote-phrase">
                                        As part of St. Vrain Valley School&rsquo;s initiatives to personalize learning, teachers and staff have implemented educational technologies that help provide differentiated instruction to students. District staff relied on information from educational technology developers about the effects of their software applications on student outcomes. Developers reported on outcomes for students using the technology with fidelity, but the staff wanted to understand the outcomes of all students with access to the technology. Please read <a onclick=" window.open('/static/pdf/CaseStudy_StVrainValley.pdf', ''); return false; " href="javascript:void(0);">St. Vrain Valley Schools: How Do We Interpret Developers&rsquo; Claims?</a> to learn more.
                                    </p>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="quoteContainer">
                                    <p class="quote-phrase">
                                        At the Dakota State University College of Education, Assistant Professor Kevin Smith teaches graduate students in the Master of Science in Educational Technology program. The majority of Smith&rsquo;s students are full-time classroom teachers who aspire to transition into new roles as technology coordinators or technology integration specialists within schools. He has incorporated using the Coach into his curriculum to make evaluation accessible and relevant to educators and inform their decisions on the use of educational technology in their schools.
                                        Please read <a onclick=" window.open('/static/pdf/CaseStudy_DSU_101017.pdf', ''); return false; " href="javascript:void(0);">Dakota State University: How Do We Make Evaluation More Relevant to Educators?
                                        </a> to learn more.
                                    </p>
                                </div>
                            </li>
                            <li class="slide">
                                <div class="quoteContainer">
                                    <p class="quote-phrase">
                                        Uplift Education decided to try using the Coach to conduct more robust analyses of  effectiveness of both technological and non-technological programs. They have used findings from the Coach to determine whether they will continue offering costly programs. Every data analyst at Uplift has used the Coach to evaluate a program or practice. The Uplift data team noted that the Coach has helped them generate more support for rigorous evaluation districtwide.
                                        Please read <a onclick="window.open('/static/pdf/CaseStudy_Uplift_final.pdf', ''); return false; " href="javascript:void(0);">Uplift Education: How Can We Use the Coach to Evaluate Non-Tech Initiatives in our Schools?
                                </a> to learn more.
                                    </p>
                                </div>
                            </li>
                        </ul>
                        <ol class="carousel-indicators">
                            <li data-target="#carousel" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel" data-slide-to="1"></li>
                            <li data-target="#carousel" data-slide-to="2"></li>
                            <li data-target="#carousel" data-slide-to="3"></li>
                            <li data-target="#carousel" data-slide-to="4"></li>
                        
                        </ol>
                    </div>
                </div>
                <div style="display: inline-block; width: 19.5%; vertical-align: top; text-align: left;">
                    <div class="btn-bar">
                        <div id="buttons">
                            <a id="next" href="#" style="font-size: 5em;">&rsaquo; </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="welcome-text">
        <div class="col-xs-12">
            <h2>Resources</h2>
            <p>
                <h3 class="case-studies">

                    <a href="/Resources/#case_studies"> Case Studies </a>
                </h3>
                <span class="resource-intro">Take a look at what RCE Coach users are doing. These case studies explore evaluation challenges that educators or district staff faced and the solutions they discovered while using the Coach. </span>
            </p>
            <p>
                <h3 class="res-welcome">
                    <a href="/Resources/#welcome">Welcome to the RCE for Ed Tech</a>
                </h3>
                <span class="resource-intro">Welcome aboard! This set of tools will provide an overview of the Ed Tech RCE Coach and help you get started. </span>
            </p>
            <p>
                <h3 class="things-to-consider">
                    <a href="/Resources/#consider">Things to Consider</a>
                </h3>
                <span class="resource-intro">The &ldquo;Things to Consider&rdquo; infographics will guide you through important considerations as you design your evaluation and interpret the results.  </span>
            </p>
            <p>
                <h3 class="training">

                    <a href="/Resources/#train">Training Resources</a>
                </h3>
                <span class="resource-intro">If you&rsquo;re considering hosting a training on the RCE Coach for your colleagues, this set of tools offers a pre-prepared presentation, workshop materials, and data and scenarios for practice evaluations.  </span>
            </p>
            <p>
                <h3 class="technical">

                    <a href="/Resources/#tech">Technical Appendices</a>
</h3>
                <span class="resource-intro">The technical appendices will provide you more detailed information on the methods and statistics that the Coach uses. </span>
            </p>
        </div>
       
        <div class="clearfix"></div>
    </div>
   
</div>
    <div class="clearfix"></div>
    <nav class="footer navbar-default" role="navigation">
        <div class="footer-row">
            <div class="col-xs-4">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <h3 class="sec-label">Ed Tech RCE Coach</h3>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-xs-8">
                <div class="col-xs-4">
                    <ul class="footer-list">
                        <li>
                            <a href="/About" class="sec-label">About</a>
                        </li>

                        <li>
                            <a href="/TermsOfUse" class="sec-label">Terms of Use</a>
                        </li>
                        <li>
                            <a href="/PrivacyPolicy" class="sec-label">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-4">
                    <ul style="list-style:none;margin-top:20px;">
                        <li>
                            <a class="sec-label" onclick="window.open('/static/pdf/Glossary.pdf', ''); return false; " href="javascript:void(0);">
                                Glossary
                            </a>
                        </li>
                        <li>
                            <a class="sec-label" onclick="window.open('/static/pdf/RCE Coach FAQs.pdf', ''); return false; " href="javascript:void(0);">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="/resources" class="sec-label">Guides and Reference Resources </a>
                        </li>
                    </ul>
                </div>
               

            </div>
            <div class="clearfix">
                <p class="text-center text-muted">&copy; 2016 Mathematica Policy Research, Inc. </p>
            </div>
    
        </div>
    </nav>
    <script>
        $(document).ready(function () {
            //rotation speed and timer
            var speed = 520000;

            var run = setInterval(rotate, speed);
            var slides = $('.slide');
            var container = $('#slides ul');
            var elm = container.find(':first-child').prop("tagName");
            var item_width = container.width();
            var previous = 'prev'; //id of previous button
            var next = 'next'; //id of next button
            slides.width(item_width); //set the slides to the correct pixel width
            container.parent().width(item_width);
            container.width(slides.length * item_width); //set the slides container to the correct total width
            container.find(elm + ':first').before(container.find(elm + ':last'));
            resetSlides();

            $.get("/header", function (data) {
                $("#header").html(data);
            });
            //if user clicked on prev button

            $('#buttons a').click(function (e) {
                //slide the item

                if (container.is(':animated')) {
                    return false;
                }
                if (e.target.id == previous) {
                    container.stop().animate({
                        'left': 0
                    }, 1500, function () {
                        container.find(elm + ':first').before(container.find(elm + ':last'));
                        resetSlides();
                    });
                }

                if (e.target.id == next) {
                    container.stop().animate({
                        'left': item_width * -2
                    }, 1500, function () {
                        container.find(elm + ':last').after(container.find(elm + ':first'));
                        resetSlides();
                    });
                }

                //cancel the link behavior
                return false;

            });

            //if mouse hover, pause the auto rotation, otherwise rotate it
            container.parent().mouseenter(function () {
                clearInterval(run);
            }).mouseleave(function () {
                run = setInterval(rotate, speed);
            });


            function resetSlides() {
                //and adjust the container so current is in the frame
                container.css({
                    'left': -1 * item_width
                });
            }


            //a simple function to click next link
            //a timer will call this function, and the rotation will begin

            function rotate() {
                $('#next').click();
            }


            //init feedback_me plugin
            var fm_options = {
                bootstrap: true,
                position: "right-top",
                name_placeholder: "Name please",
                name_required: true,
                title_label: "",
                message_label: "Message",
                message_placeholder: "Please send us your feedback on the site&rsquo;s functionality and appearance",
                feedback_url: "/feedback",
                custom_params: {
                    user_email: "Anonymous",
                    page: "index"
                },
                delayed_options: {
                    success_color: "#5cb85c",
                    fail_color: "#d2322d",
                    delay_success_milliseconds: 3500,
                    send_success: "Thanks for your feedback."
                }

            }
            fm.init(fm_options);
        });
    </script>

</body>
</html>
