<!DOCTYPE html>
<!-- craft_your_research_q.html -->
<html lang="en">
  <head>
  	<title>home</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/main.css"/>
    <link type="text/css" rel="stylesheet" href="css/font-awesome.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </head>
  <body>

  <h1>Overview: User Path for RCE Using Matching</h1>

  <p><b>Objective: </b>This set of web pages show the path a user would take in order to complete a backward-looking matched comparison design. These pages are the web versions of prototypes reviewed at the June TWG meeting. The first few steps, including discovery and account creating, are intentionally omitted for now.</p>
  <p>The tools will be connected. For example, in step 2 the user will tell us the name of the technology that is being evaluated. This answer will be recorded on the database and we will use it to personalize other tools. Similarly, based on the answers to step 1 we will show the user different research paths. The wizard architecture is in progress and will provide the structure to link the pieces together.</p>

  <p><b>Links to Tools for the Matching Path</b></p>
  <ul>
   <li><a href="/determine_your_approach">01 - Determine your approach</a></li>
   <li><a href="/craft_your_research_q">02 - Research question</a></li>
   <li><a href="/plan_next_steps">03 - Plan next steps</a></li> 
   <li><a href="/context_and_usage">04 - Context and usage</a></li> 
   <li><a href="/getting_your_data_ready">05 - Getting your data ready</a></li> 
   <li><a href="./shiny/matching_v2">06 - Matching dashboard</a></li> 
   <li><a href="./shiny/bayesian-dashboard_v2">07 - Bayesian impact dashboard</a></li>
   <li><a href="./shiny/brief">08 - Create findings brief</a></li>
  </ul>

  <p><b>Next Steps:</b></p>
  <ol>
    <li>Apply a style sheet to all pages to apply a consistent visual&nbsp;design and user&nbsp;experience.</li>
    <li>Enable the database so the tools can read and write to it. At the moment they cannot communicate with each other.</li>
    <li>Fill in links to the downloadable (and sometimes longer) versions of tools.</li>
    <li>Keep improving the language we are using to make it more accessible</li>
    <ol type="a">
        <li>Work on language that we can use as placeholders until the user answers the relevant questions – currently these are coded (using&nbsp;“Q1”,&nbsp;for&nbsp;example) to allow us to link everything together, but we need plain language placeholders that make sense to the user.</li>
    </ol>
  </ol>

  <p><b>Finding brief examples</b></p>
  <ol>
    <li><a href="https://docs.google.com/document/d/17OC8mePunj_cg5igepX8g4fJTCM6c8RmRcX830lyfTU/edit?usp=sharing" target="_blank">Does nine months of eSpark increase student achievement on the 2016 literacy iReady scale among grade 1-3 students in St. Vrain Valley School District compared to students using neither eSpark nor Lexia?</a></li>
    <li><a href="https://docs.google.com/document/d/1F4j99GogzFEu0F5Yqyki3l-Bj7ASfmgjMRbnf0W8cS0/edit?usp=sharing" target="_blank">Does nine months of eSpark increase student achievement on the 2016 literacy iReady scale among grade 1-3 students in St. Vrain Valley School District compared to students using Lexia?</a></li>
  </ol>

  </body>
</html>
