<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Login Ed Tech RCE Coach</title>
    <% include ../views/partials/scriptHeader.html %>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body >
 
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/"><span class="fa fa-caret-left"></span> Back to Home</a></li>
    </ol>
<div class="container-fluid">
    <div class="dash-well col-sm-12">
        <div class="col-sm-6" style="padding: 20px;">
            <div>
                <p>New to the Coach?</p>
                <h2>
                    Create an account to:
                </h2>
                <ul>
                    <li>Get free access to the full set of RCE Coach tools.</li>
                    <li>Let the Coach guide you through an evaluation, step by step.</li>
                    <li>Save your progress and share information across tools.</li>
                    <li>Share your findings with others.</li>
                    <li>View findings from other evaluations done by users like you.</li>
                </ul>

                <div style="margin-top: 20px;">
                    <a class="btn btn-primary btn-lg" href="/signup">Create an account</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6" style="padding: 20px; border-left: 2px solid #ccc;">
            <div >
                <p>Already have an account?</p>
                <h2 >
                    Login
                </h2>
                <!-- show any messages that come back with authentication -->
                <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
                <% } %>
                <!-- LOGIN FORM -->
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="text" class="form-control" name="email" autofocus>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                    <button type="submit" style="margin-top: 20px;" class="btn btn-primary btn-lg">Login</button>
                </form>
                <hr>
                <p>
                    Forgot password? <a href="/forgot">Reset password</a>
                </p>

            </div>

        </div>
    </div>

</div>
<div class="clearfix"></div>
    <% include ../views/partials/footer.html %>
</body>
</html>
