
<html>
<head>
    <title>Matching - Ed Tech RCE Coach</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css" />
    <script src="/static/js/jquery.feedback_me.js"></script>
    <script src="/static/js/bootstrap-multiselect.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');

    </script>

  
</head>
<body>

    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/wizard"><span class="fa fa-caret-left"></span> Back to Analyzing Your Data</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% include ../views/partials/toolHeader.html %>
    <% } %>
   
    <form action="/matching" method="post">
        <% var Q_M_1='', Q_M_2='', Q_9='', Result='', Plan_Question_A='';
            if (user != "NOAUTHENTICATED") { if (eval.matching) {
                    Q_M_1 = eval.matching.Q_M_1;
                    Q_M_2 = eval.matching.Q_M_2;
                    Q_9 = eval.matching.Q_9;
                    if (eval.matching.Result) Result = eval.matching.Result;
             }
         if (eval.planQuestion) {Plan_Question_A=eval.planQuestion.Plan_Question_A;}
        } %>
        <input type="hidden" id="user_email" value="<%= user %>" />

        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tool-header">
                        <h1 class="tool-title">Build your evaluation sample</h1>
                        <div class="tool-intro">
                            <p>Compare apples to apples by creating a comparison group that is similar to users of the technology. You can be more confident in your findings if the groups you are comparing are very similar.</p> 
                        </div>

                    </div>
                    <div class="tool-help">
                        <p>
                            <b>Challenge:</b> You want to compare outcomes for individuals who used a technology to outcomes for those who didn&rsquo;t, but technology users may be different from non-users in important ways. For example, if all students are provided access to an optional reading technology, the ones who chose to use it may be the students who are already excited about reading. To get a good estimate of the effect of the technology, you want to compare apples to apples. Please see <a target="_blank" href="https://edtechrce.org/static/pdf/02.04%20Matching%20overview.pdf">Matching Overview</a> to learn more.
                        </p>
                        <p>
                            <b>Solution:</b> You can match each technology user to a non-user who is very similar on important characteristics. By comparing outcomes for these matched groups of users and non-users, you will be able to get better information about whether or not the technology is moving the needle.
                        </p>

                    </div>

                    <div class="tool-questions">
                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#A">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> Describe your sample
                                </h2>
                            </div>
                        </div>
                        <div id="A" class="row  collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">
                                    <p>
                                        <label for="Q_M_1">Who is in the intervention group&mdash;the group that used the technology? If the technology is used in a subset of schools or classrooms, note that here.</label>
                                    </p>
                                </div>
                                <div class="step-action">


                                    <textarea name="Q_M_1" rows="2" placeholder="Ex. seven schools that used Everest Learning Lab in their fifth grade classrooms" class="shiny-bound-input"><%= Q_M_1 %></textarea>
                                </div>
                                <div class="step-subquestion">
                                    <p>
                                        <label for="Q_M_2">Who is in the group that did not use the technology?</label>
                                    </p>
                                </div>
                                <div class="step-action">

                                    <textarea name="Q_M_2" rows="2" placeholder="Ex. five schools that did not use Everest Learning Lab" class="shiny-bound-input"><%= Q_M_2 %></textarea>
                                </div>
                                <div class="step-subquestion">
                                    <p>

                                        <label for="Q_9">Who was given access to <%= Plan_Question_A %>?</label>

                                    </p>
                                </div>
                                <div class="step-action">
                                    <textarea name="Q_9" rows="2" placeholder="Ex. In intervention group schools, students in the bottom half of the class on the 2014 K-PREP test were given access to  <%= Plan_Question_A %>" class="shiny-bound-input"><%= Q_9 %></textarea>
                                </div>
                            </div>

                        <div class="col-xs-5">
                            <div class="step-to-consider">

                                <div class="panel-group" id="ttc2">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                <a data-toggle="collapse" data-parent="#ttc2" href="#consider2">
                                                    Things to Consider
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="consider2" class="panel-collapse collapse in">
                                            <p>
                                                This information will be included in your findings brief to help your colleagues and stakeholders understand the setting in which you tested this technology.
                                            </p>
                                        </div>
                                    </div>

                                    <div class="panel panel-default">
                                        <div class="panel-heading accordion-toggle">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-right" aria-hidden="true"></span>
                                                <a data-toggle="collapse" data-parent="#ttc2" href="#example2">
                                                    Example
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="example2" class="panel-collapse collapse">

                                            <ul>
                                                <li>Intervention group: seven schools that used Everest Learning Lab in their fifth grade classrooms</li>
                                                <li>Comparison group: five schools that did not use Everest Learning Lab</li>
                                                <li>Given access: in intervention group schools, students in the bottom half of the class on the 2014 K-PREP test were given access</li>
                                            </ul>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#B">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> Upload your data
                                </h2>
                            </div>
                        </div>
                        <div id="B" class="row  collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">
                                    <p>Upload a <span data-toggle="tooltip" title="A CSV (comma separated values) file stores data in tables as plain text and is widely used to exchange or transfer information." class="tooltip-gr" >CSV</span> file of containing your data.

                                </div>
                                <div class="step-action">
                                   
                                       
                                            <input id="chosenfile" size="1" type="file" accept=".csv" >
                                     
                                  
                                    <p class="warning">
                                        Before uploading data, make sure personally identifiable information (PII), such as names, has been removed. You may want to include a random ID that you can use to link the data in this file to other data sources.
                                    </p>
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="step-to-consider">

                                    <div class="panel-group" id="ttc3">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title sec-label clickable">
                                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                    <a data-toggle="collapse" data-parent="#ttc3" href="#consider3">
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider3" class="panel-collapse collapse in">
                                                <p>
                                                    To save a CSV file from Excel, go to the "Save As" menu, and when choosing a filename, select "CSV (Comma delimited)" in the "Save as type" selector.
                                                </p>
                                                <p>
                                                    The file should have one row for each person in your sample and one column for each data field (e.g, test scores and background characteristics). It&rsquo;s important this file include any characteristics you want to use for matching and also an indicator of who used the technology. For more information, please read <a target="_blank" href="https://edtechrce.org/static/pdf/04.01PrepareYourDataForAnalysis.pdf">Prepare Your Data for Analysis</a>.
                                                </p>
                                               
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#C">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> Who is using the technology?
                                </h2>
                            </div>
                        </div>
                        <div id="C" class="row  collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">
                                    <p>Choose the name of the variable that tells us who is using the technology. </p>
                                    <div class="step-action ">
                                       
                                            <div>
                                                <select id="treat_var" class="multiselect" multiple="multiple" >

                                                    <option value="">Select the treatment variable</option>
                                                   
                                                </select>
                                               
                                            </div>
                                        

                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="step-to-consider">

                                    <div class="panel-group" id="ttc4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title sec-label clickable">
                                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                    <a data-toggle="collapse" data-parent="#ttc4" href="#consider4">
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider4" class="panel-collapse collapse in">
                                                <p>
                                                    This variable should take the value 1 to indicate the record belongs to the treatment group, and 0 for the comparison group.
                                                </p>
                                            </div>
                                        </div>

                                    </div>
                                   
                                </div>
                            </div>
                        </div>

                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#D">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> Should matched students always have the same grade?
                                </h2>
                            </div>
                        </div>
                        <div id="D" class="row  collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">

                                    <div class="step-action ">
                                       
                                            
                                                <select id="grade_var" class="multiselect" multiple="multiple" ><option value="match any grade" selected="selected">match any grade</option></select>
                                           
                                            
                                        </div>
                                   
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <div class="step-to-consider">

                                    <div class="panel-group" id="ttc5">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title sec-label clickable">
                                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                    <a data-toggle="collapse" data-parent="#ttc5" href="#consider5">
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider5" class="panel-collapse collapse in">
                                                <p>In some cases it is important that matched pairs of students always be in the same grade, to ensure comparability. This would be the case if your outcome measure is not comparable across grades. If this does not matter for your evaluation&mdash;for example, if you&rsquo;re using a vertically scaled assessment&mdash;leave this as "match any grade" in the select menu. If you only want to match students in the same grade, please select the name of the variable that indicates student grades.</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#E">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> Choose which characteristics matter when matching users to similar non-users
                                </h2>
                            </div>
                        </div>
                        <div id="E" class="row  collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">

                                    <div class="step-action ">
                                        
                                           
                                         
                                                <select id="match_vars" class="multiselect" multiple="multiple" >
                                                    <option value="Select matching variables">Select matching variables</option>
                                                </select>
                                                
                                                
                                         
                                        </div>
                                       
                                    </div>
                            
                            </div>

                            <div class="col-xs-5">
                                <div class="step-to-consider">

                                    <div class="panel-group" id="ttc6">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title sec-label clickable">
                                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                    <a data-toggle="collapse" data-parent="#ttc6" href="#consider6">
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider6" class="panel-collapse collapse in">
                                                <p>It is most important to be sure that the two groups had similar levels of the outcome you care about before they started using the technology. In a study of a math technology that was used starting in October 2015, we would want to match using a measure of math achievement from September 2015 or earlier. You may also want to match on other student characteristics like free lunch status and English learner status, as well as teacher's characteristics like years of experience, if the teacher plays an important role in students' use of the technology.</p>
                                                <p>Please refer to the <a href="https://edtechrce.org/static/pdf/02.04%20Matching%20overview.pdf" target="_blank">The Matching Overview</a> for more on which variables should be included.</p>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    
                    </div> <!--end class=body-section-->
                    <div id='loadingmessage' class="row" hidden>
                        <div class="col-sm-5 col-sm-offset-6">
                            <img src='/static/image/ajax-loader.gif' />
                        </div>
                    </div>
                    <div class="bottom-buttons">
                        <button id="match" type="button" class="btn btn-default action-button shiny-bound-input">Match!</button>


                        <a id="downloadData" class="btn btn-default shiny-download-link  shiny-bound-output disabled " href="#" target="_blank" disabled="disabled" >
                            <i class="fa fa-download"></i>
                            Download
                        </a>
                       
                    </div>


                    <div id="diagnostic_error" class="shiny-html-output shiny-bound-output"></div>


                    <div id="save_status" class="shiny-html-output shiny-bound-output"></div>


                    <div id="results" class="shiny-html-output shiny-bound-output">
                      
                        </div>
               

                </div>

            </div>
        </div>
   
        <% if (user != "NOAUTHENTICATED") { %>
        <div class="bottom-buttons">
            <button type="submit" class="btn btn-info btn-lg">SAVE CHANGES</button>
            <button type="submit" class="btn btn-primary btn-lg">SAVE &amp; COMPLETE</button>
            <input class="hidden" name="status" id="status" />
        </div>
        <% } %>
     
        <input  name="result" id="mresult" value="<%= Result %>" />
</form>
    <% include ../views/partials/footer.html %>
    <script src='/static/js/custom.js'></script>
<script>
    $(document).ready(function () {
        $('.multiselect').multiselect();

        $("#chosenfile").change(function () {

            var formData = new FormData();

            formData.append("data", $(this)[0].files[0]);

            $.ajax({
                url: "https://52.222.20.48/ocpu/library/edtechrce/R/csv_colnames/json",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {

                    $("select").empty();

                    $("#grade_var")
                      .append($("<option></option>")
                      .attr("value", "match any grade")
                      .text("match any grade"));

                    $.each(data.colnames, function (index, value) {
                        $("select")
                          .append($("<option></option>")
                          .attr("value", value)
                          .text(value));
                    });
                   $('.multiselect').multiselect('destroy');
										$('.multiselect').multiselect();
                    $("#match").prop("disabled", false);
                }
            });
        });

        $("#match").click(function () {

            var formData = new FormData();

            formData.append("data", $("#chosenfile")[0].files[0]);
            formData.append("treat_var", JSON.stringify($("#treat_var").val()));
            formData.append("match_vars", JSON.stringify($("#match_vars").val()));
            formData.append("grade_var", JSON.stringify($("#grade_var").val()));

            $('#loadingmessage').show();

            $.ajax({
                url: "https://52.222.20.48/ocpu/library/edtechrce/R/matching",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {

                    var responsePaths = data.split("\n");
                  //  console.log(responsePaths);

                    $.ajax({
                        url: "https://52.222.20.48" + responsePaths[0] + "/json",
                        type: "GET",
                        success: function (data) {
                            $('#loadingmessage').hide();
                            var results_by_grade = data.results_by_grade;
                     
                        
                            for (var key in results_by_grade) {
                                if (results_by_grade.hasOwnProperty(key)) {
                                    var imgid = "plot" + key;                              
                                    var grade_object = results_by_grade[key];
                                    var bal1, bal2, bal3, info, buttxt;

                                    info = 'The data you uploaded has ' + grade_object.samples.n_full + ' observations (after removing observations missing the selected matching variables), ' + grade_object.samples.n_full_treat + ' of which are in the treatment group. The matched data set produced by the dashboard has ' + grade_object.samples.n_matched + ' observations, ' + grade_object.samples.n_matched_treat + ' of which are in the treatment group.';
                                    buttxt = 'To learn more about how this dashboard works, you can review this <a href="/static/pdf/05.01a Matching Technical Appendix.pdf" target="_blank" > <u> technical appendix</u></a>.'
                                    $('#results').append('<p>' + grade_object.title + '</p>');
                                    if (grade_object.good_balance) {
                                        bal1 = 'Congratulations! The RCE Engine was able to produce a good comparison group. The following figure shows improvement on baseline equivalence.';
                                        bal2 = 'Your next step is to use the impact dashboard to determine whether the educational technology you are evaluating is moving the needle or not.';
                                    }
                                    else {
                                        bal1 = 'The RCE Engine was not able to produce a good comparison group. The following figure shows you baseline equivalence before and after matching:';
                                        bal2 = 'The following variables do not satisfy baseline equivalence: ';
                                        bal3 = 'This means students using the educational technology are very different to students not using it. You can contact us [this link should go to our help/contact page], to discuss other options to determine whether the educational technology is moving the needle.';
                                    }
                                    $('#results').append('<p>' + bal1 + '</p>');
                                    $('#results').append('<div id= ' + imgid + ' class="shiny-plot-output shiny-bound-output" >' + '<img id=' + imgid + ' src=data:image/png;base64,' + grade_object.plot + ' />' + '</div>');
                                    $('#results').append('<p>' + info + '</p>');
                                    $('#results').append('<p>' + bal2 + '</p>');
                                    if (!grade_object.good_balance) {
                                        var unbalanced = grade_object.unbalanced_vars;
                                        $('#results').append('<ul >');
                                        for (i = 0; i < unbalanced.length; i++)
                                        {
                                            $('#results').append('<li>' + unbalanced[i] + '</li>');
                                    }
                                        $('#results').append('</ul >');
                                        $('#results').append('<p>' + bal3 + '</p>');
                                    }
                                    $('#results').append('<p>' + buttxt + '</p>')
                                    
                                }
                            }
             
                            $("#mresult").val(JSON.stringify(data));
                            
                            $("#downloadData")
                             .removeClass("disabled");

                            $("#downloadData")
                              .attr("target", "_blank")
                              .attr("href", "https://52.222.20.48" + responsePaths[8]).removeAttr("disabled");
                            // Save results to database.
                        }
                    });

                 
                }
            });
        });
    });
    //init feedback_me plugin
    var fm_options = setFeedbackOptions($("#user_email").val(), "plan_next_steps");
    fm.init(fm_options);
</script>
</body>
</html>