<!DOCTYPE html>

<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- craft_your_research_q.html -->
<html lang="en">
<head>
    <title>Think about how you will use the results</title>
    <% include ../views/partials/scriptHeader.html %>
</head>
<% var peekingThis = query.peeking == 1 ? "peeking" : ""; %>
<body class="<%- peekingThis %>">
    <% include ../views/partials/header.html %>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Planning Your Research</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% }} %>
    <form action="/plan_next_steps" method="post">
        <% if (user != "NOAUTHENTICATED") { %>
        <% include ../views/partials/toolHeader.html %>
        <% } %>
      
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tool-top">
                        <div class="dl-guide">
                            <a onclick=" window.open('/static/pdf/03.02 Think about how you will use results_downloadable.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.4em;">View Guide <span class="fa fa-download" aria-hidden="true"></span></a>
                        </div>
                        <div class="tool-header">
                            <h1 class="tool-title">
                                <% if(query.peeking == 1) { %>
                                <span title="<%- defs.peekingnote %>" data-toggle="tooltip" class="tooltip-gr peeking-pretitle">PEEKING AT</span><br />
                                <% } %> Think About How You Will Use The Results
                            </h1>
                            <div class="tool-intro">
                                <p>
                                    The Coach will help you think about how the answer to your research question will inform the decisions you make regarding your technology. To complete this tool you will need to consider:
                                </p>
                                <ul>
                                    <li>What would success look like?</li>
                                    <li>How much risk are you willing to take when making a decision or a recommendation?</li>
                                </ul>

                            </div>
                            <div class='tool-instructions'>
                                <p>Sections A through D will help you think about these questions. Remember, you can always come back to this step and change your answers. In other words, nothing you enter here is permanent, so just fill this out as best you can.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">


                    <div class="tool-questions">
                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#A">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i>
                                    A. What is the cost of
                                    <%= defs.Basics_Tech_Name %>?
                                </h2>
                            </div>
                        </div>
                        <div id="A" class="row  collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-action">
                                    <p>
                                        It <label class="hidden" for="Tech_Cost_Saves">Indicate if technology costs or saves money.</label>
                                        <select required id="Tech_Cost_Saves" name="planNext[Tech_Cost_Saves]">
                                            <%
                                            var options = ["Select an option", "costs", "saves" ];
                                            for ( var i = 0; i < options.length; i++ )
                                            {
                                            var selected = ( eval.planNext.Tech_Cost_Saves== options[i] ) ? "selected" : "";

                                            %>
                                            <option value="<%=options[ i ] %>" <%=selected %> ><%=options[ i ] %></option><%
                                            }
                                            %>
                                        </select>

                                        about $<label class="hidden" for="Tech_Amount">Enter amount technology costs or saves in dollars.</label><input type="text" style="width: 40px;" name="planNext[Tech_Amount]" id="Tech_Amount" placeholder="20" value="<%= eval.planNext.Tech_Amount %>" />
                                        per
                                        <label class="hidden" for="Tech_Cost_User">Select technology user.</label><select required name="planNext[Tech_Cost_User]">
                                            <%
                                         
                                                                                                                      var options = ["Select an option", "student", "teacher", "school" ];
                                            for ( var i = 0; i < options.length; i++ )
                                            {
                                            var selected = ( eval.planNext.Tech_Cost_User== options[i] ) ? "selected" : "";

                                            %>
                                            <option value="<%=options[i] %>" <%=selected %> ><%=options[ i ] %></option><%
                                            }
                                            %>

                                        </select>
                                        to use <%= defs.Basics_Tech_Name %>.
                                    </p>
                                    <div data-toggle="collapse" data-target="#Tech_Cost_Desc">
                                        <p class="clickable">
                                            If the sentence above does not fit, you can <a>describe the cost of your technology in a couple of sentences</a> instead.
                                        </p>
                                    </div>
                                    <div id="Tech_Cost_Desc" class="collapse">
                                        <label class="hidden" for="Tech_Cost_Desc_Val">Describe the cost of your technology in a couple of sentences.</label><textarea placeholder="Type your own option here" name="planNext[Tech_Cost_Desc]" id="Tech_Cost_Desc_Val"><%= eval.planNext.Tech_Cost_Desc %></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="panel-group" id="ttc4">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title sec-label clickable">

                                                    <a data-toggle="collapse" data-parent="#ttc4" href="#consider4">
                                                        <i class="fa fa-caret-down" aria-hidden="false"></i>
                                                        Things to Consider
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="consider4" class="panel-collapse collapse in">
                                                <p>
                                                    The cost of a technology could simply be the cost per user. It could also be the savings realized by replacing one technology with another less expensive technology. Cost can also be measured in something other than dollars, such as teacher preparation time saved.
                                                </p>
                                            </div>
                                        </div>
                                        <div class="panel panel-default">
                                            <div class="panel-heading accordion-toggle">
                                                <h3 class="panel-title sec-label clickable">

                                                    <a data-toggle="collapse" data-parent="#ttc4" href="#example4">
                                                        <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                        Example
                                                    </a>
                                                </h3>
                                            </div>
                                            <div id="example4" class="panel-collapse collapse">
                                                <ul>
                                                    <li>It costs about $20 per student to use the educational technology.</li>
                                                    <li>It saves about $1,000 per classroom to use the educational technology.</li>
                                                    <li>We're not sure. We believe using this tool will save teachers 20 minutes per day on prep time.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#B">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> B. What would success look like?
                                </h2>
                                <p>
                                    The Coach will calculate the probability that <%= defs.Basics_Tech_Name %> has an effect at least as large as the number you choose here. The Coach uses the units of whatever you are using to measure outcomes. This could be points on a test if you&rsquo;re trying to improve math achievement or days absent if you are trying to improve school attendance.
                                </p>
                            </div>
                        </div>
                        <div id="B" class="row collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">
                                    <p>What is the direction of intended change in <%= defs.Basics_Outcome %>?</p>
                                </div>
                                <div class="step-action">
                                    <label class="hidden" for="Outcome_Direction">Select direction of intended change.</label><select required name="planQuestion[Outcome_Direction]" id="Outcome_Direction">
                                        <%
                                        var options = ["Select an option", "Increase", "Decrease" ];
                                                                                                                                  var values = ["Select an option", "increase", "decrease" ];
                                        for ( var i = 0; i < options.length; i++ )
                                        {
                                        var selected;

                                        selected = ( eval.planQuestion.Outcome_Direction== values[i] ) ? "selected" : "";

                                        %>
                                        <option value="<%=values[i] %>" <%=selected %> ><%=options[i] %></option><%
                                        }
                                        %>

                                    </select>
                                    <% if (user != "NOAUTHENTICATED") {%>
                                    <p class="prev-answer">
                                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/craft_your_research_q?return=plan_next_steps">Craft Your Research Question</a>
                                    </p>
                                    <% } %>
                                </div>
                                <div class="step-subquestion">
                                    <p>What measure will you use to test whether there was an effect?</p>
                                </div>
                                <div class="step-action">

                                    <label class="hidden" for="Outcome_Measure">Enter outcome measure.</label><textarea name="planQuestion[Outcome_Measure]" id="Outcome_Measure" placeholder="Ex., a midyear math assessment"><%= eval.planQuestion.Outcome_Measure %></textarea>
                                    <% if (user != "NOAUTHENTICATED") { %>
                                    <p class="prev-answer">
                                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See  <a class="redirect-link" href="/craft_your_research_q?return=plan_next_steps">Craft Your Research Question</a>
                                    </p>
                                    <% } %>
                                </div>


                                <div class="step-subquestion">
                                    <p>
                                        What unit of measurement does <span class="effect-measure"><%= defs.Outcome_Measure %></span> use to measure <%= defs.Basics_Outcome %>?
                                    </p>
                                </div>
                                <div class="step-action">
                                    <label class="hidden" for="Measure_Units">Select outcome measure units.</label><select required name="planNext[Measure_Units]" id="Measure_Units">
                                        <%
                                        var options = ["Select an option", "Test score points", "Days", "Percentage points", "Other" ];
                                                                                                                       var values = ["Select an option", "test score points", "days", "percentage points", "other" ];
                                        for ( var i = 0; i < options.length; i++ ) {
                                        var selected = (eval.planNext.Measure_Units == values[i] ) ? "selected" : "";

                                        %>
                                        <option value="<%=values[ i ] %>" <%= selected %> ><%=options[ i ] %></option>
                                        <% } %>

                                    </select>
                                    <div id="Question_Units_Other" hidden="true" class="other-div">
                                        <p>
                                            <label for="Measure_Units_Other">Please specify:</label>

                                            <input type="text" name='planNext[Measure_Units_Other]' id="Measure_Units_Other" value="<%= eval.planNext.Measure_Units_Other %>" />
                                        </p>
                                    </div>
                                </div>
                                <div class="step-action">

                                    <p>
                                        I would consider any <span class="change-direction"><%= defs.Outcome_Direction %></span> at least

                                        <label class="hidden" for="Success_Effect_Size">Input size for success.</label><input type="text" name="planNext[Success_Effect_Size]" id="Success_Effect_Size" placeholder="0" value="<%= eval.planNext.Success_Effect_Size %>" style="width: 50px" step="any"/>
                                        <span class="measure-units">units</span> on <span class="effect-measure"><%= defs.Outcome_Measure %></span> a success.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="step-to-consider">
                                        <div class="panel-group" id="ttc5">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title sec-label clickable">

                                                        <a data-toggle="collapse" data-parent="#ttc5" href="#consider5">
                                                            <i class="fa fa-caret-down" aria-hidden="false"></i>
                                                            Things to Consider
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div id="consider5" class="panel-collapse collapse in">
                                                    <ul>
                                                        <li>If you hope to see an increase in a reading test score, would a 1 point increase, on average, be a meaningful increase? What about 5 points?</li>
                                                        <li>This number could be 0 or even negative. A 0 means that you would consider any increase in the outcome a success, as long as it is positive. If the technology saves you a lot of money, you might be willing to consider any change that is greater than a small negative number a success.</li>



                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#C">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> C. How confident do you want to be that &hellip;
                                </h2>
                            </div>
                        </div>
                        <div id="C" class="row collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">
                                    <p>&hellip; <%= defs.Basics_Tech_Name %> moved the needle?</p>
                                </div>
                                <div class="step-action">
                                    <p>
                                        If I learned that there was a

                                        <label class="hidden" for="Pass_Probability">Input probability for success as percent.</label><input type="text" name="planNext[Pass_Probability]" id="Pass_Probability" placeholder="75" value="<%= eval.planNext.Pass_Probability %>" style="width: 50px" />% probability that <%= defs.Basics_Tech_Name %> <span class='change-direction'><%= defs.Outcome_Direction %></span>s <%= defs.Basics_Outcome %> by <span class='success-effect-size'>0</span> or more <span class="measure-units">units</span>, I would feel comfortable concluding that <%= defs.Basics_Tech_Name %> had the intended effect.
                                    </p>
                                </div>
                                <div class="step-subquestion">
                                    <p>&hellip; <%= defs.Basics_Tech_Name %> did not move the needle?</p>

                                    <p>
                                        If I learned that there was less than a <label class="hidden" for="Fail_Probability">Input probability as percent.</label><input type="text" name="planNext[Fail_Probability]" id="Fail_Probability" placeholder="50" value="<%= eval.planNext.Fail_Probability %>" style="width: 50px" />% probability that <%= defs.Basics_Tech_Name %> <span class='change-direction'><%= defs.Outcome_Direction %></span>s <%= defs.Basics_Outcome %> by <span class='success-effect-size'>0</span> or more <span class="measure-units">units</span>, I would feel comfortable concluding that <%= defs.Basics_Tech_Name %> did not have the intended effect.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="step-to-consider">
                                        <div class="panel-group" id="ttc6">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h3 class="panel-title sec-label clickable">

                                                        <a data-toggle="collapse" data-parent="#ttc6" href="#consider6">
                                                            <i class="fa fa-caret-down" aria-hidden="false"></i>
                                                            Things to Consider
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div id="consider6" class="panel-collapse collapse in">
                                                    <p>We rarely have enough evidence to be completely certain that a technology will work if implemented well. Thinking forward to your results, what likelihood (or probability) would you need to be comfortable concluding that the educational technology is moving the needle? You might want a higher level of certainty, and therefore a higher probability, if your results will affect a higher stakes decision, such as implementing a district-wide curriculum. But you might be comfortable with a lower probability for a lower stakes decision. </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="step-header container">
                            <div data-toggle="collapse" data-target="#D">
                                <h2 class="clickable">
                                    <i class="fa fa-caret-down" aria-hidden="false"></i> D. What will you do if &hellip;
                                </h2>
                            </div>
                        </div>
                        <div id="D" class="row collapse in q-row">
                            <div class="col-xs-7">
                                <div class="step-subquestion">
                                    <p>
                                        &hellip; the evidence suggests that it is likely that


                                        <% if (user != "NOAUTHENTICATED") { %>
                                        <span class='tech-name'><%= defs.Basics_Tech_Name  %></span>&nbsp;<span class='change-direction'><%= defs.Outcome_Direction %></span>s <span class='eval-outcome'><%= eval.basics.Basics_Outcome !='' ? defs.Basics_Outcome: "B" %></span> among <span class='treatment-group'><%= eval.planQuestion.Intervention_Group_Desc != '' ? defs.Intervention_Group_Desc : "C" %></span> compared to <span class='comparison-group'><%= eval.planQuestion.Comparison_Group_Desc !='' ? defs.Comparison_Group_Desc :  "D" %></span>?
                                        <% } %>
                                        <% if (user == "NOAUTHENTICATED") { %>
                                        A does B among C compared to D?
                                        <% } %>
                                    </p>
                                </div>
                                <div class="step-action">
                                    <label class="hidden" for="Action_Success">Input what you would do if confident that technology improved outcomes.</label>
                                    <textarea name="planNext[Action_Success]"><%= eval.planNext.Action_Success %></textarea>
                                </div>
                                <div class="step-subquestion">
                                    <p>
                                        &hellip; the evidence suggests that it is not likely that
                                        <% if (user != "NOAUTHENTICATED") { %>
                                        <span class='tech-name'><%= defs.Basics_Tech_Name  %></span>&nbsp;<span class='change-direction'><%= defs.Outcome_Direction  %></span>s <span class='eval-outcome'><%= eval.basics.Basics_Outcome !='' ? defs.Basics_Outcome: "B" %></span> among <span class='treatment-group'><%= eval.planQuestion.Intervention_Group_Desc != '' ? defs.Intervention_Group_Desc : "C" %></span> compared to <span class='comparison-group'><%= eval.planQuestion.Comparison_Group_Desc !='' ? defs.Comparison_Group_Desc :  "D" %></span>?
                                        <% } %>
                                        <% if (user == "NOAUTHENTICATED") { %>
                                        A does B among C compared to D?
                                        <% } %>
                                    </p>
                                </div>
                                <div class="step-action">

                                    <label class="hidden" for="Action_Fail">Input what you would do if confident that technology did not improve outcomes.</label><textarea name="planNext[Action_Fail]"><%= eval.planNext.Action_Fail %></textarea>
                                </div>
                                <div class="step-subquestion">
                                    <p>&hellip; the results are inconclusive?</p>
                                </div>
                                <div class="step-action">

                                    <label class="hidden" for="Action_Inconclusive">Input what you would do if not sure of technology's impact on outcomes.</label><textarea name="planNext[Action_Inconclusive]"><%= eval.planNext.Action_Inconclusive %></textarea>
                                </div>
                            </div>
                            <div class="col-xs-5">
                                <div class="step-to-consider">
                                    <div class="step-to-consider">
                                        <div class="panel-group" id="ttc7">
                                            <div class="panel panel-default">
                                                <div class="panel-heading  accordion-toggle">
                                                    <h3 class="panel-title sec-label clickable">

                                                        <a data-toggle="collapse" data-parent="#ttc7" href="#consider7">
                                                            <i class="fa fa-caret-down" aria-hidden="false"></i>
                                                            Things to Consider
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div id="consider7" class="panel-collapse collapse in">
                                                    <p>
                                                        <b>Your research question:</b> <br/>
                                                        <% include ../views/partials/_researchQuestion.html %>

                                                      
                                                    </p>
                                                    <p>There are three possible answers to your research question. Thinking about what you will do under each scenario can help you determine whether your research question is the right one for the decisions you have to make.</p>
                                                </div>
                                            </div>
                                            <div class="panel panel-default">
                                                <div class="panel-heading accordion-toggle">
                                                    <h3 class="panel-title sec-label clickable">

                                                        <a data-toggle="collapse" data-parent="#ttc7" href="#example7">
                                                            <i class="fa fa-caret-right" aria-hidden="true"></i>
                                                            Example
                                                        </a>
                                                    </h3>
                                                </div>
                                                <div id="example7" class="panel-collapse collapse">
                                                    <ul>
                                                        <li>Roll out eZumi to all students in grades 3-5</li>
                                                        <li>Not renew our eZumi license for the next school year</li>
                                                        <li>Collect more data to improve the precision of our analysis</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% include ../views/partials/toolButtons.html %>
    </form>
    <% include ../views/partials/footer.html %>
    <script>

        $(document).ready(function () {

            var munits = $("#Measure_Units").val();
            if (munits.toLowerCase() === "other") {
                munits = $("#Measure_Units_Other").val();
                $("#Question_Units_Other").show();
            }
            if (munits.toLowerCase() === "select an option") {
                munits = "units";
            }

            $(".measure-units").text(munits);

            $('.success-effect-size').text($("#Success_Effect_Size").val());
        });

        $('#Outcome_Direction').change(function () {
            outcomeDirectionUpdate(this);
        });
        $('#Outcome_Measure').change(function () {
            outcomeMeasureUpdate2(this);
        });
        $('#Measure_Units').change(function () {
            measureUnitsUpdate(this);
        });
        $("#Measure_Units_Other").change(function () {
            measureUnitsOtherUpdate(this);
        });

        $('#Success_Effect_Size').change(function () {
            successEffectSizeUpdate(this);
        });

        $('#Pass_Probability').change(function () {
            passProbUpdate(this);
        });

        $('#Fail_Probability').change(function () {
            failProbUpdate(this);
        });


        //init feedback_me plugin
        var fm_options = setFeedbackOptions($("#user_email").val(), "plan_next_steps");
        fm.init(fm_options);
    </script>
</body>
</html>
