<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Preview Tools - Ed Tech RCE Coach</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/jquery.feedback_me.js"></script>
    <script src='/static/js/custom.js'></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);"/>
    <link rel="stylesheet" href="/static/css/main.css"/>
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css"/>

</head>
<body class="one-col">
    <nav class="navbar navbar-default" role="navigation">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <h3 class="sec-label">Ed Tech RCE Coach <span style="text-transform: none;"><em>beta</em></span></h3>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="pull-right" id="home-access">


            <span class="fa fa-user" style="color: #000;"></span>&nbsp;&nbsp;<a href="/login">Login</a> | <a href="/signup">Create Account</a>

        </div>

    </nav>
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/dashboard"><span class="fa fa-caret-left"></span> Back to Dashboard</a></li>
</ol>
<div class="container-fluid">
 
    <div class="page-header">
        <h1 class="page-title">Preview Tools</h1>
    </div>

    <div class="row">
        <div class="col-sm-9 content">
            <div class="dash-well">
                <h2>Welcome to RCE for Ed Tech</h2>
                <ul>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/01.01 RCE overview.pdf">RCE: Rapid, Rigorous Evaluation</a>

                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/01.02ChooseATechnology.pdf">Choose a technology</a>
                        
                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/01.03 UnderstandTypesofEvidence.pdf">Understand types of evidence
                        </a>
                        
                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <span>Start conversations with app developers&mdash;<em>Coming soon</em></span>
                        
                        <div class="tool-access">

                        </div>
                    </li>
                   
                </ul>
            </div>
            <div class="dash-well">
                <h2>Getting started</h2>
                <ul>
                    <li>
                        <div class="tool-name"></div>
                        <span>
                            Description of the problem&mdash;<em>Coming soon</em></span>

                            <div class="tool-access">

                            </div>
</li>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/02.02a Learn who used your technology.pdf">Learn who used your technology: Case Studies</a>

                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/02.03a Determine your approach_downloadable.pdf">
                            Determine your approach
                        </a>

                        <div class="tool-access">

                        </div>
                    </li>

                </ul>
            </div>
            <div class="dash-well">
                <h2>Planning your research</h2>
                <ul>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/03.01 Craft your research question_downloadable.pdf">Craft your research question</a>

                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/03.02 Think about how you will use results_downloadable.pdf">Think about how you will use the results </a>

                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/03.03 Summarize Context_downloadable.pdf">
                            Summarize context
                        </a>

                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <span>Evaluation plan&mdash;<em>Coming soon</em></span>

                        <div class="tool-access">

                        </div>
                    </li>

                </ul>
            </div>
            <div class="dash-well">
                <h2>Preparing your data
                </h2>
                <ul>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/04.01PrepareYourDataForAnalysis.pdf">Prepare your data for analysis</a>

                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <span>Build your evaluation sample: randomization&mdash;<em>Coming soon</em>
                        </span>

                        <div class="tool-access">

                        </div>
                    </li>


                </ul>
            </div>
            <div class="dash-well">
                <h2>
                    Analyzing your data

                </h2>
                <ul>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/02.04 Matching overview.pdf">Build your evaluation sample: matching
                        </a>

                        <div class="tool-access">

                        </div>
                    </li>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/05.02a Impact Estimation Technical Appendix.pdf">
                            Get results

                        </a>

                        <div class="tool-access">

                        </div>
                    </li>


                </ul>
            </div>
            <div class="dash-well">
                <h2>
                    Summarizing your findings

                </h2>
                <ul>
                    <li>
                        <div class="tool-name"></div>
                        <a href="/static/pdf/06.01a Findings Brief Appendix.pdf">
                            Share your results

                        </a>

                        <div class="tool-access">

                        </div>
                    </li>
                   


                </ul>
            </div>
        </div>
      </div>
  </div>
        <% include ../views/partials/footer.html %>
</body>
</html>
