<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Guides and Reference Resources - Ed Tech RCE Coach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% include ../views/partials/scriptHeader.html %>
</head>
<body class="one-col downloads">
    <% url="/", des="Back to Home"; if (user) {url="/dashboard"; des ="Back to Dashboard"; } %>
    <% include ../views/partials/header.html %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href= <%= url %>><span class="fa fa-caret-left"></span> <%= des %></a></li>
    </ol>
    <div class="container-fluid">
        <div class="page-header">
            <h1 class="page-title">Guides and Reference Resources</h1>
        </div>
        <div class="row">
            <div class="col-sm-9 content">

                <div class="dash-well">
                    <h2>Welcome to RCE for Ed Tech</h2>
                    <ul>
                        <li>

                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Graphic Overview.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Ed Tech RCE Coach Overview</a> (697 KB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>

                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/What you need to get started.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">What You’ll Need to Get Started</a> (153 KB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Choose a Technology.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Choose a Technology</a> (176 KB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document"/>&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Understanding types of evidence.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Understand Types of Evidence
                            </a> (1.2 MB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document"/>&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/RCE Coach Handbook.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Ed Tech Rapid Cycle Evaluation Coach Handbook
                            </a> (5.4 MB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/HowToDesignPilot.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">How to design a successful pilot
                            </a> (448 KB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/CaseStudy_Clarksdale_081417.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Case Study-Clarksdale Municipal School District: How to Make Sense of Mixed Results?
                            </a> (175 KB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document"/>&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/CaseStudy_WakeCounty_81417.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Case Study-Wake County Public School System: Are We Measuring the Right Outcome?
                            </a> (159 KB)
                            <div class="tool-access">
                            </div>
                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick="window.open('/static/pdf/CaseStudy_StVrainValley.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Case Study-St. Vrain Valley Schools: How Do We Interpret Developers&rsquo; Claims?
                            </a> (135 KB)
                            <div class="tool-access">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="dash-well">
                    <h2>Coach Training Resources</h2>
                    <ul>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/RCEModuleStateTAToolkit.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Description: RCE Coach Module</a> (53 KB)

                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document"/>&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/RCEModuleOverviewPresentation.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Presentation Slides: RCE Coach Module Overview</a> (1.5 MB)

                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document"/>&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/PresentationNotes.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Presentation Notes: RCE Coach Module Overview</a> (1.6 MB)

                        </li>



                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document"/>&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/RCE Scenarios SXSW.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">RCE Coach Workshop Scenarios</a> (112 KB)

                        </li>
                        <li>
                            <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document"/>&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/RCEModuleFacilitatorGuideforDemo.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.1em;">Facilitator Guide: RCE Coach Demo of MathTechX</a> (178 KB)

                        </li>
                        <li>
                            <img src="/static/image/csv323.png" title="CSV file" alt="CSV file"/>&nbsp;&nbsp; <a href="/static/pdf/data_mathtechx.csv" style="font-size: 1.1em;">MathTech X test data</a> (107 KB)

                        </li>
                        <li>
                            <img src="/static/image/csv323.png" title="CSV file" alt="CSV file"/>&nbsp;&nbsp; <a href="/static/pdf/data_schoolready.csv" style="font-size: 1.1em;">SchoolReady test data</a> (143 KB)

                        </li>
                        <li>
                            <img src="/static/image/csv323.png" title="CSV file" alt="CSV file"/>&nbsp;&nbsp; <a href="/static/pdf/data_teachprep.csv" style="font-size: 1.1em;">TeachPrep test data</a> (25 KB)

                        </li>

                    </ul>
                    </div>
                        <div class="dash-well">
                            <h2>Getting started</h2>
                            <ul>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/The basics.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">The Basics</a> (144 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Determine Your Approach.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">
                                    Determine Your Approach (577 KB)
                                    </a>

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Who used your technology and how.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Who is Using Your Technology and How?</a> (1.4 MB)

                                </li>

                            </ul>
                        </div>
                        <div class="dash-well">
                            <h2>Planning your research</h2>
                            <ul>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick=" window.open('/static/pdf/Craft Your Research Question.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Craft Your Research Question</a> (176 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick=" window.open('/static/pdf/03.02 Think about how you will use results_downloadable.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Think About How You Will Use the Results </a> (200 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick=" window.open('/static/pdf/Working with your ed tech provider.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Working with Ed Tech Providers </a> (177 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick="window.open('/static/pdf/Working with your ed tech provider_discussion guide.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Working with Ed Tech Providers – Sample Discussion Guide</a> (143 KB)

                                </li>
                                <li>

                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick=" window.open('/static/pdf/Summarize Context.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">
                                    Summarize context
                                    </a> (134 KB)

                                </li>

                            </ul>
                        </div>
                        <div class="dash-well">
                            <h2>
                                Preparing your data
                            </h2>
                            <ul>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick=" window.open('/static/pdf/Prepare your data for randomization.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Prepare Your Data for Random Assignment</a> (800 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Random Assignment Overview.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Random Assignment Overview</a> (289 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Randomization Technical Appendix.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Random Assignment Technical Appendix</a> (163 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick=" window.open('/static/pdf/Matching Overview.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Matching Overview</a> (395 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick=" window.open('/static/pdf/Matching Technical Appendix.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Matching Technical Appendix</a> (197 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick=" window.open('/static/pdf/Prepare your data for analysis_randomized pilot.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Prepare Your Data for Analysis – Randomized Pilot</a> (811 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick="window.open('/static/pdf/Prepare your data for analysis_matching.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">Prepare Your Data for Analysis - Matching</a> (826 KB)

                                </li>
                            </ul>
                        </div>
                        <div class="dash-well">
                            <h2>
                                Analyzing your data
                            </h2>
                            <ul>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp; <a onclick="window.open('/static/pdf/Impact Estimation Technical Appendix.pdf', ''); return false;" href="javascript:void(0);" style="font-size:1.1em;">Impact Estimation Technical Appendix</a> (474 KB)

                                </li>

                            </ul>
                        </div>
                        <div class="dash-well">
                            <h2>
                                Summarizing your findings
                            </h2>
                            <ul>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick="window.open('/static/pdf/06.01a Findings Brief Appendix.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">
                                        Findings Brief Appendix
                                    </a> (692 KB)

                                </li>
                                <li>
                                    <img src="/static/image/pdf32.png" title="PDF document" alt="PDF document" />&nbsp;&nbsp;  <a onclick="window.open('/static/pdf/06.02 Example Findings Brief.pdf', ''); return false; " href="javascript:void(0);" style="font-size:1.1em;">
                                        Example Findings Brief
                                    </a> (106 KB)

                                </li>
                            </ul>
                        </div>
                </div>
            </div>
    </div>
    <% include ../views/partials/footer.html %>

</body>
</html>
