<!doctype html>
<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Privacy Policy - Ed Tech RCE Coach</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <% include ../views/partials/header.html %>
    <% var backto="Back to Home" , backlink = "/"; if (user ) { backto ="Back to Dashboard"; backlink="/dashboard"} %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= backlink %>"><span class="fa fa-caret-left"></span> <%= backto %></a></li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="legal">
                <h1>Privacy and Data Handling Policy</h1>

                <p>Welcome to the privacy and data handling policy page (&ldquo;Privacy Policy&rdquo;) for the Ed Tech Rapid Cycle Evaluation (RCE) Coach and suite of dashboards www.edtechrce.org (the “Website”). We’re glad you’re here, and we hope you enjoy and benefit from using the Coach.</p>

                <h2>Purpose</h2>
                <p>This policy together with our Terms of Use serves as the agreement between you and Mathematica Policy Research (“Mathematica”) on the conditions of your use of the Website and our commitment to you with respect to data security and privacy. Please read this policy and the Terms of Use carefully. By accessing or using this Website, you agree to the terms of this Privacy Policy and the Terms of Use. This policy may change from time to time. Your continued use of this Website after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates</p>

                <h2>Scope</h2>
                <p>This policy addresses (1) the different categories of information and data that we may collect from you or that you may provide when you visit and use the Website (“Information”), (2) how the Information may be used or disclosed, and (3) the data security policies and practices employed to safeguard the Information. Mathematica is very serious about data protection and security. Mathematica handles sensitive information and data, including personally identifiable information and student records, on a daily basis across many diverse projects. Mathematica handles all Information in a manner consistent with applicable laws and regulations, including but without limitation, the Federal Family Educational Rights and Privacy Act (FERPA) and the California Student Online Personal Information Protection Act (SOPIPA). </p>

                <h2>Categories of Information Collected on the Website </h2>
                <ol>
                    <li>Website Use and User Account Information – this is the information you provide when you register an account on the Website; </li>
                    <li>User Input – this is the information you are prompted to type into the specified input fields when using the dashboards or tools;</li>
                    <li>User Output – this includes the briefs, reports or analysis that the dashboards or tools generate from your User Input and User Data Files;</li>
                    <li>User Data Files – these are your data files that you upload when prompted by the dashboards or tools on the Website.</li>
                </ol>
                <p>The Information is collected at different times depending on your level of interaction with the Website as described below.</p>
                <h3>Website Use and User Account Information </h3>
                <p><span style="text-decoration: underline">When you visit the Website: </span>We collect information automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies.</p>
                <p><span style="text-decoration: underline">When you register an account: </span>When you register an account you may be personally identified by registering your name, postal address, e-mail address, telephone number, or any other identifier. </p>
                <p>
                    <span style="text-decoration: underline">When you email us, blog post or use other public spaces of the Website </span>When you contact us by email we may keep copies of your correspondence (including email addresses). If you provide information to be published or displayed on public areas of the Website we may keep copies of your posts or other user contributions. Your user contributions are posted and transmitted to others at your own risk.
                </p>
                <h3>User Input, User Output and User Data Files</h3>
                <p>
                    <span style="text-decoration: underline">When you use the dashboard and tools: </span>There are three kinds of information that we may collect from your use of the dashboards and tools.
                </p>
                <ol>
                    <li>When you use the dashboard and tools, you may be asked to type in non-personally identifiable information into specified fields required to organize the analysis and output produced by the dashboard or tool (&ldquo;User Input&rdquo;.) THE DASHBOARDS AND TOOLS NEVER REQUIRE YOU TO TYPE IN PERSONALLY IDENTIFIABLE INFORMATION AND INCLUDE TIPS ALONG THE WAY TO HELP YOU AVOID INADVERTENT INPUT OF PERSONALLY IDENTIFIABLE INFORMATION. </li>
                    <li>The dashboards and tools produce briefs, analyses and reports using the non-identifiable User Input together with the User Data Files you upload into the temporary cache. The briefs, analyses and reports only include aggregated, non-identifiable data (&ldquo;User Output&rdquo;). THE USER OUTPUT NEVER INCLUDES PERSONALLY IDENTIFIABLE INFORMATION AND THE DASHBOARDS AND TOOLS INCLUDE TIPS ALONG THE WAY TO HELP YOU AVOID PRODUCING USER OUTPUT THAT INADVERTENTLY INCLUDES PERSONALLY IDENTIFIABLE INFORMATION. </li>
                    <li>The dashboards or tools may prompt you to upload your own data files that may include personally identifiable information and student records (&ldquo;User Data Files&ldquo;). User Data Files are treated with special care by the Website and are only uploaded in a temporary cache.   The data contained in your User Data Files will only be used to produce the analysis or report that you requested.  The User Data Files are not used for any other purpose. Once you are finished and log off of the Website, your User Data Files are permanently erased from the temporary cache.  We will explain more below under User Data Files on the Temporary Cache, but for now you may read along with this important information in mind.</li>
                </ol>
                <h2>Use of Your Information </h2>
                <p>In general, all Information collected is used in the pursuit of improving and evaluating instruction or instructional programs, educational, academic, or research purposes. We do not use any Information for marketing or advertising purposes. Information, other than User Data Files, may be used for purposes of enhancing the user experience of Website features or for developing additional tools or services for education, academic or research purposes that may or may not be presented or provided on this Website. In addition, we may use your User Account Information to notify you about changes or additional features we added to our Website or provide other information on related topics or opportunities that we think may be interesting to you. </p>

                <h2>Disclosure of Your Information</h2>
                <p>Mathematica strives to improve public well-being by bringing the highest standards of quality, objectivity, and excellence to bear on the provision of information collection and analysis. In support of this endeavor, and in accordance with our Privacy Policy, we may disclose your Information (other than your User Data Files which are never disclosed to any third party) in the pursuit of education, academic or research purposes, to help other users or to promote research and development of technology like the Ed Tech RCE Coach. Any Information disclosed will not include personally identifiable information. Only aggregated User Input Information will be disclosed. User Output Information may be de-identified and disclosed without aggregation. </p>

                <h2>Data Security</h2>
                <p>
                    <span style="text-decoration: underline">Cloud Computing Security: </span>The Website is hosted in a cloud environment. We have implemented measures designed to secure the Information from accidental loss and from unauthorized access, use, alteration, and disclosure. We carefully selected our hosting provider who implements network-level security measures in accordance with industry best practice standards, including appropriate administrative, physical, and technical safeguards to secure information.
                </p>
                <p>
                    <span style="text-decoration: underline">Encryption:  </span>The Website is only accessible via https and all of your Information, including your User Data Files, is encrypted in transit and at rest with the latest encryption standards.
                </p>
                <p>
                    <span style="text-decoration: underline">Encryption:  </span>Access to our production servers, including the temporary cache into which your User Data Files are uploaded, is limited to a small, specifically defined set of professional staff. Access to your Information, generally, is specifically limited to only those employees or our authorized subcontractors or agents who need to have access to support the Website. Any employee, subcontractor or agent that has access to the Website has signed a confidentiality agreement and is required to participate in annual data security and privacy training. Anyone who may cease working at Mathematica is reminded of their confidentiality obligations, and their network access is terminated.
                </p>
                <p>The safety and security of your information also depends on you. Where we have given you (or where you have chosen) a password for access to certain parts of our Website, you are responsible for keeping this password confidential. We ask you not to share your password with anyone. We urge you to be careful about giving out information in public areas of the Website like message boards. The information you share in public areas may be viewed by any user of the Website.</p>
                <h2>User Data Files on the Temporary Cache</h2>
                <p>The temporary cache where you upload your User Data Files is located on an encrypted server. Your User Data Files are transferred over an encrypted TLS connection. If you want to ensure the TLS encryption is active, you may look for the secure green lock icon in the browser URL. Your User Data Files at rest on the temporary caches are also encrypted. However, your User Data Files are held in the temporary cache for only one session of your use of the Website. The temporary cache is cleared within seconds of leaving the Website and your User Data Files on the temporary cache are erased permanently. If you forget to log-off the Website, your User Data Files will be erased during the automatic routine clearing of the temporary cache which occurs once every 24 hours. Nevertheless, WE STRONGLY ENCOURAGE YOU TO ALWAYS LOG OFF OF THE WEBSITE AFTER YOU COMPLETE YOUR SESSION. </p>

                <h2>Changes to Our Privacy Policy</h2>
                <p>It is our policy to post any changes we make to this Privacy Policy on this page. If we make material changes to how we treat Information, we will notify you by email as identified in your User Account Information. If you choose not to be notified by email, we will post a notice on the Website home page. The date this Privacy Policy was last revised is identified at the bottom of this page. You are responsible for ensuring we have an up-to-date active and deliverable email address for you, and for periodically visiting our Website and this Privacy Policy to check for any changes.</p>

                <p>These Terms of Use were last updated on October 21, 2016.</p>

                <p>If you have any questions or concerns about any of the provisions in this Privacy Policy, please contact us at <a href="mailto:EdTechRCE@mathematica-mpr.com">EdTechRCE@mathematica-mpr.com.</a> </p>
            </div>
        </div>
    </div>
    <nav class="footer navbar-default" role="navigation">
        <div class="row">
            <div class="col-xs-4">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <h3 class="sec-label">Ed Tech RCE Coach <span style="text-transform: none;"><em>beta</em></span></h3>
                    </a>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-xs-8">
                <ul class="footer-list">
                    <li>
                        <a href="/About" class="sec-label">About</a>
                    </li>
                    <li>
                        <a href="/PreviewTools" class="sec-label">Preview Tools </a>
                    </li>
                    <li>
                        <a href="/TermsOfUse" class="sec-label">Terms of Use</a>
                    </li>
                    <li>
                        <a href="/PrivacyPolicy" class="sec-label">Privacy Policy</a>
                    </li>
                </ul>
                <p class="text-center text-muted">&copy; Mathematica Policy Research, Inc. </p>
            </div>
        </div>
    </nav>
</body>
</html>
