<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by 
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded 
*   by the U.S. Department of Education’s Office of Educational Technology through 
*   Contract No. ED-OOS-15-C-0053.
-->



<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Profile</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css"/>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-86460597-1', 'auto');
  ga('send', 'pageview');

    </script>
</head>
<body>    
 <% include ../views/partials/header.html %>
     
<div class="container-fluid" id="main build-profile">

        <div class="page-header col-sm-8 col-sm-offset-2 ">
            <h1 class="form-title">Build Your Profile</h1>
            <p>You are almost ready to start evaluating. Just a few brief questions to build your profile.</p>
        </div>      
  
        <form id="ProfileForm" action="/profile" method="post">
             <div class="row col-sm-8 col-sm-offset-2  ">
                 <div class="form-group">

                     <div >
                         <label for="user_name">Full Name</label>
                     </div>
                     <div >
                         <input id="user_name" name="user_name" type="text" />
                     </div>


                 </div>
                 <div class="form-group">
                     <div >
                         <label for="organization_name">Organization Name</label>
                     </div>
                     <div >
                         <input id="organization_name" name="organization_name" type="text" />
                     </div>
                 </div>                     
                 <div class="form-group">
                     <div >
                         <label for="organiztion_type">Type of organization</label>
                         <select id="organiztion_type" name="organiztion_type">
                             <option value="">Select an option</option>
                             <option value="school">School</option>
                             <option value="district">School district</option>
                             <option value="research">Research organization</option>
                             <option value="other">other</option>
                         </select>
                     </div>
                     <div  id="other-specify-type" hidden="hidden">
                         <label for="organiztion_type_other">Please specify</label>
                         <input type="text" id="organiztion_type_other" name="organiztion_type_other" value="<%= user.profile.organiztion_type_other %>" />
                     </div>
                 </div>
                 <div class="form-group">
                        <div >
                            <label for="role">Role</label>
                            <select id="role" name="role">

                                <option value="">Select an option</option>
                                <option value="Teacher">Teacher</option>
                                <option value="Principal">Principal</option>
                                <option value="Technology/IT Advisor">Technology/IT Advisor</option>
                                <option value="Data Specialist/Assessment Coordinator">Data Specialist/Assessment Coordinator</option>
                                <option value="Researcher">Researcher</option>
                                <option value="other">Other</option>

                            </select>

                        </div>
                        <div  id="other-specify-role" hidden="hidden">
                            <label for="role_other">Please specify</label>
                            <input type="text" id="role_other" name="role_other" />
                        </div>

                    </div>
                    
                 <div class="bottom-buttons">
                     <button class="btn btn-primary" id="SaveProfile" type="submit" value="Save Profile">Save Profile</button>
                 </div>
             </div>
          
        </form>
            
  
  </div>    

<div> <% include ../views/partials/footer.html %></div>
   
</body>

<script type="text/javascript">


$('#organiztion_type').change(function () {
    var value = $(this).val();

    var otherSpecify = $("#other-specify-type");

    if (value === "other") otherSpecify.show();
    else otherSpecify.hide();
});

$('#role').change(function () {
    var value = $(this).val();

    var otherSpecify = $("#other-specify-role");

    if (value === "other") otherSpecify.show();
    else otherSpecify.hide();
});
</script>

</html>
