<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->



<html>
<head>
    <title>Randomization - Ed Tech RCE Coach</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css" />
    <script src="/static/js/jquery.feedback_me.js"></script>
    <script src="/static/js/bootstrap-multiselect.js"></script>
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');

    </script>


</head>
<body>

    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Analyzing Your Data</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% include ../views/partials/toolHeader.html %>
    <% } %>

    <form action="/randomization" method="post">
        <%

        Basics_Outcome_Other = eval.basics.Basics_Outcome_Other;
        Basics_Outcome = eval.basics.Basics_Outcome;
        if (Basics_Outcome.toLowerCase() === "other") { Basics_Outcome = Basics_Outcome_Other; }
        Basics_Users_Others = eval.basics.Basics_Users_Others;
        Basics_Users = eval.basics.Basics_Users;
        if (Basics_Users.toLowerCase() === "other") { Basics_Users = Basics_Users_Others; }
        Basics_Tech_Name = eval.basics.Basics_Tech_Name;

        var Outcome_Direction = eval.planQuestion.Outcome_Direction;
        var Outcome_Measure = eval.planQuestion.Outcome_Measure ;
        


        %>
  
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12">
                    <div class="tool-top">
                        <div class="dl-guide">
                        </div>
                        <div class="tool-header">
                            <h1 class="tool-title">Build your evaluation sample</h1>
                            <div class="tool-intro">
                                <p>Randomly select a group to pilot the technology (your intervention group). Those not selected will be your comparison group. Answer a few questions and upload your data. The Coach will create your groups and provide you with an updated dataset. You will use the updated dataset to give technology access to the correct users, and to link additional data as your pilot progresses. </p>
                            </div>


                            <div class="tool-help">
                                <p>
                                    <b>Challenge:</b> You want to test whether a technology is effective, but it is impossible to simultaneously observe what happens when an individual uses a technology and doesn’t use the technology.
                                </p>
                                <p>
                                    <b>Solution:</b> The best test of whether or not your technology works is to randomly select some of the eligible users (a subset of the group you are interested in) to pilot the technology and others to continue classroom practice as usual. Once the groups are assigned by chance, you can be confident that you are comparing apples to apples—that the two groups are the same in every way except the technology use. Then, if you see differences in outcomes (such as student achievement scores) you can be convinced that the new technology is moving the needle. See the <a target="_blank" href="https://edtechrce.org/static/pdf/02.04%20Randomization%20overview.pdf">Randomization Overview</a> to learn more.
                                </p>
                                <p>
                                    <b>Example:</b> If you introduce a new reading technology in all first grade classrooms, and then notice a jump in reading scores among those who used the technology, you may be tempted to attribute the reading improvements to the technology. However, you cannot assume that the technology caused the reading score increase. Many other factors could have contributed to the increases: the teachers also introduced a new decoding strategy, only the most motivated students used the technology, or students simply became developmentally ready to read.
                                </p>
                                <p>Let&rsquo;s get started!</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
            </div>
        </div>
        <div class="row">
            <div class="tool-questions">
                <div class="step-header container">
                    <div data-toggle="collapse" data-target="#A">
                        <h2 class="clickable">
                            <i class="fa fa-caret-down" aria-hidden="false"></i> Get ready to randomize
                        </h2>
                    </div>
                </div>
                <div id="A" class="row  collapse in q-row">
                    <div class="col-xs-7">
                        <div class="step-subquestion">

                            <h4> <label for="Intervention_Group_Desc">Let’s confirm some details. Based on the information you have provided, your randomized pilot will: </label></h4>

                        </div>
                        <div class="step-action">
                            <ul>
                                <li>
                                    Randomly select <%= Basics_Users %> to pilot test.
                                    <% if (user != "NOAUTHENTICATED") { %>
                                    <p class="prev-answer">
                                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a href="/basics">The Basics</a>
                                    </p>
                                    <% } %>
                                </li>
                                <li>
                                    Help you answer the following question: <br />
                                    <% if (user != "NOAUTHENTICATED") { %>
                                    Does <span class='tech-name'><%= Basics_Tech_Name  %></span>  <span class='change-direction'><%= eval.planQuestion.Outcome_Direction  %></span> <span class='eval-outcome'><%= Basics_Outcome !='' ? Basics_Outcome: "B" %></span> among <span class='treatment-group'><%= eval.planQuestion.Intervention_Group_Desc != '' ? eval.Intervention_Group_Desc : "C" %></span> compared to <span class='comparison-group'><%= eval.planQuestion.Comparison_Group_Desc !='' ? eval.planQuestion.Comparison_Group_Desc :  "D" %></span>?
                                    <% } %>
                                    <% if (user == "NOAUTHENTICATED") { %>
                                    Does A do B among C compared to D?
                                    <% } %>
                                    <% if (user != "NOAUTHENTICATED") { %>
                                    <p class="prev-answer">
                                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a href="/craft_your_research_q">Craft Your Research Question</a>
                                    </p>
                                    <% } %>
                                </li>
                            </ul>

                        </div>

                    </div>


                </div>
                <div class="step-header container">
                    <div data-toggle="collapse" data-target="#B">
                        <h2 class="clickable">
                            <i class="fa fa-caret-down" aria-hidden="false"></i> Now the Coach needs a few more details about your plans to roll-out the technology.
                        </h2>

                    </div>
                </div>
                <div id="B" class="row collapse in q-row">
                    <div class="col-xs-7">
                        <div class="step-subquestion">
                            <h4><label for="Individual_Group">Do you want to randomly assign <%= Basics_Users %> or groups of <%= Basics_Users %> (e.g. classes or schools) to the intervention and comparison groups?</label></h4>
                        </div>
                        <div class="step-action">
                            <select required name="Individual_Group" id="Individual_Group">
                                <%
                                var options = ["Select an option", "individuals", "groups" ];
                                for ( var i = 0; i < options.length; i++ )
                                {
                                var selected = ( eval.random.Individual_Group== options[i] ) ? "selected" : "";

                                %>
                                <option value="<%=options[ i ] %>" <%=selected %> ><%=options[i] %></option><%
                                }
                                %>

                            </select>

                        </div>
                        <div class="step-subquestion">
                            <h4><label for="Cluster_Group">What groups do you want to randomly assign?</label></h4>
                        </div>
                        <div class="step-action">

                            <select required name="Cluster_Group" id="Cluster_Group">
                                <%
                                var options = ["Select an option", "classes", "schools", "other" ];
                                for ( var i = 0; i < options.length; i++ )
                                {
                                var selected;

                                selected = ( eval.random.Cluster_Group== options[i] ) ? "selected" : "";

                                %>
                                <option value="<%=options[ i ] %>" <%=selected %> ><%=options[i] %></option><%
                                }
                                %>

                            </select>
                            <div id="Question_Cluster_Other" hidden="true">
                                <p>
                                    <label for="Cluster_Group_Other">Please specify:</label>

                                    <input type="text" name='Cluster_Group_Other' id="Cluster_Group_Other" value="<%= eval.random.Cluster_Group_Other %>" />
                                </p>
                            </div>
                        </div>

                    </div>
                    <div class="col-xs-5">
                        <div class="step-to-consider">
                            <div class="step-to-consider">
                                <div class="panel-group" id="ttc5">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title sec-label clickable">
                                                <span class="fa fa-caret-down" aria-hidden="false"></span>
                                                <a data-toggle="collapse" data-parent="#ttc5" href="#consider5">
                                                    Things to Consider
                                                </a>
                                            </h3>
                                        </div>
                                        <div id="consider5" class="panel-collapse collapse in">
                                            <p>Think about the roll-out of your technology. How many students/teachers/schools will begin to use the technology? Let’s say you have 125 second graders in five different classes. You have enough computers and software licenses for 50 students to begin using a reading program. There are two ways to assign students: you can randomly select 50 out of all 125 students (i.e. <strong>individuals</strong>) OR you can randomly select two of the five classes (i.e. <strong>groups</strong>). If neither of these options are feasible, consider starting smaller: randomly assign students within one classroom (for example, 13 students to the technology and 12 students to business-as-usual).</p>
                                            <p>Convenience should not be the only factor in your decision on how to assign the technology. <strong>Bigger samples are better</strong>. If you have a small sample, you are less likely to learn whether or not the technology works. (A larger sample allows you to detect smaller effects.) With only a few individuals or classes in each group, your results are likely to be inconclusive.</p>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-header container">
                    <div data-toggle="collapse" data-target="#C">
                        <h2 class="clickable">
                            <i class="fa fa-caret-down" aria-hidden="false"></i> Prepare and upload your data
                        </h2>
                    </div>
                </div>
                <div id="B" class="row  collapse in q-row">
                    <div class="col-xs-7">
                        <div class="step-subquestion">
                            <p>Based on the information you provided, your data file should have the following fields: </p>
                            <strong>Required</strong>
                            <ul>
                                <li>[Student/Teacher/Other]_ID (Anonymous ID for each technology user that will be randomly assigned)* </li>
                                <li>[Class/School]_ID (Anonymous ID for each group of users that will be randomly assigned)* </li>
                            </ul>
                            <strong>Strongly Recommended</strong>
                            <ul>
                                <li>
                                    Pretest measure of [B – outcome of interest]
                                </li>
                                <li>Grade level (if there is more than one grade in the sample)</li>
                                <li>Background characteristics </li>
                            </ul>
                            <p>Since you are randomizing [individuals/groups], your data set must have one row for each [individual/group]. Each column should contain a different data field (for example, student_ID, gender, etc.)  For more detailed instructions on preparing your data, see this guide. You must convert the file to CSV format before uploading it. </p>

                            <p>Upload a <span data-toggle="tooltip" title="A CSV (comma separated values) file stores data in tables as plain text and is widely used to exchange or transfer information." class="tooltip-gr">CSV</span> file containing your data.

                        </div>
                        <div class="step-action">


                            <input id="chosenfile" size="1" type="file" accept=".csv">


                            <p class="warning">
                                Before uploading data, make sure personally identifiable information (PII), such as names, has been removed.
                            </p>
                        </div>
                        <div id='loadingmessage' class="row" hidden>
                            <div class="col-sm-5 col-sm-offset-6">
                                <img src='/static/image/ajax-loader.gif' />
                            </div>
                        </div>
                        <div class="before-upload">
                            <div class="step-subquestion">
                                <h4>Who is using <%= Basics_Tech_Name %>?</h4>
                                <p>Choose the name of the variable that identifies who is using <%= Basics_Tech_Name %> from who isn't (1= users, 0 = non-users). </p>

                            </div>
                            <div class="step-action ">

                                <div>
                                    <select id="treat_var" class="multiselect from-upload">

                                        <option value="">Select a variable</option>

                                    </select>

                                </div>

                                <hr />
                            </div>

                            <div class="step-subquestion">
                                <h4>Should matched <%= Basics_Users %> always be in the same grade?</h4>
                                <p>In some cases it is important that matched pairs of students are always in the same grade, to ensure comparability. If this is not relevant or is not a concern for your evaluation&mdash;for example, if you&rsquo;re using a vertically scaled assessment&mdash;leave  "match any grade" selected. Otherwise, please select the name of the variable that indicates student grade.</p>
                            </div>
                            <div class="step-action ">


                                <select id="grade_var" class="multiselect from-upload">
                                    <option value="match any grade" selected="selected">match any grade</option>
                                </select>

                                <hr />
                            </div>
                            <div class="step-subquestion">
                                <h4> Which characteristics matter when matching users to similar non-users?</h4>
                                <p>Be sure to select your pre-evaluation outcome measure (your primary matching variable) along with any other characteristics of your <%= Basics_Users %> that could affect <%= Basics_Outcome %>. </p>
                            </div>
                            <div class="step-action ">



                                <select id="match_vars" name="match_vars" class="multiselect from-upload" multiple="multiple">
                                    <option value="Select matching variables">Select matching variables</option>
                                </select>



                            </div>
                        </div>
                    </div>

                    <div class="col-xs-5">
                        <div class="step-to-consider">

                            <div class="panel-group" id="ttc3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h3 class="panel-title sec-label clickable">
                                            <span class="fa fa-caret-down" aria-hidden="false"></span>
                                            <a data-toggle="collapse" data-parent="#ttc3" href="#consider3">
                                                Things to Consider
                                            </a>
                                        </h3>
                                    </div>
                                    <div id="consider3" class="panel-collapse collapse in">

                                        <p>
                                            Your data file should have one row for each person in your sample and one column for each data field (e.g, test scores and background characteristics). The file must include any characteristics you want to use for matching users with non-users and also an indicator of who used the technology. For more information, please read <a target="_blank" href="https://edtechrce.org/static/pdf/04.01PrepareYourDataForAnalysis.pdf">Prepare Your Data for Analysis</a>.
                                        </p>
                                        <p>
                                            The Coach suggests that you create a random ID for each study participant in your file. Be sure to create and keep a key&mdash;a file that includes the original names or IDs alongside the new random IDs. This will allow you to add more information or link files in the future.
                                        </p>
                                        <div class="before-upload">
                                            <p>
                                                It is most important that users and non-users had similar levels on your outcome variable before they started using the technology. For example, if you are interested in examining the effect of a technology on math achievement, you would want students in each group to have similar scores on a math test taken just prior to using the technology and you would use that math test as your primary matching variable.
                                            </p>
                                            <p> You can (and should) try to match your technology users to non-users on more than one characteristic. For example, if you are matching students you might want to match on free lunch or English learner status, as well as characteristics of their teachers, like years of experience, if the teacher plays an important role in students' use of the technology. </p>
                                        </div>
                                        <p>

                                            Please refer to the <a href="https://edtechrce.org/static/pdf/02.04%20Matching%20overview.pdf" target="_blank">The Matching Overview</a> for more on which variables should be included.
                                        </p>

                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>





            </div> <!--end class=body-section-->

            <div class="bottom-buttons">
                <button id="match" type="button" class="btn btn-default action-button shiny-bound-input">Match!</button>


                <a id="downloadData" class="btn btn-default shiny-download-link  shiny-bound-output disabled " href="#" target="_blank" disabled="disabled">
                    <i class="fa fa-download"></i>
                    Download
                </a>

            </div>


            <div id="diagnostic_error" class="shiny-html-output shiny-bound-output"></div>


            <div id="save_status" class="shiny-html-output shiny-bound-output"></div>


            <div id="results" class="shiny-html-output shiny-bound-output">

            </div>
            <div id='loadingmessage2' class="row" hidden>
                <div class="col-sm-5 col-sm-offset-6">
                    <img src='/static/image/ajax-loader.gif' />
                </div>
            </div>

        </div>

            </div>
        
        <input type="hidden" name="s_treat_var" id="s_treat_var" />
        <input type="hidden" name="s_match_vars" id="s_match_vars" />
        <input type="hidden" name="s_grade_var" id="s_grade_var" />
        <input type="hidden" name="n_full" id="n_full" />
        <input type="hidden" name="n_full_treat" id="n_full_treat" />
        <input type="hidden" name="n_matched" id="n_matched" />
        <input type="hidden" name="n_matched_treat" id="n_matched_treat" />
        <input type="hidden" name="result" id="mresult" />
        <% include ../views/partials/toolButtons.html %>
    </form>
    <% include ../views/partials/footer.html %>
    <script src='/static/js/custom.js'></script>
    <script>
    $(document).ready(function () {
        $('.multiselect').multiselect();


        $("#chosenfile").change(function () {

            var formData = new FormData();
            $('#loadingmessage').show();

            formData.append("data", $(this)[0].files[0]);

            $.ajax({
                url: "https://52.222.20.48/ocpu/library/edtechrce/R/csv_colnames/json",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    $('#loadingmessage').hide();
                    $("select.from-upload").empty();
                    $(".before-upload").addClass("after-upload");
                    $(".after-upload").removeClass("before-upload");
                    $("#grade_var")
                      .append($("<option></option>")
                      .attr("value", "match any grade")
                      .text("match any grade"));

                    $.each(data.colnames, function (index, value) {
                        $("select.from-upload")
                          .append($("<option></option>")
                          .attr("value", value)
                          .text(value));
                    });
                   $('.multiselect').multiselect('destroy');
										$('.multiselect').multiselect();
                    $("#match").prop("disabled", false);
                }
            });
        });

        $("#match").click(function () {

            $('#loadingmessage2').show();

            var formData = new FormData();


            $("#s_treat_var").val(JSON.stringify($("#treat_var").val()));
            $("#s_match_vars").val(JSON.stringify($("#match_vars").val()));
            $("#s_grade_var").val(JSON.stringify($("#grade_var").val()));

            formData.append("data", $("#chosenfile")[0].files[0]);
            formData.append("treat_var", JSON.stringify($("#treat_var").val()));
            formData.append("match_vars", JSON.stringify($("#match_vars").val()));
            formData.append("grade_var", JSON.stringify($("#grade_var").val()));

            $.ajax({
                url: "https://52.222.20.48/ocpu/library/edtechrce/R/matching",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {

                    var responsePaths = data.split("\n");


                    $.ajax({
                        url: "https://52.222.20.48" + responsePaths[0] + "/json",
                        type: "GET",
                        success: function (data) {
                            $('#loadingmessage2').hide();

                            var results_by_grade = data.results_by_grade;

                            var n_full=0, n_full_treat=0, n_matched=0, n_matched_treat=0
                            for (var key in results_by_grade) {
                                if (results_by_grade.hasOwnProperty(key)) {
                                    var imgid = "plot" + key;
                                    var grade_object = results_by_grade[key];
                                    var bal1, bal2, bal3, info, buttxt;
                                    n_full += parseInt(grade_object.samples.n_full);
                                    n_full_treat += parseInt(grade_object.samples.n_full_treat);
                                    n_matched += parseInt(grade_object.samples.n_matched);
                                    n_matched_treat += parseInt(grade_object.samples.n_matched_treat);
                                    info = 'The data you uploaded has ' + grade_object.samples.n_full + ' observations (after removing observations missing the selected matching variables), ' + grade_object.samples.n_full_treat + ' of which are in the intervention group. The matched data set produced by the dashboard has ' + grade_object.samples.n_matched + ' observations, ' + grade_object.samples.n_matched_treat + ' of which are in the intervention group.';
                                    buttxt = 'To learn more about how this dashboard works, you can review this <a href="/static/pdf/05.01a Matching Technical Appendix.pdf" target="_blank" > <u> technical appendix</u></a>.';

                                    $('#results').append('<div class="row"><div class="col-xs-7"><h2>Matching Results</h2><h3>' + grade_object.title + '</h3>');
                                    if (grade_object.good_balance) {
                                        bal1 = 'Congratulations! The RCE Engine was able to produce a good comparison group. The following figure shows improvement on baseline equivalence.';
                                        bal2 = 'Your next step is to use the impact dashboard to determine whether the educational technology you are evaluating is moving the needle or not.';
                                    }
                                    else {
                                        bal1 = 'The RCE Engine was not able to produce a good comparison group. The following figure shows you baseline equivalence before and after matching:';
                                        bal2 = 'The following variables do not satisfy baseline equivalence: ';
                                        bal3 = 'This means students using the educational technology are very different to students not using it. You can contact us [this link should go to our help/contact page], to discuss other options to determine whether the educational technology is moving the needle.';
                                    }
                                    $('#results').append('<p>' + bal1 + '</p>');
                                    $('#results').append('<div id= ' + imgid + ' class="shiny-plot-output shiny-bound-output" >' + '<img id=' + imgid + ' src=data:image/png;base64,' + grade_object.plot + ' />' + '</div>');
                                    $('#results').append('<p>' + info + '</p>');
                                    $('#results').append('<p>' + bal2 + '</p>');
                                    if (!grade_object.good_balance) {
                                        var unbalanced = grade_object.unbalanced_vars;
                                        $('#results').append('<ul >');
                                        for (i = 0; i < unbalanced.length; i++)
                                        {
                                            $('#results').append('<li>' + unbalanced[i] + '</li>');
                                    }
                                        $('#results').append('</ul >');
                                        $('#results').append('<p>' + bal3 + '</p>');
                                    }
                                    $('#results').append('<p>' + buttxt + '</p></div></div>');

                                }
                            }

                            $("#mresult").val(JSON.stringify(data));
                            $("#n_full").val(JSON.stringify(n_full));
                            $("#n_full_treat").val(JSON.stringify(n_full_treat));
                            $("#n_matched").val(JSON.stringify(n_matched));
                            $("#n_matched_treat").val(JSON.stringify(n_matched_treat));

                            $("#downloadData")
                             .removeClass("disabled");

                            $("#downloadData")
                              .attr("target", "_blank")
                              .attr("href", "https://52.222.20.48" + responsePaths[8]).removeAttr("disabled");
                            // Save results to database.
                        }
                    });


                }
            });
        });
    });
    //init feedback_me plugin
    var fm_options = setFeedbackOptions($("#user_email").val(), "plan_next_steps");
    fm.init(fm_options);
    </script>
</body>
</html>