<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Randomization - Ed Tech RCE Coach</title>
    <% include ../views/partials/scriptHeader.html %>
</head>
<% var peekingThis = query.peeking == 1 ? "peeking" : ""; %>
<body class="<%- peekingThis %>">
    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Preparing Your Data</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% include ../views/partials/toolHeader.html %>
    <% } %>
    <form action="/randomization" method="post">
        <%
        var Basics_Outcome_Other = eval.basics.Basics_Outcome_Other;
        var Basics_Outcome = eval.basics.Basics_Outcome;
        if (Basics_Outcome.toLowerCase() === "other") { Basics_Outcome = Basics_Outcome_Other; }
        var Basics_Users_Other = eval.basics.Basics_Users_Other;
        var Basics_Users = eval.basics.Basics_Users;
        var Singular_User = Basics_Users.substr(0,Basics_Users.length-1)
        if (Basics_Users.toLowerCase() === "other") { Basics_Users = Basics_Users_Other; }
        var Basics_Tech_Name = eval.basics.Basics_Tech_Name;
        var Outcome_Direction = eval.planQuestion.Outcome_Direction;
    var Outcome_Measure = eval.planQuestion.Outcome_Measure ;
    var Cluster_Group = eval.prepareRandom.Cluster_Group = "" ? "individuals or groups" : eval.prepareRandom.Cluster_Group;
        var Cluster_Group = Cluster_Group = "other" ? "groups" : Cluster_Group;
        %>
    <div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="tool-top">
                <div class="dl-guide">
                    <a onclick=" window.open('/static/pdf/Random Assignment Overview.pdf', ''); return false; " href="javascript:void(0);" style="font-size: 1.4em;">View Guide <span class="fa fa-download" aria-hidden="true"></span></a>
                </div>
                <div class="tool-header">
                    <h1 class="tool-title">
                        <% if(query.peeking == 1) {
                        var peekingnote = eval.path == "" ? "You need to complete &ldquo;Determine Your Approach,&rdquo; before you can use this tool." : "Based on your answers in &ldquo;Determine Your Approach,&rdquo; you do not need to use this tool to complete your evaluation.";
                        %>
                        <span title="<%= peekingnote %>" data-toggle="tooltip" class="tooltip-gr peeking-pretitle">PEEKING AT</span><br/>
                        <% } %>
                        Build Your Evaluation Sample Using Random Assignment
                    </h1>
                    <div class="tool-intro">
                        <p>
                            The best test of whether your technology works is to randomly select some of your potential users to pilot the technology (treatment group) while others continue their typical classroom practice (comparison group) and compare outcomes between the two groups. Using chance or randomization to create the groups increases the likelihood that the new technology causes the differences in outcomes.
                        </p>
                        <p><strong class="begin-em">Let&rsquo;s get started!</strong>
                        </p>
                    </div>
                    <div class="tool-help">



                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    <div class="row">
    <div class="tool-questions">
    <div class="step-header container">
        <div data-toggle="collapse" data-target="#A">
            <h2 class="clickable">
                <i class="fa fa-caret-down" aria-hidden="false"></i> First the Coach needs some details about your plans to roll-out <%= Basics_Tech_Name %>.
            </h2>
        </div>
    </div>
    <div id="A" class="row  collapse in q-row">
        <div class="col-xs-7">
            <div class="step-subquestion">
                <h4>
                    <label for="Basics_Users">
                        Who is using <%= Basics_Tech_Name %>?
                    </label>
                </h4>
            </div>
            <div class="step-action">
                <select required name="Basics_Users" id="Basics_Users">

                    <%
                    var options = ["Select an option", "Students", "Teachers", "Other"];
                    var ovals = ["Select an option", "students", "teachers", "other"];
                    for ( var i = 0; i < options.length; i++ )
                    {

                    var selected = ( eval.basics.Basics_Users == ovals[i] ) ? "selected" : "";

                    %>
                    <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[ i ] %></option>
                    <%
                    }
                    %>

                </select>

                <div id="Question_Users_Other" hidden="true" class="other-div">
                    <div>
                        <label for="Basics_Users_Other">Please specify:</label>
                    </div>

                    <input type="text" name='Basics_Users_Other' id="Basics_Users_Other" value="<%= eval.basics.Basics_Users_Other %>"/>
                </div>

                <% if (user != "NOAUTHENTICATED") { %>
                <p class="prev-answer">
                    <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/basics?return=randomization">The Basics</a>
                </p>
                <% } %>
            </div>
            <div class="step-subquestion">
                <h4><label for="Individual_Group">Do you want to randomly assign individual <%= Basics_Users %> or groups of <%= Basics_Users %> (for example, classes or schools) to the treatment and comparison groups?</label></h4>
            </div>
            <div class="step-action">
                <select name="Individual_Group" id="Individual_Group">
                    <%
                    var options = ["Select an option", "Individuals " , "Groups"];
                    var ovals = ["Select an option", "users" , "groups" ];
                    for ( var i = 0; i < options.length; i++ )
                    {
                    var selected = ( eval.prepareRandom.Individual_Group== ovals[i] ) ? "selected" : "";
                    %>
                    <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[i] %></option>
                    <%
                    }
                    %>
                </select>

                <div id="Question_Cluster" hidden="true" class="other-div">

                    <h4><label for="Cluster_Group">How will you group your <%= Basics_Users %>?</label></h4>


                    <select name="Cluster_Group" id="Cluster_Group">
                        <%
                        var options = ["Select an option", "By class", "By school", "Other" ];
                        var ovals = ["Select an option", "classes", "schools", "other" ];
                        for ( var i = 0; i < options.length; i++ )
                        {
                        var selected;
                        selected = ( eval.prepareRandom.Cluster_Group== ovals[i] ) ? "selected" : "";
                        %>
                        <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[i] %></option><%
                        }
                        %>
                    </select>

                    <div id="Question_Cluster_Other" hidden="true" class="other-div">
                        <p>
                            <label for="Cluster_Group_Other">Please specify:</label>
                            <input type="text" name='Cluster_Group_Other' id="Cluster_Group_Other" value="<%= eval.prepareRandom.Cluster_Group_Other %>"/>
                        </p>
                    </div>



                </div>
                <% if (user != "NOAUTHENTICATED") { %>
                <p class="prev-answer">
                    <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a class="redirect-link" href="/prepare_data_random?return=randomization">Prepare for Random Assignment</a>
                </p>
                <% } %>
            </div>
            <div class="step-subquestion">
                <h4><label for="User_Limit_Exist">Are there any limits on the number of <span class="indivs-or-groups"><%= Cluster_Group %></span> that can be given access to the technology?</label></h4>


            </div>
            <div class="step-action">
                <select name="User_Limit_Exist" id="User_Limit_Exist">
                    <%
                    var options = ["Select an option", "Yes", "No" ];
                    var ovals = ["Select an option", "yes", "no" ];
                    for ( var i = 0; i < options.length; i++ )
                    {
                    var selected= ( eval.random.User_Limit_Exist== ovals[i] ) ? "selected" : "";
                    %>
                    <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[i] %></option>
                    <% } %>
                </select>
                <div id="Question_User_Limits" hidden="true" class="other-div">
                    <div class="step-subquestion">

                        <h4>What are the limits?</h4>
                    </div>
                    <div class="step-action">
                        <p>

                            No more than
                            <label class="hidden" for="intervention_quantity">Input limit amount</label>
                            <input type="number" style="width: 40px;" name='intervention_quantity' id="intervention_quantity" value="<%= eval.random.intervention_quantity %>"/>
                            <label class="hidden" for="intervention_type">Select limit amount unit</label><select name="intervention_type" id="intervention_type">
                                <%

                                var options = ["Select an option", "Percent of individuals or groups", "Individuals or groups" ];
                                var ovals = ["Select an option", "percentage", "number" ];
                                for ( var i = 0; i < options.length; i++ )
                                {
                                var selected = ( eval.random.intervention_type == ovals[i] ) ? "selected" : "";
                                %>
                                <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[i] %></option>
                                <% }%>
                            </select> can access <%= Basics_Tech_Name %>.

                        </p>



                    </div>



                </div>
            </div>
        </div>
        <div class="col-xs-5">
            <div class="step-to-consider">
                <div class="step-to-consider">
                    <div class="panel-group" id="ttc5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title sec-label clickable">
                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                    <a data-toggle="collapse" data-parent="#ttc5" href="#consider5">
                                        Things to Consider
                                    </a>
                                </h3>
                            </div>
                            <div id="consider5" class="panel-collapse collapse in">

                                <p>
                                    You do not have to randomly select <%= Basics_Users %> at the individual level. It might be more feasible to select by classroom or by school. However, your ability to learn whether <%= Basics_Tech_Name %> is effective will be stronger if you can choose at the individual level.
                                </p>
                                <p>Do you have any resource constraints (such as computer or software availability, or time constraints) that would affect the size of your treatment group? Treatment and comparison group sizes should be as similar as possible, but do not have to be equal.</p>
                                <p>
                                    Bigger is better. With only a few individuals or groups in your treatment and comparison groups, your results are more likely to be inconclusive. Larger samples enable you to detect smaller effects.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="step-header container">
        <div data-toggle="collapse" data-target="#C">
            <h2 class="clickable">
                <i class="fa fa-caret-down" aria-hidden="false"></i> Upload your data
            </h2>
        </div>
    </div>
    <div id="C" class="row  collapse in q-row">
        <div>
            <div class="col-xs-7">
                <div class="step-subquestion">
                    <h4>
                        Upload a <span data-toggle="tooltip" title="A CSV (comma separated values) file stores data in tables as plain text and is widely used to exchange or transfer information." class="tooltip-gr">CSV</span> file containing your data.
                    </h4>
                    <p>
                        Your data file should have one row for each <span class="indiv-or-group">technology user or group of users</span> and one column for each data field (for example, test scores and background characteristics). For more information, please read <a target="_blank" href="/static/pdf/Prepare your data for randomization.pdf">Prepare Your Data for Randomization</a>.
                    </p>

                </div>
                <div class="step-action">
                    <input id="chosenfile" size="1" type="file" accept=".csv">
                    <p class="warning">
                        Before uploading data, make sure personally identifiable information (PII), such as names and descriptors that could identify your evaluation participants, has been removed.
                    </p>
                </div>
                <div class="before-upload">
                    <div class="step-subquestion">
                        <h4><label for="unit_id">Select the variable that contains the anonymous id that uniquely identifies each <span class="indiv-or-group">technology user or group of users</span>.</label></h4>
                        <p><em class="stronger"><i class="fa fa-asterisk"></i> Required</em>
                        </p>
                    </div>
                    <div class="step-action ">
                        <div>
                            <select id="unit_id" name="unit_id" class="multiselect from-upload nodefault">
                                <option value="">Select a variable</option>
                            </select>
                        </div>

                    </div>
                    <div class="step-subquestion">
                        <h4><label for="pretest">Select your pretest measure variable. </label> </h4>
                        <p><em class="stronger">Recommended</em>
                        </p>
                    </div>
                    <div class="step-action ">
                        <select id="pretest" class="multiselect from-upload nodefault">
                            <option value="Select a variable" selected="selected">Select a data field</option>
                        </select>

                    </div>
                    <div class="step-subquestion">
                        <h4><label for="baseline_vars">Select the variables for the characteristics that should be balanced between the treatment and control groups? </label></h4>
                        <p>These are characteristics that would make you skeptical of your results if they were found to be unbalanced between groups. </p>
                        <p><em class="stronger">Recommended</em>
                        </p>
                    </div>
                    <div class="step-action ">
                        <select id="baseline_vars" name="baseline_vars" class="multiselect from-upload" multiple="multiple">
                            <option value="Select matching variables">Select variables</option>
                        </select>
                    </div>


                </div>
               
            </div>
            <div class="col-xs-5">
                <div class="step-to-consider">
                    <div class="panel-group" id="ttc3">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title sec-label clickable">
                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                    <a data-toggle="collapse" data-parent="#ttc3" href="#consider3">
                                        Things to Consider
                                    </a>
                                </h3>
                            </div>
                            <div id="consider3" class="panel-collapse collapse in">
                                <p>Be sure to create a key or a file that links the original names or IDs to the new anonymous IDs. You will need this key to know who was assigned to each group and to add outcome data at the end of the pilot period.</p>
                                <p> If available, the Coach will use the pretest measure and background characteristics to check the equivalence or balance of the treatment and comparison groups. If you have a small sample, the Coach might have to randomize multiple times to create balanced groups.</p>
                                <p>
                                    Please refer to the <a href="/static/pdf/Prepare your data for randomization.pdf" target="_blank">Prepare Your Data for Random Assignment</a> for more details on the variables to include.
                                </p>
                                <p>
                                    For more information on how the Coach conducts randomization you can refer to the  <a href="/static/pdf/Randomization Technical Appendix.pdf" target="_blank">Randomization Technical Appendix</a>. 
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div id="randomResults">

                <div class="col-xs-10">
                    <div id="Step_Conclusion" class="container">
                        <div id="diagnostic_error" class="shiny-html-output shiny-bound-output"></div>
                        <div id="save_status" class="shiny-html-output shiny-bound-output"></div>
                        <div id="results" class="shiny-html-output shiny-bound-output"></div>
                    </div>
                    <div id='loadingmessage' class="row" hidden>
                        <div class="col-sm-5 col-sm-offset-3" style="margin-top: 15px;">
                            <i class="fa fa-cog fa-spin fa-3x fa-fw"></i>
                            <span class="sr-only">Loading...</span>

                        </div>
                    </div>
                        <div id="shinybuttons" class="row col-xs-10 col-sm-offset-0 bottom-buttons hidden ">
                            <button id="match" type="button" class="btn btn-primary btn-lg " disabled="disabled">Randomize!<br /> </button>
                            <a id="downloadData" class="btn btn-primary btn-lg shiny-download-link  shiny-bound-output disabled hidden" href="#" target="_blank" disabled="disabled">
                                <i class="fa fa-download"></i>
                                Download Revised Dataset
                            </a>
                        </div>
                    </div>
                  
            </div>
       
        </div>

    </div>
    </div>
    </div>

    </div>
        <div id="warning-modal" class="modal fade hidden-print" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h2 class="modal-title">This may take a few minutes.</h2>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div>
                                <p style="padding: 20px;">Depending on the number of participants in your evaluation and the number of baseline variables, randomization could take several minutes. Please stay on this page. </p>
                               
                            </div>
                        </div>
                       
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">OK</button>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="hidden">
            <input type="hidden" name="s_pretest" id="s_pretest" />
            <input type="hidden" name="s_baseline_vars" id="s_baseline_vars" />
            <input type="hidden" name="s_block_id" id="s_block_id" />
            <input type="hidden" name="s_unit_id" id="s_unit_id" />
            <input type="hidden" name="result" id="mresult" />
        </div>
        <% include ../views/partials/toolButtons.html %>
    </form>
    <% include ../views/partials/footer.html %>
    <script>
        $(document).ready(function () {

            if ($("#Basics_Users").val().toLowerCase() === "other") {

                $("#Question_Users_Other").show();
            }
            if ($("#Cluster_Group").val().toLowerCase() === "other") {

                $("#Question_Cluster_Other").show();
            }
            setUserLimitsSelections();
            $('#randomResults').hide();
            var group = $("#Individual_Group").val();
            var clusterSpecify = $("#Question_Cluster");

            if (group.toLowerCase().indexOf("group") !== -1) clusterSpecify.show();
            else clusterSpecify.hide();

            var limit = $("#User_Limit_Exist").val();

            var specifyLimits = $("#Question_User_Limits");

            if (limit.toLowerCase() === "yes") specifyLimits.show();
            else specifyLimits.hide();

            $('.multiselect').multiselect();

            var fm_options = setFeedbackOptions($("#user_email").val(), "plan_next_steps");
            fm.init(fm_options);
        });



        function enablebuttons() {
            if ($("#unit_id").val() !== "None selected" ) {
                $("#match").prop("disabled", false);
            }
            else {
                $("#match").prop("disabled", true);
            }

        }


        $('#Individual_Group').change(function () {
            ShowCluster(this);
            setUserLimitsSelections();

        });
        $('#Cluster_Group').change(function () {
            ShowClusterOther(this);
            setUserLimitsSelections();
        });
        $('#User_Limit_Exist').change(function () {
            UpdateUserLimitExists(this);
            setUserLimitsSelections();
        });

        $("#chosenfile").change(function () {

            var formData = new FormData();
            $('#loadingmessage').show();
           

            formData.append("data", $(this)[0].files[0]);

            $.ajax({
                url: "http://52.222.20.48/ocpu/library/edtechrce/R/csv_colnames/json",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    $('#loadingmessage').hide();
                    $("select.from-upload").empty();
                    $(".before-upload").addClass("after-upload");
                    $(".after-upload").removeClass("before-upload");
                    $('#randomResults').show();
                    $("#block_id")
                        .append($("<option></option>")
                            .attr("value", "Do not block")
                            .text("Do not block"));
                    $("select.nodefault")
                        .append($("<option></option>")
                            .attr("value", "None selected")
                            .text("None selected"));
                    $.each(data.colnames, function (index, value) {
                        $("select.from-upload")
                            .append($("<option></option>")
                                .attr("value", value)
                                .text(value));
                    });
                    $('.multiselect').multiselect('destroy');
                    $('.multiselect').multiselect();
                    //  $("#match").prop("disabled", false);
                    $("#shinybuttons").removeClass("hidden");
                }
            });
        });
        $("#pretest").change(function () {
            enablebuttons();
        });
        $("#unit_id").change(function () {
            enablebuttons();
        });
        $("#baseline_vars").change(function () {
            enablebuttons();
        });
        $("#match").click(function () {

            $('#loadingmessage').show();
            $('#warning-modal').modal("show");
            $('#results').html("");
            $("#downloadData").addClass("disabled");
            $("#downloadData").addClass("hidden");
            var formData = new FormData();
            var pretest = $("#pretest").val();
            var basein = $("#baseline_vars").val();
            var baseline_vars = [];
            if (basein) baseline_vars = baseline_vars.concat(basein);
            if (pretest !== "None selected") baseline_vars = baseline_vars.concat(pretest);
        
            var interv_type = $("#intervention_type").val();
            var interv_quantity = $("#intervention_quantity").val();
            if (interv_type.toLowerCase() === "select an option") {
                interv_type = 'percentage';
            };
            if (interv_quantity === "0" || interv_quantity === "") {
                interv_quantity = 50;
            };
            $("#s_unit_id").val(JSON.stringify($("#unit_id").val()));
            $("#s_pretest").val(JSON.stringify($("#pretest").val()));
            $("#s_baseline_vars").val(JSON.stringify($("#baseline_vars").val()));
            
            formData.append("data", $("#chosenfile")[0].files[0]);
            formData.append("unit_id", JSON.stringify($("#unit_id").val()));
            formData.append("intervention_type", JSON.stringify(interv_type));
            formData.append("intervention_quantity", JSON.stringify(interv_quantity));
            if (baseline_vars) formData.append("baseline_vars", JSON.stringify(baseline_vars));

            $.ajax({
                url: "http://52.222.20.48/ocpu/library/edtechrce/R/randomize",
                type: "POST",
                processData: false,
                contentType: false,
                data: formData,
                success: function (data) {
                    var responsePaths = data.split("\n");
                    $.ajax({
                        url: "http://52.222.20.48" + responsePaths[0] + "/json",
                        type: "GET",
                        success: function (data) {
                            $('#loadingmessage').hide();
                            $('#warning-modal').modal("hide");
                            $('#randomResults').show();
                            console.log(data);
                            var error = data.error_message[0];
                            $('#results').html("");
                            if (error) {
                                $('#results').append('<h2 class="stop-warning">There appears to be something wrong with your data set.</h2>  <p>Please check that you selected the correct variables above.  Please <a href="mailto:edtechrce@mathematica-mpr.com">contact us</a> if you need further assistance.</p><p>Detailed error message: ' + error + '</p>');
                                return;
                            } else {
                                var finaltext = "";
                                var rSuccess = "<h2 style='margin-left:-40px'>Random assignment was successful</h2>";
                                var basicsUsers = $("#Basics_Users").val();
                                if (basicsUsers.toLowerCase() === "other") {
                                    basicsUsers = $("#Basics_Users_Other").val();
                                }
                                var figlabel = 'Figure 1. Baseline equivalence of the treatment and comparison groups.';
                                var nextstep = 'The Coach added a &ldquo;Treatment&rdquo; variable to your dataset that identifies which ' + basicsUsers + ' are in the treatment and comparison groups. <strong>Download this revised dataset.</strong> Later, you will add your evaluation results to it and the &ldquo;Get Results&rdquo; tool will use it to determine whether your educational technology is moving the needle.';
                                var balance, baseline_vars;
                                if (!data.randomize_success[0]) {
                                    rSuccess = "<h2 style='margin-left:-40px' class='stop-warning'>Randomization did not produce balanced treatment and control groups. Please review the output below to see which characteristics could not be balanced. You can re-run randomization or <a href='mailto:edtechrce@mathematica-mpr.com'>contact us for assistance</a>.";
                                } else finaltext = nextstep;

                                var results_by_block = data.results_by_block;
                                var n_full_com = 0, n_full_treat = 0, n_matched = 0, n_matched_treat = 0;

                                $('#results').append(rSuccess);
                                for (var key in results_by_block) {
                                    if (results_by_block.hasOwnProperty(key)) {
                                        var imgid = "plot" + key;
                                        var title = "";
                                        // if (block_id) {title=block_id + " = " +  key; }
                                        var block_object = results_by_block[key];
                                        if (block_object.samples) {
                                            n_full_com = block_object.samples.n_full[0] - block_object.samples.n_treat[0];
                                            n_full_treat = block_object.samples.n_treat[0];
                                        }

                                        if (block_object.good_balance) {
                                            if (block_object.good_balance[0] === null) {
                                                balance = "N/A (no baseline variables specified)";
                                            } else {
                                                balance = block_object.good_balance[0] === true ? "Yes" : "No";
                                            }
                                        } else {
                                            balance = "N/A";
                                        }

                                        //show block name if block specified
                                        if (title) $('#results').append(title);
                                        $('#results').append('<ul Style="margin-left:15px;"><li><span>Treatment group size:  ' + n_full_treat + ' </li><li><span>Comparision group size:  ' + n_full_com + ' </li><li><span>Balanced:  ' + balance + ' </span></li></ul>');

                                       
                                        if (block_object.baseline_var_means) {
                                            var x = document.createElement("TABLE");
                                            var cap = x.createCaption();
                                            cap.innerHTML = "Baseline characteristics of " + basicsUsers + "  in the evaluation sample.";
                                            x.setAttribute("id", "table" + key);

                                            $('#results').append(x);

                                            baseline_vars = block_object.baseline_var_means;
                                            for (var bvar in baseline_vars) {
                                                if (baseline_vars.hasOwnProperty(bvar)) {

                                                    var row = x.insertRow(0);
                                                    console.log(baseline_vars[bvar]);
                                                    row.insertCell(0).innerHTML = "<span>" + bvar + "</span>";
                                                    row.insertCell(1).innerHTML = "<span>" + baseline_vars[bvar].intervention[0] + "</span>";
                                                    row.insertCell(2).innerHTML = "<span>" + baseline_vars[bvar].comparison[0] + "</span>";
                                                    row.insertCell(3).innerHTML = "<span>" + baseline_vars[bvar].difference[0] + "</span>";
                                                    row.insertCell(4).innerHTML = "<span>" + balance + "</span>";
                                                }
                                            }
                                            var header = x.createTHead();
                                            var hrow = header.insertRow(0);
                                            hrow.insertCell(0).outerHTML = "<th>Baseline Variable</th>";
                                            hrow.insertCell(1).outerHTML = "<th>Treatment</th>";
                                            hrow.insertCell(2).outerHTML = "<th>Comparison</th>";
                                            hrow.insertCell(3).outerHTML = "<th>Difference</th>";
                                            hrow.insertCell(4).outerHTML = "<th>Balanced</th>";

                                        }

                                        if (block_object.plot) {
                                            $('#results').append('<div id= ' + imgid + ' class="shiny-plot-output shiny-bound-output" >' + '<img id=' + imgid + ' src=data:image/png;base64,' + block_object.plot + ' />' + '<p>' + figlabel + '<br/></p></div>');
                                        }
                                       
                                    }
                                    $('#results').append('<div><p style="margin-top:40px;">' + finaltext + '</p></div>');
                                }
                               
                            }
                            $("#mresult").val(JSON.stringify(data));

                            if (data.randomize_success[0]) {

                                // Look for download path, in case ordering shifts.
                                var downloadPath = '';

                                for (var i = 0; i < responsePaths.length; i++) {
                                    if (responsePaths[i].indexOf('/files/randomize-') > -1) {
                                        downloadPath = responsePaths[i];
                                        break;
                                    }
                                }

                                if (downloadPath !== '') {
                                    $("#downloadData")
                                        .removeClass("disabled");
                                    $("#downloadData").removeClass("hidden")
                                      .attr("target", "_blank")
                                      .attr("href", "http://52.222.20.48" + downloadPath).removeAttr("disabled");
                                }
                            }
                        },
                            error: function (xhr) {
                                $('#loadingmessage').hide();
                                var error = 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText;
                                $('#results').append('<h2 class="stop-warning" style="margin-left:-40px;">Unable to analyze results.</h2><p>There appears to be something wrong with your data set.  Please check that you selected the correct variables above.  Please <a href="mailto:edtechrce@mathematica-mpr.com">contact us</a> if you need further assistance. ' + error + '</p></h2>');
                            }
                    });
                },
                    error: function (xhr) {
                        $('#loadingmessage').hide();
                        var error = 'Request Status: ' + xhr.status + ' Status Text: ' + xhr.statusText;
                        $('#results').append('<h2 class="stop-warning" style="margin-left:-40px;">Unable to analyize results.</h2><p>There appears to be something wrong with your data set.  Please check that you selected the correct variables above.  Please <a href="mailto:edtechrce@mathematica-mpr.com">contact us</a> if you need further assistance. ' + error + '</p></h2>');
                    }
            });
        });
        //init feedback_me plugin
       
    </script>
</body>

</html>