<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Randomization - Ed Tech RCE Coach</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css" />
    <script src="/static/js/jquery.feedback_me.js"></script>
    <script src="/static/js/bootstrap-multiselect.js"></script>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Analyzing Your Data</a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>
    <% include ../views/partials/toolHeader.html %>
    <% } %>
<form action="/randomization" method="post">
<%
var Basics_Outcome_Other = eval.basics.Basics_Outcome_Other;
var Basics_Outcome = eval.basics.Basics_Outcome;
if (Basics_Outcome.toLowerCase() === "other") { Basics_Outcome = Basics_Outcome_Other; }
var Basics_Users_Others = eval.basics.Basics_Users_Others;
var Basics_Users = eval.basics.Basics_Users;
var Singular_User = Basics_Users.substr(0,Basics_Users.length-1)
if (Basics_Users.toLowerCase() === "other") { Basics_Users = Basics_Users_Others; }
var Basics_Tech_Name = eval.basics.Basics_Tech_Name;
var Outcome_Direction = eval.planQuestion.Outcome_Direction;
var Outcome_Measure = eval.planQuestion.Outcome_Measure ;
%>
<div class="container-fluid">
<div class="row">
    <div class="col-xs-12">
        <div class="tool-top">
            <div class="dl-guide">
            </div>
            <div class="tool-header">
                <h1 class="tool-title">Build your evaluation sample using random assignment</h1>
                <div class="tool-intro">
                    
               
                   
                </div>
                <div class="tool-help">
                   
                    <p>
                        <strong class="begin-em">Challenge:</strong> You want to test whether a technology is effective, but it is impossible to simultaneously observe what happens when an individual uses a technology and doesn’t use the technology.
                    </p>
                    <p>
                        <strong class="begin-em">Solution:</strong> The best test of whether or not your technology works is to randomly select some of your potential users to pilot the technology (treatment group) while others continue classroom practice as usual (comparison group) and compare outcomes between the two groups. Using chance or randomization to create the groups increases the likelihood that differences in outcomes are caused by the new technology.
                    </p>
                    <p>
                        <strong class="begin-em">Challenge:</strong> Even with random assignment, there is a possibility that your treatment and comparison groups will be somewhat different or unbalanced. This is more likely to happen if you have a small sample. Think about flipping a coin. If you flip a coin ten times, on average, you should get five heads and five tails. However, there is a one in one thousand chance to get all heads.
                    </p>
                    <p>
                        <strong class="begin-em">Solution:</strong> Background data about your <%= Basics_Users %>, such as pretest measures and demographic information, can be used to test the equivalence of the treatment and control groups and to ensure they are balanced on important characteristics that could impact outcomes. If desired, the Coach can identify sub-groups of participants and then randomly assign from within those sub-groups. This is called blocked random assignment or stratification.
                    </p>
                    <p>See the <a target="_blank" href="https://edtechrce.org/static/pdf/02.04%20Randomization%20overview.pdf">Randomization Overview</a> to learn more.</p>

                    <p><strong class="begin-em">Let&rsquo;s get started!</strong></p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<div class="row">
<div class="tool-questions">
<div class="step-header container">
    <div data-toggle="collapse" data-target="#A">
        <h2 class="clickable">
            <i class="fa fa-caret-down" aria-hidden="false"></i> Get ready to randomize
        </h2>
    </div>
</div>
<div id="A" class="row  collapse in q-row">
    <div class="col-xs-7">
        <div class="step-subquestion">
            <h4> Let’s confirm some details. Based on the information you have provided: </h4>
        </div>
        <div class="step-action">
            <ul>
                <li>
                    your technology users are  <%= Basics_Users %>.
                    <% if (user != "NOAUTHENTICATED") { %>
                    <p class="prev-answer">
                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a href="/basics">The Basics</a>
                    </p>
                    <% } %>
                </li>
                <li>
                    your randomized pilot will help you answer the following question: <br/>
                    <% if (user != "NOAUTHENTICATED") { %>
                    Does <span class='tech-name'><%= Basics_Tech_Name  %></span>  <span class='change-direction'><%= eval.planQuestion.Outcome_Direction  %></span> <span class='eval-outcome'><%= Basics_Outcome !='' ? Basics_Outcome: "B" %></span> among <span class='treatment-group'><%= eval.planQuestion.Intervention_Group_Desc != '' ? eval.planQuestion.Intervention_Group_Desc : "C" %></span> compared to <span class='comparison-group'><%= eval.planQuestion.Comparison_Group_Desc !='' ? eval.planQuestion.Comparison_Group_Desc :  "D" %></span>?
                    <% } %>
                    <% if (user == "NOAUTHENTICATED") { %>
                    Does A do B among C compared to D?
                    <% } %>
                    <% if (user != "NOAUTHENTICATED") { %>
                    <p class="prev-answer">
                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See <a href="/craft_your_research_q">Craft Your Research Question</a>
                    </p>
                    <% } %>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="step-header container">
    <div data-toggle="collapse" data-target="#B">
        <h2 class="clickable">
            <i class="fa fa-caret-down" aria-hidden="false"></i> Now the Coach needs a few more details about your plans to roll-out the technology.
        </h2>
    </div>
</div>
    <div id="B" class="row collapse in q-row">
        <div class="col-xs-7">
            <div class="step-subquestion">
                <h4><label for="Individual_Group">Do you want to randomly assign individual <%= Basics_Users %> or groups of <%= Basics_Users %> (e.g. classes or schools) to the treatment and comparison groups?</label></h4>
            </div>
            <div class="step-action">
                <select required name="Individual_Group" id="Individual_Group">
                    <%
                    var options = ["Select an option", "individual " + Basics_Users , "groups of " + Basics_Users ];
                    var ovals = ["Select an option", "users" , "groups" ];
                    for ( var i = 0; i < options.length; i++ )
                    {
                    var selected = ( eval.random.Individual_Group== options[i] ) ? "selected" : "";
                    %>
                    <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[i] %></option><%
                    }
                    %>
                </select>
            </div>
            <div id="Question_Cluster" hidden="true">
                <div class="step-subquestion">
                    <h4><label for="Cluster_Group">How will you group your <%= Basics_Users %>?</label></h4>
                </div>
                <div class="step-action">
                    <select required name="Cluster_Group" id="Cluster_Group">
                        <%
                        var options = ["Select an option", "by class", "by school", "other" ];
                        var ovals = ["Select an option", "classes", "schools", "other" ];
                        for ( var i = 0; i < options.length; i++ )
                        {
                        var selected;
                        selected = ( eval.random.Cluster_Group== ovals[i] ) ? "selected" : "";
                        %>
                        <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[i] %></option><%
                        }
                        %>
                    </select>
                    <div id="Question_Cluster_Other" hidden="true">
                        <p>
                            <label for="Cluster_Group_Other">Please specify:</label>
                            <input type="text" name='Cluster_Group_Other' id="Cluster_Group_Other" value="<%= eval.random.Cluster_Group_Other %>" />
                        </p>
                    </div>
                </div>
            </div>
            <div class="step-subquestion">
                <h4><label for="#User_Limit_Exist">Are there any limits on the number of <span class="indivs-or-groups">individuals or groups</span> that can be given access to the technology?</label></h4>


            </div>
            <div class="step-action">
                <select name="User_Limit_Exist" id="User_Limit_Exist">
                    <%
                    var options = ["Select an option", "yes", "no" ];
                    for ( var i = 0; i < options.length; i++ )
                    {
                    var selected;
                    selected = ( eval.random.User_Limit_Exist== options[i] ) ? "selected" : "";
                    %>
                    <option value="<%=options[ i ] %>" <%=selected %> ><%=options[i] %></option>
                    <% } %>
                </select>
            </div>
            <div id="Question_User_Limits" hidden="true">
                <div class="step-subquestion">

                    <h4>What are the limits?</h4>
                </div>
                <div class="step-action">
                    <p>

                        No more than
                        <input type="text" style="width: 40px;" name='intervention_quantity' id="intervention_quantity" value="<%= eval.random.intervention_quantity %>" />
                        <select name="intervention_type" id="intervention_type">
                            <%

                            var options = ["Select an option", "percent of individuals or groups", "individuals or groups" ];
                            var ovals = ["Select an option", "percentage", "number" ];
                            for ( var i = 0; i < options.length; i++ )
                            {
                            var selected;
                            selected = ( eval.random.intervention_type == ovals[i] ) ? "selected" : "";
                            %>
                            <option value="<%=ovals[ i ] %>" <%=selected %> ><%=options[i] %></option>
                            <% }%>
                        </select> can access <%= Basics_Tech_Name %>.

                    </p>



                </div>

               
            </div>
        </div>
        <div class="col-xs-5">
            <div class="step-to-consider">
                <div class="step-to-consider">
                    <div class="panel-group" id="ttc5">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title sec-label clickable">
                                    <span class="fa fa-caret-down" aria-hidden="false"></span>
                                    <a data-toggle="collapse" data-parent="#ttc5" href="#consider5">
                                        Things to Consider
                                    </a>
                                </h3>
                            </div>
                            <div id="consider5" class="panel-collapse collapse in">

                                <p>
                                    You do not need to randomly select <%= Basics_Users %> at the individual level. It may be more feasible to select by classroom or by school. However, your ability to learn whether <%= Basics_Tech_Name %> is effective will be stronger if you can choose at the individual level.
                                </p>
                                <p>Do you have any resource constraints (e.g. computer or software availibility, time constraints) that would impact the size of your treatment group? Treatment and comparison group sizes should be as similar as possible, but do not need to be equal.</p>
                                <p>
                                    Bigger is better.  With only a few individuals or groups in your treatment and comparison groups, your results are more likely to be inconclusive. Larger samples allow you to detect smaller effects.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<div class="step-header container">
    <div data-toggle="collapse" data-target="#C">
        <h2 class="clickable">
            <i class="fa fa-caret-down" aria-hidden="false"></i> Prepare and upload your data
        </h2>
    </div>
</div>
<div id="C" class="row  collapse in q-row">
    <div class="col-xs-7">
        <div class="step-subquestion">
          

            <h4>Upload a <span data-toggle="tooltip" title="A CSV (comma separated values) file stores data in tables as plain text and is widely used to exchange or transfer information." class="tooltip-gr">CSV</span> file containing your data.
            </h4>
            <p>
                Your data file should have one row for each <span class="indiv-or-group">technology user or group of users</span> and one column for each data field (e.g, test scores and background characteristics). For more information, please read <a target="_blank" href="https://edtechrce.org/static/pdf/04.01PrepareYourDataForAnalysis.pdf">Prepare Your Data for Analysis</a>.
            </p>

        </div>
        <div class="step-action">


            <input id="chosenfile" size="1" type="file" accept=".csv">


            <p class="warning">
                Before uploading data, make sure personally identifiable information (PII), such as names and descriptors that could identify your evaluation participants, has been removed.
            </p>
        </div>
        <div id='loadingmessage' class="row" hidden>
            <div class="col-sm-5 col-sm-offset-6">
                <img src='/static/image/ajax-loader.gif'/>
            </div>
        </div>
        <div class="before-upload">
            <div class="step-subquestion">
                <h4>Select the data field that contains the anonymous id that uniquely identifies each <span class="indiv-or-group">technology user or group of users</span>.</h4>
                <p><em>Required</em></p>
                

            </div>
            <div class="step-action ">

                <div>
                    <select id="unit_id" name="unit_id" class="multiselect from-upload nodefault">

                        <option value="">Select a data field</option>

                    </select>

                </div>

                <hr/>
            </div>
            <div class="step-subquestion">
                <h4>Select your pretest measure data field. </h4>
                <p><em>Recommended</em></p>

            </div>
            <div class="step-action ">
                <select id="pretest" class="multiselect from-upload nodefault">
                    <option value="Select a variable" selected="selected">Select a data field</option>
                </select>
                <hr />
            </div>
         
            
            
                <div class="step-subquestion">
                    <h4>Which data field contains your blocking characteristic or the characteristic that <strong>must</strong> be balanced across the two groups? </h4>
                    <p>The Coach will create subgroups based on this characteristic and randomly assign from within those sub-groups to do a block random assignment.  </p>
                </div>
                <div class="step-action ">
                    <div>
                        <select id="block_id" class="multiselect from-upload">
                            <option value="">Do not block</option>
                        </select>
                    </div>
                    <hr/>
                </div>
               
                <div class="step-subquestion">
                    <h4> Select the data fields for the characteristics that should be balanced between the treatment and control groups? </h4>
                    <p>These are characteristics that would make you skeptical of your results if they were found to be unbalanced between groups. </p>
                    <p><em>Recommended</em></p>
                </div>
                <div class="step-action ">
                    <select id="baseline_vars" name="baseline_vars" class="multiselect from-upload" multiple="multiple">
                        <option value="Select matching variables">Select data fields</option>
                    </select>
                </div>
            </div>
        </div>



    <div class="col-xs-5">
        <div class="step-to-consider">

            <div class="panel-group" id="ttc3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title sec-label clickable">
                            <span class="fa fa-caret-down" aria-hidden="false"></span>
                            <a data-toggle="collapse" data-parent="#ttc3" href="#consider3">
                                Things to Consider
                            </a>
                        </h3>
                    </div>
                    <div id="consider3" class="panel-collapse collapse in">

                       

                        <p>Be sure to create a key or a file that links the original names or IDs to the new anonymous IDs. You will need this key to know who was assigned to each group and to add outcome data at the end of the pilot period.</p>
                    
                
                        <p>
                            The pretest should be a recent measure of the outcome you hope to affect with the technology. For example, if you are trying to improve student math achievement, a pretest could be scores on a math test that students in both your treatment and control groups took just prior to using the technology.</p>

                        <p>  Common background characteristics of students are: gender, race/ethnicity, and English learner, special education, and free/reduced price lunch status. Common background characteristics of teachers are: gender, highest level of education, and years of experience. </p>

                        <p> The Coach will use the pretest measure and background characteristics to check the equivalence and balance of your the treatment and comparison groups. If you have a small sample, the Coach may need to randomize multiple times to create balanced groups.</p>
                            
                            <p>
                                Please refer to the <a href="https://edtechrce.org/static/pdf/02.04%20Randomization%20overview.pdf" target="_blank">The Radomization Overview</a> for more on which variables should be included.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="bottom-buttons">
    <button id="match" type="button" class="btn btn-default action-button shiny-bound-input">Randomize!</button>
    <a id="downloadData" class="btn btn-default shiny-download-link  shiny-bound-output disabled " href="#" target="_blank" disabled="disabled">
        <i class="fa fa-download"></i>
        Download
    </a>
</div>
<div id="diagnostic_error" class="shiny-html-output shiny-bound-output"></div>
<div id="save_status" class="shiny-html-output shiny-bound-output"></div>
<div id="results" class="shiny-html-output shiny-bound-output">
</div>
<div id='loadingmessage2' class="row" hidden>
    <div class="col-sm-5 col-sm-offset-6">
        <img src='/static/image/ajax-loader.gif'/>
    </div>
</div>
</div>


<input type="hidden" name="s_pretest" id="s_pretest"/>
<input type="hidden" name="s_baseline_vars" id="s_baseline_vars"/>
<input type="hidden" name="s_block_id" id="s_block_id"/>
<input type="hidden" name="s_unit_id" id="s_unit_id"/>

<input name="result" id="mresult"/>
<% include ../views/partials/toolButtons.html %>
</form>

<% include ../views/partials/footer.html %>




<script src='/static/js/custom.js'></script>
    <script>
        $(document).ready(function() {
            $('.multiselect').multiselect();


            $("#chosenfile").change(function() {

                var formData = new FormData();
                $('#loadingmessage').show();

                formData.append("data", $(this)[0].files[0]);

                $.ajax({
                    url: "https://52.222.20.48/ocpu/library/edtechrce/R/csv_colnames/json",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function(data) {
                        $('#loadingmessage').hide();
                        $("select.from-upload").empty();
                        $(".before-upload").addClass("after-upload");
                        $(".after-upload").removeClass("before-upload");
                        $("#block_id")
                            .append($("<option></option>")
                                .attr("value", "Do not block")
                                .text("Do not block"));
                        $("select.nodefault")
                            .append($("<option></option>")
                                .attr("value", "None selected")
                                .text("None selected"));
                        $.each(data.colnames, function(index, value) {
                            $("select.from-upload")
                                .append($("<option></option>")
                                    .attr("value", value)
                                    .text(value));
                        });
                        $('.multiselect').multiselect('destroy');
                        $('.multiselect').multiselect();
                        $("#match").prop("disabled", false);
                    }
                });
            });

            $("#match").click(function() {

                $('#loadingmessage2').show();

                var formData = new FormData();
                var baseline_vars = $("#baseline_vars").val();
                baseline_vars.push($("#pretest").val());
                var block_id = $("#block_id").val();
                if ($("#block_id").val().toLowerCase() === "do not block") {
                    block_id = '';
                };
                var interv_type = $("#intervention_type").val();
                var interv_quantity = $("#intervention_quantity").val();
                if ($("#intervention_type").val().toLowerCase() === "select an option") {
                    interv_type = 'percentage';
                };
                if ($("#intervention_quantity").val() === 0 ) {
                    interv_quantity = 50;
                };
                $("#s_unit_id").val(JSON.stringify($("#unit_id").val()));
                $("#s_pretest").val(JSON.stringify($("#pretest").val()));
                $("#s_baseline_vars").val(JSON.stringify($("#baseline_vars").val()));
                $("#s_block_id").val(JSON.stringify($("#block_id").val()));
           
                formData.append("data", $("#chosenfile")[0].files[0]);
                formData.append("unit_id", JSON.stringify($("#unit_id").val()));
                formData.append("intervention_type", JSON.stringify(interv_type));
                formData.append("intervention_quantity", JSON.stringify(interv_quantity));
                if(baseline_vars !== "") formData.append("baseline_vars", JSON.stringify(baseline_vars));
                if (block_id !== "") formData.append("block_id", JSON.stringify(block_id));

                $.ajax({
                    url: "https://52.222.20.48/ocpu/library/edtechrce/R/randomize",
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: formData,
                    success: function (data) {

                        var responsePaths = data.split("\n");


                        $.ajax({
                            url: "https://52.222.20.48" + responsePaths[0] + "/json",
                            type: "GET",
                            success: function (data) {
                                $('#loadingmessage2').hide();

                                var results_by_block = data.results_by_block;

                                var n_full = 0, n_full_treat = 0, n_matched = 0, n_matched_treat = 0;
                                for (var key in results_by_block) {
                                    if (results_by_block.hasOwnProperty(key)) {
                                        var imgid = "plot" + key;
                                        var block_object = results_by_block[key];

                                        $('#results').append('<div class="row"><div class="col-xs-7"><h2>Randon Assignment Results</h2><h3>' +'</h3>');
                                       

                                    }
                                }

                                $("#mresult").val(JSON.stringify(data));
                                //$("#n_full").val(JSON.stringify(n_full));
                                //$("#n_full_treat").val(JSON.stringify(n_full_treat));
                                //$("#n_matched").val(JSON.stringify(n_matched));
                                //$("#n_matched_treat").val(JSON.stringify(n_matched_treat));

                                $("#downloadData")
                                 .removeClass("disabled");

                                $("#downloadData")
                                  .attr("target", "_blank")
                                  .attr("href", "https://52.222.20.48" + responsePaths[8]).removeAttr("disabled");
                                // Save results to database.
                            }
                        });


                    }
                });
            });
        });
        //init feedback_me plugin
        var fm_options = setFeedbackOptions($("#user_email").val(), "plan_next_steps");
        fm.init(fm_options);
    </script>
</body>
</html>