<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Share Your Results - Ed Tech RCE Coach</title>

    <% if (display === undefined) display = 'online';
   

    if (display === 'online') { %>
    <% include ../views/partials/scriptHeader.html %>

    <% } else if (display === 'download') { %>
    <% include ../views/partials/downloadStyle.html %>
    <% } %>
    <style>
 
    </style>

</head>
<% var bodyclass = query.peeking == 1 ? "peeking" : "";
bodyclass = query.sharing == 1 ? "sharing" : "";
var tabcounter = 0; var figcounter = 0;
%>
<body class="brief <%- bodyclass %>">
    <% if (display === 'online') { %>
<div class="hidden-print">
    <% include ../views/partials/header.html %>
    <% if (user != "NOAUTHENTICATED") { var rtnPath="/coach" , rtnDesc="Back to Summarizing Your Findings";
    if (query.backto=="publications") {rtnPath="/publications"; rtnDesc="Back to Publication Lists" }
    if (query.backto=="dashboard") {rtnPath="/dashboard"; rtnDesc="Back to Dashboard" } %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= rtnPath %>"><span class="fa fa-caret-left"></span> <%= rtnDesc %></a></li>
    </ol>
    <% if (message.length>0) { %>
    <div class="alert alert-success"><%= message %></div>
    <% } %>


    <% if (query.sharing != 1) { %>
    <% include ../views/partials/toolHeader.html %>
    <% }} %>
</div>
    <div class="clearfix"></div>
    <form action="" method="post">
        <% } %>
    <% include('../views/partials/brief_appendix_evaluation_processing.html')
   
    %>
     

    
        <div class="container-fluid">
            <div class="no-page-break">
                <div class="row">
                    <div>
                        <h1 class="tool-title"> <%= capitalize(Basics_Tech_Name) %> Findings Brief</h1>

                        <% if (user != "NOAUTHENTICATED") {

                        if (eval.published_at) {
                        var date = new Date(eval.published_at).toLocaleDateString();
                        var user_name = eval.author || '< No author associated with evaluation >';
                        var organization_name = eval.company || '< No organization associated with evaluation >';
                        } else {
                        var user_name = user.profile.user_name || '< No name found in profile >';
                        var organization_name = user.profile.organization_name || '< No organization name found in profile >';
                        var date = new Date().toLocaleDateString();
                        }
                        %>

                        <%= user_name %><br/>
                        <%= organization_name %><br/>
                        <%= date %>

                        <% if (display === 'online') { %>
                        <p class="prev-answer hidden-print">
                            <i class="fa fa-hand-o-right"></i> Where did I add this? See
                            <a class="redirect-link" href="/setting?return=shareresult">Profile</a>
                        </p>
                        <% }} %>
                      
                    </div>
                    <hr />
                </div>

           

                <div class="row">
                    <div class="col-xs-12">
                        <h2> <%= header %><%= inconclusive_qualifier %>.</h2>

                        <h3> Research Question</h3>

                        Does <%= Basics_Tech_Name %> <%= Outcome_Direction %> <%= Basics_Outcome %> as measured by <%= Outcome_Measure %> among
                        <%= Intervention_Group_Desc %>
                        compared to
                        <%= Comparison_Group_Desc %>?

                        <% if (display === 'online') { %>
                        <p class="prev-answer hidden-print">
                            <i class="fa fa-hand-o-right"></i> Where did I answer this? See
                            <a class="redirect-link" href="/craft_your_research_q?return=shareresult">Craft Your Research Question</a>
                        </p>
                        <% } %>

                        <%
                        var grade_results_clean = true;

                        if (analysis_results_clean) {

                        var findingsTableRows = "";
                        var findingsTableHeader = "<tr><th>Grade</th><th style='width: 50%;'>Conclusion</th><th style='width: 20%;'>Probability " + Outcome_Direction + "s " + Basics_Outcome + "</th><th style='width: 20%;'>Probability " + Outcome_Direction + "s " + Basics_Outcome + " by " + Success_Effect_Size + " " + Measure_Units + " or more</th></tr>";


                        for (grade in analysis_results_by_grade) {
                      
                        try {


                        var probability = stripPercent(analysis_results_by_grade[grade].interpretation.probability[0]);
                        var cutoff_probability = stripPercent(analysis_results_by_grade[grade].interpretation_cutoff_0.probability[0]);
                        var gsuccess = (probability > Pass_Probability);
                        var ginconclusive = (cutoff_probability < Pass_Probability) && (cutoff_probability > Fail_Probability);

                        var needle_decision = (gsuccess) ? 'Yes' : 'No';
                        var needle_negate = (gsuccess) ? '' : ' not';

                        var findingsConclusion = (ginconclusive) ? 'Results are inconclusive. More evidence is needed to determine if ' + Basics_Tech_Name + ' is moving the needle.' : ((gsuccess) ? Basics_Tech_Name + ' is moving the needle.' : Basics_Tech_Name + ' did not ' + Outcome_Direction + ' ' + Basics_Outcome + '.');

                        var interpretation_2 = "";
                      
                        if (Success_Effect_Size > 0) {
                        if (cutoff_probability || cutoff_probability === 0) {
                        interpretation_2 = "There is a " + cutoff_probability + "% probability that  " + Basics_Tech_Name + " " + Outcome_Direction + "s " + Basics_Outcome + ".";
                        }
                        }

                        var interpretation_1 = "There is a " + probability + "% probability that  " + Basics_Tech_Name + " " + Outcome_Direction + "s " + Basics_Outcome + " by " + Success_Effect_Size + " " + Measure_Units + " or more.";


                        findingsTableRows = findingsTableRows + "<tr><td>" + grade + "</td><td>" + findingsConclusion + "</td><td class='align-right'>" + cutoff_probability + "</td><td class='align-right'>" + probability + "</td></tr>";

                        grade_results_clean = true;
                        } catch (e) {
                        grade_results_clean = false;
                        var error = e;
                        console.log("grade results not clean");
                        console.log(error);
                        }

                        var findingsAddText = "";
                        }  //End for each grade
                        }// End if (grade_results_clean)


                        %>

                        <% if (grade_results_clean) { %>

                        <h3> Findings</h3>
                        
                        <% if (analysis_by_grade) { %>
                        <% tabcounter = 1 + tabcounter;  %>
                        <table><caption>Table <%= tabcounter %>. Summary of results by grade based on the data used in this analysis.</caption><thead><%- findingsTableHeader %></thead><tbody><%- findingsTableRows %></tbody></table>

                        <% } else { %>
                        <p>Based on the data used in this analysis:
                            <ol class="no-page-break">
                                <li> <%= findingsConclusion %></li>

                                <% if (Success_Effect_Size > 0) { %>
                                <li id="item_interp_2"> <%= interpretation_2 %></li>
                                <% } %>
                                <li id="item_interp_1"> <%= interpretation_1 %></li>
                            </ol>
                        </p>
                        <% } %>



                        <div class="clearfix"></div>

                        <% } else { %>

                        Problem detected in analysis results. Try re-running the analysis tool.
                        <%- error %>
                        console.log("error" + error);
                        <% }
                            
                        if (analysis_results_clean) {

                            var initTableHeader = '<tr><th scope="col">Grade</th></tr>';
                            var tableRows = "";

                            if (analysis_results_by_grade) {

                        if (analysis_by_grade) {
                                    initTableHeader = '<tr><th scope="col">Grade</th><th scope="col">Group</th><th scope="col">Sample size</th></tr>';
                        } else {
                    initTableHeader = '<tr><th scope="col">Group</th><th scope="col">Sample size</th></tr>';
                        }
                                tableRows = '';

                                if (analysis_samples_available) {
                                    for (grade in analysis_results_by_grade) {

                                        var samples = analysis_results_by_grade[grade].samples;

                                        var n_treat = samples.n_full_treat[0];
                                        var n_comparison = samples.n_full[0] - samples.n_full_treat[0];
                                        
                                        if (analysis_by_grade) {
                                            tableRows += '<tr><td>' + grade + '</td><td>Treatment</td><td>' + n_treat  + ' ' + units +  '</td></tr>';
                                            tableRows += '<tr><td>' + grade + '</td><td>Comparison</td><td>' + n_comparison    + ' ' +  units + '</td></tr>';
                                        } else {
                                            tableRows += '<tr><td>Treatment</td><td>' + n_treat + ' ' + units +  '</td></tr>';
                                            tableRows += '<tr><td>Comparison</td><td>' + n_comparison + ' ' +  units + '</td></tr>';
                                        }
                                    }
                                }
                            }
                                
                            if (!analysis_samples_available && sample_created_using_coach ) {
                                var initTableHeader = '<tr><th scope="col">Grade</th></tr>';
                                var tableRows = "";

                                if(path === 'path-matching') {
                                  
                                        initTableHeader = '<tr><th scope="col">Grade</th><th scope="col">Group</th><th scope="col">Before matching</th><th scope="col">After matching</th><th scope="col" style="width: 10%;">Percentage</th></tr>';
                                   
                                    

                                    if(samples && !baseline_by_grade) {
                                        console.log("in matching and not by grade");
                                        var N = samples.n_full_treat;
                                        var P = samples.n_matched_treat;
                                        var M = samples.n_full ;
                                        var Q = samples.n_matched ;

                                        tableRows = tableRows + '<tr><td rowspan="2">' + grade + '</td><td>Treatment</td><td>' + N + ' ' + units +'</td><td>' + P + ' ' + units +  '</td><td class="align-right">' + round10((P/N)*100,0)+ '%</td></tr>';
                                        tableRows = tableRows + '<tr><td>Comparison</td><td>' + (M-N) + ' ' + units +'</td><td>' + (Q-P) + ' ' + units + '</td><td class="align-right">' + round10(((Q-P)/(M-N))*100,0) + '%</td></tr>';
                                    }

                                    for (grade in baseline_results) {
                                        console.log("in matching and for loop by grade and grade = " + grade);
                                        gradesamples = baseline_results[grade].samples;
                                        var N=0, P=0, M=0, Q=0;
                                        var grade_object = analysis_results_by_grade[grade];

                                        if(gradesamples) {
                                            console.log("in matching and by grade");
                                            var N = gradesamples.n_full_treat;
                                            var P = gradesamples.n_matched_treat;
                                            var M = gradesamples.n_full ;
                                            var Q = gradesamples.n_matched ;
                                        }

                                        var matchedNonUsers = Q-P;
                                        var allNonUsers = M-N;

                                        tableRows = tableRows + '<tr><td rowspan="2">' + grade + '</td><td>Treatment</td><td>' + N + ' ' + units +'</td><td>' + P + ' ' + units +  '</td><td class="align-right">' + round10((P/N)*100,0)+ '%</td></tr>';
                                        tableRows = tableRows + '<tr><td>Comparison</td><td>' + allNonUsers + ' ' + units +'</td><td>' + matchedNonUsers + ' ' + units + '</td><td class="align-right">' + round10((matchedNonUsers/allNonUsers)*100,0) + '%</td></tr>';
                                    }  // end grade loop.
                                } // end if matching

                                if(path === 'path-random') {
                                    var n_overall = 0;
                                    var n_treatment = 0;
                
                                    for (grade in baseline_results) {
                                        samples = baseline_results[grade].samples;
                       
                                        n_overall += samples.n_full[0];
                                        n_treatment += samples.n_treat[0];
                                    }

                                    n_comparison =  n_overall - n_treatment;
                                    initTableHeader = '<tr><th scope="col">Group</th><th scope="col">Sample size</th></tr>';
                                    tableRows = '<tr><td>Treatment</td><td>' + n_treatment + ' ' + units + '</td></tr>';
                                    tableRows = tableRows + '<tr><td>Comparison</td><td>' + n_comparison + ' ' + units + '</td></tr>';

                                } // end path random
                            } // end if sample_created_using_coach
                        %>




                        <%  if(path === 'path-matching') { %>
                        <p class="note" style="margin-top: 15px;">
                            <strong>Interpreting these findings:</strong>
                            This analysis relies on the validity of the comparison group. To see how the comparison group was created check our   Matching Overview. Table 1 summarizes the number of <%= Basics_Users %> in the treatment and comparison groups before and after matching. It is important to note that these findings only apply to <%= Basics_Users %> who were included in the final evaluation sample. You should consider this when deciding how to move forward with the technology
                        </p>
                        <% } %>
                        <% tabcounter = 1 + tabcounter;  %>
                        <table><caption>Table <%= tabcounter %>. Number of <%= units %> in treatment and comparison groups </caption><thead><%- initTableHeader %></thead><tbody><%- tableRows %></tbody></table>
                        <% } else { %>
                        <p>Since the intervention and comparison groups were created outside of the Coach, sample size information is not available.</p>
                        <% } %>
                    </div>
                </div>

                <div class="row no-page-break">
                    <div class="col-xs-12">
                        <h2> This evaluation tested the effectiveness of <%= Basics_Tech_Name %>.</h2>
                        
                       

                        <p> <%= capitalize(Basics_Tech_Name) %> is
                        <%= punctuate(Tech_Purpose) %></p>

                        <div class="white-background-blue-border">
                            <h3> The Basics of <%= Basics_Tech_Name %></h3>
                            <div class="char-row-div">
                                <div class="char-label-div"> Program Type</div>
                                <div class="char-content-div"><%= wordList(program_types).toLowerCase() %></div>
                            </div>
                                <div class="char-row-div">
                                    <div class="char-label-div"> Key Components</div>
                                    <div class="char-content-div">
                                        <%= Tech_Components %>
                                    </div>
                                </div>
                            <div class="char-row-div">
                                <div class="char-label-div"> Delivery Type</div>
                                <div class="char-content-div">
                                    <%= wordList(delivery_types).toLowerCase() %>
                                </div>
                            </div>
                            <% if (grades_used.length > 0) { %>
                            <div class="char-row-div">
                                <div class="char-label-div"> Used in</div>
                                <div class="char-content-div">


                                    <%= wordList(grades_used) %> grade <%- wordList(classroom_types).toLowerCase() %> classrooms

                                </div>
                            </div>
                            <% } %>
                                <%
                                var OutcomesList = wordList(Outcomes).toLowerCase(); %>
                            <div class="char-row-div">
                                <div class="char-label-div">Target Outcomes</div>
                                <div class="char-content-div">
                                    <%- OutcomesList %>
                                </div>
                            </div>

                            <% if (user != "NOAUTHENTICATED" && display === 'online') {%>
                            <div class="char-row-div">
                                <p class="prev-answer hidden-print">
                                    <i class="fa fa-hand-o-right"></i> Where did I answer the above? See
                                    <a class="redirect-link" href="/context_and_usage?return=shareresult">Context and Usage</a>
                                </p>
                            </div>
                                <% } %>

                                <div class="char-row-div">
                                    <div class="char-label-div"><%= capitalize(Tech_Cost_Saves) %></div>
                            <div class="char-content-div">
                                        $<%= Tech_Amount %> per <%= Tech_Cost_User %>
                                    </div>
                                </div><% if (user != "NOAUTHENTICATED" && display === 'online') {%>

                                <div class="char-row-div">
                                    <p class="prev-answer hidden-print">
                                        <i class="fa fa-hand-o-right"></i> Where did I answer this? See
                                        <a class="redirect-link" href="/plan_next_steps?return=shareresult">Plan Next Steps</a>
                                    </p>
                                </div>
                            <% } %>
                            <div class="clearfix"></div>
                            </div>
                    </div>
                </div>

                <div class="row no-page-break">
                    <div class="col-xs-12">
                        <h2> <%= capitalize(Basics_Tech_Name) %> was tested using a <%= pilot_type %> pilot.</h2>
                        <ul>
                            <li>
                                <% if (pilot_type === 'randomized') { %>
                                This evaluation used a randomized pilot.The choice of who piloted the technology was determined by chance, like a coin flip. This design was the best way to determine if <%= Basics_Tech_Name %> was moving the needle because it allowed us to create two groups that were similar on both observed characteristics (such as prior achievement) and unobserved characteristics (such as motivation). This allows us to be confident that any differences seen in outcomes are due to the technology and not other factors.
                                <% } else if (pilot_type === 'matched') { %>
                                This study used a matched comparison design. This is a quasi-experimental design. To compare apples to apples, this quasi-experimental design will identify a comparison group with similar characteristics to the <%= Basics_Users %> using the technology that you want to test.
                                <% } else { %>
                                [Description of pilot type, either matched or randomized.]
                                <% } %>
                            </li>
                            <li>
                                <%= sentence(assignment) %>
                            </li>

                            <% if (baseline_vars_relabel.length > 0) { %>
                            <li>
                                Baseline equivalence (or similarity across treatment and comparison) was tested using: <span class="baseline-vars-wordlist">
                                    <%= baseline_vars_relabel_wordlist %>
                                </span> characteristics.
                            </li>
                            <% } else { %>
                            <li>
                                Baseline equivalence (or similarity across treatment and comparison) was not tested.
                                <% } %>
                        </ul>
                        <% if (analysis_baseline_results && analysis_baseline_vars.length > 0) { %>
                        <% tabcounter = 1 + tabcounter; %>
                        <table>
                            <caption>Table <%= tabcounter %>. Background Characteristics of the Evaluation Sample</caption>
                            <thead>
                                <tr>
                                    <% if (analysis_baseline_by_grade) { %>
                                    <th>Grade</th>
                                    <% } %>
                                    <th> Characteristic</th>
                                    <th> Overall</th>
                                    <th> Treatment</th>
                                    <th> Comparison</th>
                                    <th> Difference</th>
                                    <th> Effect Size</th>
                                </tr>
                            </thead>
                            <tbody>

                                <% for (grade in analysis_baseline_results) {
                          
                                    try {
                                        var baseline_var_means = analysis_baseline_results[grade].baseline_var_means;

                                        var samples = analysis_baseline_results[grade].samples;

                                        var n_overall = 0;
                                        var n_treatment = 0;

                                        if (analysis_samples_available) {
                                            n_overall = samples.n_full[0];
                                            n_treatment = samples.n_full_treat[0];
                                        }
                                        else if(path ==="path-matching") {
                                            n_overall = samples.n_matched[0];
                                            n_treatment = samples.n_matched_treat[0];                               
                                        }
                                        else if (path === "path-random") {
                                            n_overall = samples.n_full[0];
                                            n_treatment = samples.n_treat[0];
                                        }
                                        var n_comparison = n_overall - n_treatment;

                                        var characteristics = Object.keys(baseline_var_means);
                                        var growspan =characteristics.length + (sample_created_using_coach ? 1 : 0);

                                        for (index in characteristics) {
                                            var characteristic = characteristics[index];

                                    %>
                                    <tr>
                                        <% if (analysis_baseline_by_grade  && index == 0) { %>
                                        <td rowspan="<%= growspan %>"> <%= grade %></td>
                                        <% } %>
                                        <td> <span class="table1-relabel-baseline-var-<%- index %>"><%= baseline_vars_relabel[index] %></span></td>
                                        <td> <%= round10(baseline_var_means[characteristic].overall[0],2) %></td>
                                        <td> <%= round10(baseline_var_means[characteristic].intervention[0],2) %></td>
                                        <td> <%= round10(baseline_var_means[characteristic].comparison[0],2) %></td>
                                        <td> <%= round10(baseline_var_means[characteristic].difference[0],2) %></td>
                                        <td> <%= round3(baseline_var_means[characteristic].effect_size[0]) %></td>
                                    </tr>
                                <% } 
                                    if(sample_created_using_coach ) { %>
                                    <tr>

                                        <td> Number of <%= units %></td>
                                        <td> <%= n_overall %></td>
                                        <td> <%= n_treatment %></td>
                                        <td> <%= n_comparison %></td>
                                        <td> --</td>
                                        <td> --</td>
                                    </tr>
                                    <% }} catch (e) {
                                        var error = e;
                                        console.log("baseline characteristics error");
                                        console.log(error);
                                    }
                                } %>
                            </tbody>
                        </table>
                        <% } else { %>
                            <h3>Evaluation Sample Baseline Analysis</h3>
                            <p>We've improved the evaluation sample baseline analysis. To see the results here, please return to the Get Results tool and re-run it.
                            </p>
                            <p class="prev-answer hidden-print">
                                <i class="fa fa-hand-o-right"></i> How do I re-run results?
                                <a class="redirect-link" href="/getresult?return=shareresult">Get Results</a>
                            </p>
                        <% } %>
                        <%
                        console.log("query.sharing = " + query.sharing)
                        console.log("display = " + display)
                        console.log("baseline_vars.length = " + baseline_vars.length)
                        console.log("test = " + (baseline_vars && baseline_vars.length > 0 && display === "online" && query.sharing !== "1"))
                        if (baseline_vars && baseline_vars.length > 0 && display === "online" && query.sharing !== "1") { %>
                        <div class="hidden-print">
                            <h3>Re-label baseline variables (optional):</h3>
                            <% for (index in baseline_vars) {
                            var baseline_var = baseline_vars[index]; %>

                            <div class="row">
                                <div class="col-xs-3">
                                    Re-label <%= baseline_var %>:
                                </div>
                                <div class="col-xs-4">
                                    <input type="text" name="relabel-baseline-var-<%- index %>" class="relabel-baseline-var" value="<%= baseline_vars_relabel[index] %>" data-reset="<%= baseline_var %>" />
                                </div>
                            </div>
                            <% } %>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-info" id="relabel-baseline-vars">Re-label</button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>

                <div class="row no-page-break">
                    <div class="col-xs-12">
                        <h2> This evaluation studied <%= Basics_Tech_Name %>'s impact on <%= wordList(grades_used) %> <%= useGrades %> <%= Basics_Users %>.</h2>

                    <div class="col-xs-12">
                        <div class="white-background-blue-border">
                            <div class="col-xs-5">
                                <h3> Evaluation Context</h3>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        School Type
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= wordList(school_types) %>
                                    </div>
                                </div>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        District Size
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= Total_Students %>
                                    </div>
                                </div>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        Setting
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= wordList(urbanicity) %>
                                    </div>
                                </div>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        Location
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= District_State %>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-7">
                                <h3> Overall Student Population</h3>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        Non-white
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= non_white %>
                                    </div>
                                </div>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        Hispanic
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= Ethnicity_Hispanic %>
                                    </div>
                                </div>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        Female
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= Gender_Female %>
                                    </div>
                                </div>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        <!--<em> Free or Reduced Price Lunch</em> : <%= frpl %>%<br>-->
                                        English Learners
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= English_Learners %>
                                    </div>
                                </div>
                                <div class="char-row-div">
                                    <div class="char-label-div-wide">
                                        Students with IEPs
                                    </div>
                                    <div class="char-content-div-narrow">
                                        <%= IEP %>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                                <% if (user != "NOAUTHENTICATED" && display === 'online') {%>
                                <p class="prev-answer hidden-print">
                                    <i class="fa fa-hand-o-right"></i> Where did I answer the above? See
                                    <a class="redirect-link" href="/context_and_usage?return=shareresult">Context and Usage</a>
                                </p>
                                <% } %>
                            </div>
                            </div>
                        </div>
                </div>
                

                <div class="row no-page-break">
                    <div class="col-xs-12">

                        <h2> The evaluation period lasted <%= duration %>.</h2>
                        <p>
                            During this period, <%= Basics_Users %> in the treatment group were expected to use <%= Basics_Tech_Name %>
                            <%- punctuate(Expected_Dosage) %>
                            <%= capitalize(Basics_Users) %> in the comparison group did not have access to <%= Basics_Tech_Name %>.
                        </p>
                        <p>
                        <%
                      //  console.log("display = " + display + " and sharing = " + query.sharing);
                            if (display === 'online' && query.sharing != 1) { %>
                            <label class="hidden-print"> Challenges/Limitations:</label>
                            <textarea name="challenges_limitations" id='challenges-limitations' class="hidden-print" placeholder="Describe any challenges or limitations experienced during the pilot period."><%= challenges_limitations %></textarea>
                        <p class="visible-print-block print-challenges-limitations"><%= challenges_limitations %></p>
                        <% } else if (display === 'download' || query.sharing == 1) { %>
                        <p class="print-challenges-limitations"><%= challenges_limitations %></p>
                        <% } %>
                        <p>
                            Other contextual factors or initiatives might have contributed to results. Other factors include:
                            <%= Other_Notes %>
                        </p>
                        <% if (user != "NOAUTHENTICATED" && display === 'online') {%>
                        <p class="prev-answer hidden-print">
                            <i class="fa fa-hand-o-right"></i> Where did I answer the above? See
                            <a class="redirect-link" href="/context_and_usage?return=shareresult">Context and Usage</a>
                        </p>
                        <% } %>
                    </div>
                </div>

                <div class="row no-page-break">
                    <div class="col-xs-12">
                        <h2><%= sentence(Basics_Outcome + ' was measured using ' + Outcome_Measure) %></h2>
                        <%
                        var impactlabel = "Estimated effect";
                        
                        if(eval.path==="path-random") { impactlabel = "Estimated impact"; }
                        if ( analysis_results_by_grade) {
                        var initTableHeader = '<tr><th scope="col">Grade</th><th scope="col">Treatment Group Mean</th><th scope="col">Comparison Group Mean</th><th scope="col">' + impactlabel + '</th></tr>';
                        var tableRows = '';
                        var impactfootnote = '<p class="smallnote"><strong>Note:</strong> The ' + impactlabel.toLowerCase() +' will not necessarily be equal to the difference between the treatment and comparison group means because the analysis applies statistical adjustments to control for other variables.</p>'


                        for (grade in
                        analysis_results_by_grade) {
                        console.log("loop by grade and grade = " + grade);
                        means = analysis_results_by_grade[grade].outcome_means;
                        var impact = analysis_results_by_grade[grade].impact;

                        if(means) {

                        tableRows = tableRows + '<tr><td>' + grade + '</td><td>' + means.intervention +'</td><td>' + means.comparison +'</td><td>' + impact +  '</td></tr>';

                        }
                        } // end grade loop.

                        } //end if analysis by grade
                        if(tableRows.length > 0) {
                        <% tabcounter = 1 + tabcounter; %>
                        %>
                        <table><caption>Table <%=  tabcounter %>. Average outcomes for the treatment and comparison groups</caption><%- initTableHeader %><%- tableRows %></table><%- impactfootnote %>
                        <% } %>
                        <p>
                            Analysis of <%= Basics_Tech_Name %>
                            <% if (control_vars_relabel.length > 0) { %>
                            controls for: <span class="control-vars-wordlist"><%= control_vars_relabel_wordlist %>.</span>
                            <% } else { %>
                            did not control for baseline variables.
                            <% } %>

                            <% if (analysis_by_grade) { %>
                            Analysis was conducted by grade.
                            <% } %>
                        </p>

                        <% if (user != "NOAUTHENTICATED" && display === 'online') {%>
                        <p class="prev-answer hidden-print">
                            <i class="fa fa-hand-o-right"></i> Where did I answer the above? See
                            <a class="redirect-link" href="/craft_your_research_q?return=shareresult">Craft Your Research Question</a>
                        </p>
                        <% } %>

                        <% if (baseline_vars && baseline_vars.length > 0 && display === 'online' && query.sharing !== "1") { %>
                        <div class="hidden-print col-offset-1">
                            <h3>Re-label control variables (optional):</h3>
                            <% for (index in control_vars) {
                            var control_var = control_vars[index]; %>

                            <div class="row">
                                <div class="col-xs-3">
                                    <label for="relabel-control-var-<%- index %>"> Re-label <%= control_var %>:</label>
                                </div>
                                <div class="col-xs-4">
                                    <input type="text" name="relabel-control-var-<%- index %>" id="relabel-control-var-<%- index %>"class="relabel-control-var" value="<%= control_vars_relabel[index] %>" data-reset="<%= control_var %>" />
                                </div>
                            </div>
                            <% } %>
                            <div class="row">
                                <div class="col-xs-4">
                                    <button type="button" class="btn btn-info" id="relabel-control-vars">Re-label</button>
                                </div>
                            </div>
                        </div>
                        <% } %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">

                        <% if (display === 'online' && query.sharing != 1) { %>
                        <h2> Conclusions and Next Steps</h2>
                       
                            <h3> Next steps</h3>
                            <p>
                                <%= sentence(next_steps) %>
                            </p>
                            <% if (user != "NOAUTHENTICATED" && display === 'online') {%>
                        <div class="clearfix"></div>
                        <div>
                                <p class="prev-answer hidden-print">
                                    <i class="fa fa-hand-o-right"></i> Where did I answer this? See
                                    <a class="redirect-link" href="/plan_next_steps?return=shareresult">Plan Next Steps</a>
                                </p>
                            </div>
                            <% } %>
                       
                        <textarea name="conclusions_next_steps" id='conclusions-next-steps' class="hidden-print" rows="6" placeholder="EXAMPLE: Based on the results I will expand use of <%- Basics_Tech_Name %> to all students and will look into piloting the technology in other grades. I will set up the pilots in a manner that allows me to conduct similar evaluations."><%= conclusions_next_steps %></textarea>
                        <p class="visible-print-block print-conclusions-next-steps"><%= conclusions_next_steps %></p>
                        <% } else if (display === 'download' || query.sharing == 1) { %>
                      
                        <h2> Conclusions and Next Steps</h2>
                        <h3> Next steps</h3>
                        <p>
                            <%= sentence(next_steps); %>
                        </p>
                        <%  if(conclusions_next_steps != "") { %>
                        <p class="print-conclusions-next-steps"><%= conclusions_next_steps %></p>
                        <% }} %>
                    </div>
                </div>

                <% if (display === 'online') { %>
                <!-- Modal -->
                <%  var display_data_issues_modal = false;
            if (query.sharing === 1 || query.peeking === 1) {display_data_issues_modal = false;
            }
             else {
                for (tool in data_issues) {
                if (data_issues[tool].length > 0) {
                display_data_issues_modal = true;
                break;
                }
            }
                }

                if (display_data_issues_modal) { %>

                <div id="data-issues-modal" class="modal fade hidden-print" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Data Issues Found</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p>The following issues were found that indicate invalid or inconsistent evaluation data, and may prevent creating a full findings brief.</p>
                                        <p>Please return to and complete the appropriate tools. Until then, this brief will use placeholder values for all missing or invalid data.</p>
                                        <p>If this message persists after addressing each item, please contact us at <a href="mailto:EdTechRCE@mathematica-mpr.com">EdTechRCE@mathematica-mpr.com</a>.</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">

                                        <% for (tool in data_issues) {
                                        var issues = data_issues[tool];

                                        if (issues.length > 0) {

                                        var tool_name = tool_names[tool];
                                        var tool_route = tool_routes[tool]; %>

                                        <h4><%= tool_name %></h4>
                                        <ul>
                                            <% for (index in issues) { %>
                                            <li><%= issues[index] %></li>
                                            <% } %>
                                        </ul>

                                        <% if (user != "NOAUTHENTICATED") {%>
                                        <p class="prev-answer hidden-print">
                                            <i class="fa fa-hand-o-right"></i> Where can I address this? See
                                            <a class="redirect-link" href="<%- tool_route %>?return=shareresult"><%= tool_name %></a>
                                        </p>
                                        <% }
                                        }
                                        } %>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>

                <!-- Modal -->
                <div id="download-modal" class="modal fade hidden-print" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Download</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <% if (query.sharing != 1) { %>
                                        <p>You can select from the following options to export your findings brief. We suggest exporting this brief and reviewing it with others before you share it and complete your evaluation.  Shared briefs can be viewed by all of the Coach's registered users.</p>
                                        <% } %>
                                        <% if (query.sharing == 1) { %>
                                        <p>Select which document to download and your prefered document format.</p>
                                        <% } %>
                                    </div>
                                  
                                </div>
                                <div class="row">
                                    <div class="col-xs-6">
                                        <label>Document</label><br />
                                        <input type="radio" name="download_route" value="shareresult" checked> Findings Brief<br>
                                        <input type="radio" name="download_route" value="appendix_<%- pilot_type %>"> Technical Appendix<br>
                                    </div>
                                    <div class="col-xs-6">
                                        <label>File Format</label><br />
                                        <input type="radio" name="file_format" value="pdf" checked> PDF<br>
                                        <input type="radio" name="file_format" value="html"> HTML
                                            <span data-toggle="tooltip" title="The HTML version can be viewed in any browser, with or without an internet connection." class="tooltip-gr"><i class="fa fa-question-circle"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <% var route="/download/" +eval._id %>
                                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal">CANCEL</button>
                                <button type="submit" id="Download" data-action=<%= route %> class="btn btn-primary btn-lg" data-dismiss="modal">DOWNLOAD</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Modal -->


                <div id="complete-evaluation-modal" class="modal fade hidden-print" role="dialog">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Complete Evaluation</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <% if (!eval.published_at && (!user.profile.user_name || !user.profile.organization_name)) {
                                        var share_disabled = 'disabled'; %>

                                        <p>You must enter your name and organization before you can share an evaluation.</p>
                                        <p class="prev-answer hidden-print">
                                            <i class="fa fa-hand-o-right"></i> Where can I answer this? See
                                            <a class="redirect-link" href="/setting?return=shareresult">Profile</a>
                                        </p>
                                        <% } else {
                                        var share_disabled = ''; %>
                                        <p>Congratulations! You're ready to share your results with other registered users and complete your evaluation. Please confirm below.</p>
                                        <% } %>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-info btn-lg" data-dismiss="modal" <%- share_disabled %> >NO, NOT READY</button>
                                <button type="submit" data-action="/shareresult" id="Complete"  class="btn btn-primary btn-lg" data-dismiss="modal" <%- share_disabled %> >YES, I AM READY TO SHARE MY RESULTS.</button>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
      
        <% if (display === 'online') { %>
        <div class="hidden-print">
            <% include ../views/partials/shareresultButtons.html %>
        </div>
    </form>

    <div class="hidden-print">
        <% include ../views/partials/footer.html %>
    </div>


    <script>
        // Function to convert array into word list (e.g. ["word1", "word2", "word3"] -> "word1, word2, and word3")

      

        var wordList = function (x) {
            var out;

            if (x === undefined) {
                out = '';
            }
            else {
                x = x.filter(function(x) { return x !== '' && x !== undefined });

                if (x.length === 0) {
                    out = '';
                }
                else if (x.length === 1) {
                    out = x[0];
                }
                else if (x.length === 2) {
                    out = x[0] + ' and ' + x[1];
                }
                else {
                    out = x.slice(0, x.length - 1).join(', ') + ', and ' + x.slice(-1);
                }
            }

            return out;
        }

        $(document).ready(function () {

            $('#header, .wizard-header-row, .breadcrumb, .bottom-buttons, .footer').addClass('hidden-print');

            $("#relabel-baseline-vars").click(function (e) {
                // Prevent form submission
                e.preventDefault();

                var newLabels = [];

                // Get value of all relabel inputs. For any blanks, revert to previous value.
                $('.relabel-baseline-var').each( function(index) {
                    var val = $(this).val();

                    if (val === '') {
                        val = $(this).attr('data-reset');
                        $(this).val(val);
                    }
                    else {
                        $(this).attr('data-reset', val);
                    }

                    // Update characteristic names in table 1
                    $('span.table1-relabel-baseline-var-' + index).text(val);

                    newLabels.push(val);
                });

                // Replace baseline var wordlists with new labels.
                $("span.baseline-vars-wordlist").text(wordList(newLabels));
            });

            $("#relabel-control-vars").click(function (e) {
                // Prevent form submission
                e.preventDefault();

                var newLabels = [];

                // Get value of all relabel inputs. For any blanks, revert to previous value.
                $('.relabel-control-var').each(function (index) {
                    var val = $(this).val();

                    if (val === '') {
                        val = $(this).attr('data-reset');
                        $(this).val(val);
                    }
                    else {
                        $(this).attr('data-reset', val);
                    }

                    newLabels.push(val);
                });

                // Replace baseline var wordlists with new labels.
                $("span.control-vars-wordlist").text(wordList(newLabels));
            });

            // On textarea change on screen, update the p that will contain the text in the printed version.
            $('textarea').change(function () {
                var id = $(this).attr('id');
                var val = $(this).val();
                $('.print-' + id).text(val);
            });

            // Since we have multiple buttons that can take actions, set the form action on button click.
            $('button[type=submit]').click(function () {
                var action = $(this).attr('data-action');
              
                $('form').attr('action', action);
              
                $('form').submit();
            });

            var urlParams = new URLSearchParams(window.location.search);

            var peeking = urlParams.get('peeking');
            var sharing = urlParams.get('sharing');
            if ((peeking === "1" || sharing === "1")) {

            } else {
                $('#data-issues-modal').modal();
            }
       

        });

    </script>
    <% } %>
</body>
</html>
