<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->

<html>
<head>
    <title>Share Your Results - Ed Tech RCE Coach</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/static/css/jquery.feedback_me.css" />
    <script src="/static/js/jquery.feedback_me.js"></script>
    <!--<script src="/static/js/bootstrap-multiselect.js"></script>-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');
    </script>

    
</head>
<body>

    <div id="header"></div>
    <% if (user != "NOAUTHENTICATED") { %>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/coach"><span class="fa fa-caret-left"></span> Back to Summarizing Your Findings</a></li>
        </ol>
        <% if (message.length>0) { %>
        <div class="alert alert-success"><%= message %></div>
        <% } %>
        <% include ../views/partials/toolHeader.html %>
    <% } %>

    <form action="/shareresult" method="post">
        
        <style>
            /* Specific to share results */

            h2 {
                color: #4f81bd;
                padding-top: 15px;
            }

            h2.grade-header {
                font-size: 16px;
            }

            h3 {
                padding-top: 10px;
                letter-spacing: normal; /* default for rest of site is 1px, but it gets distorted in pdf output */
            }

            li {
                margin-bottom: 10px;
                font-size: 16px;
            }

            p {
                font-size: 16px;
            }

            .row {
                padding-top: 15px;
            }

            img {
                max-width: 100%;
                padding-bottom: 20px;
            }

            .white-background-blue-border {
                border: 3px #2e75b6 solid;
                border-radius: 25px;
                font-size: 16px;
                line-height: 1.5em;
                padding: 25px;
                margin: 15px;
                max-width: 85%;
            }

            .blue-background-white-text {
                background-color: #2e75b6 !important;
                border: 3px #2e75b6 solid;
                border-radius: 25px;
                color: #fff;
                font-size: 20px;
                margin: 15px;
                min-height: 150px;
                padding: 20px;
                text-align: center;
            }

            #table1 {
                width: 100%;
            }

            #table1 td, #table1 th {
                font-size: 20px;
                text-align: center;
            }

            #table1 thead tr {
                border-bottom: 1px #000 solid;
            }

            #table1 tfoot tr {
                border-top: 1px #000 solid;
            }

            .circle {
                width: 50px;
                height: 50px;
                margin-top: 10px;
                -webkit-border-radius: 25px;
                -moz-border-radius: 25px;
                border-radius: 25px;
                background-color: #4f81bd;
                text-align: center;
                vertical-align: middle;
                line-height: 50px;
            }

            @media screen {
                [contenteditable=true] {
                    text-decoration: underline;
                }

                a.data-link {
                    color: #000000;
                }
            }
                
            @media print {

                body {
                    -webkit-print-color-adjust: exact;
                }

                a {
                    color: #000000;
                }

                h2 a {
                    color: #4f81bd;
                }

                .tooltip-gr {

                }

                #header, .wizard-header-row, .breadcrumb, .bottom-buttons, .footer {
                    max-height: 1px;
                    padding: 0px;
                    margin: 0px;
                }

                /* Bootstrap shows link URLs in print, this removes them */
                a[href]:after {
                    content: none !important;
                }

                .row, table {
                    page-break-inside: avoid;
                }
            }
                    
        </style>
            <div class="container-fluid" > 
                <div class="row" > 
                    <div class="col-xs-12" > 
  
                        <% 
                            var stripPercent = function(x) {
                                return parseInt(x.replace(/%/g, ''));
                            }

                            var capitalize = function(x) {
                                return x[0].toUpperCase() + x.substring(1);
                            }

                            var sentence = function(x) {
                                // Capitalize first letter
                                var out = capitalize(x);
                                // If it doesn't end with punctuation, add a period.
                                return out.replace(/([^.?!])$/, "$1."); 
                            }

                            var wordList = function(x) {
                                var out;

                                x = x.filter( function(x) { return x !== '' })

                                x = unique(x);

                                if (x.length === 0) {
                                    out = '';
                                }
                                else if (x.length === 1) {
                                    out = x[0];
                                }
                                else if (x.length === 2) {
                                    out = x[0] + ' and ' + x[1];
                                }
                                else {
                                    out = x.slice(0, x.length - 1).join(', ') + ', and ' + x.slice(-1);
                                }   
                        
                                return out;                                            
                            }

                            var unique = function(x) {
                                   
                                for (var i = 0; i < x.length; i++) {
                                    if (x.indexOf(x[i]) < i) {
                                        x.splice(i, 1);
                                        i--;
                                    }
                                }

                                return x;
                            }
               
                            var tech_name = eval.basics.Basics_Tech_Name;
                            var basic_outcome = eval.basics.Basics_Outcome;

                            var users = eval.basics.Basics_Users;
                            if (users === 'other') users = eval.basics.Basic_Users_other;

                            var outcome_direction = eval.planQuestion.Outcome_Direction;
                            var outcome_measure = eval.planQuestion.Outcome_Measure;
                            
                            var analysis_results = JSON.parse(eval.getresult.Result);
                            var analysis_results_by_grade = analysis_results.results_by_grade;

                            var analysis_by_grade = Object.keys(analysis_results_by_grade).length > 1;

                            var plan_next = eval.planNext;

                            var pass_probability = stripPercent(plan_next.Pass_Probability);
                        
                            var n_overall = 0, n_treatment = 0, n_full_overall = 0, n_full_treatment = 0;

                            var path = eval.path;

                            var baseline_by_grade, baseline_results_by_grade, baseline_vars;
                        
                            if (path === 'path-matching') {
                                var match_results = JSON.parse(eval.matching.Result);
                                baseline_by_grade = Object.keys(match_results.results_by_grade).length > 1;
                                baseline_results_by_grade = match_results.results_by_grade;

                                for (grade in match_results.results_by_grade) {
                                    var samples = match_results.results_by_grade[grade].samples;

                                    n_full_overall += samples.n_full[0];
                                    n_full_treatment += samples.n_full_treat[0];

                                    n_overall += samples.n_matched[0];
                                    n_treatment += samples.n_matched_treat[0];
                                    
                                }

                                baseline_vars = match_results.match_vars;
                            }
                            else if (path === 'path-randomization') {
                                var results = JSON.parse(eval.random.Result);
                                baseline_by_grade = Object.keys(results.results_by_grade).length > 1;
                                baseline_results_by_grade = results.results_by_grade;

                                for (grade in match_results.results_by_grade) {
                                    var samples = results.results_by_grade[grade].samples;
                                    n_overall += samples.n_full[0];
                                    n_treatment += samples.n_treat[0];
                                }

                                baseline_vars = results.match_vars;
                            }
               
                            
                            var n_comparison = n_overall - n_treatment;
                        
                            var success_count = 0, failure_count = 0;
                        
                            for (grade in analysis_results_by_grade) {

                                var probability = stripPercent(analysis_results_by_grade[grade].interpretation.probability[0]);
                                var success = (probability > pass_probability);

                                if (success) {
                                    success_count++;
                                }
                                else {
                                    failure_count++;
                                }
                            }   
                        
                            var needle_negate = (success_count === 0) ? ' not' : '';
                            var grade_qualifier = (success_count > 0 && failure_count > 0) ? ' for some grades, and not for others' : '';

                            var header = capitalize(tech_name) + ' is' + needle_negate + ' moving the needle on ' + basic_outcome + grade_qualifier;

                            if (eval.shareresult) {
                                var shareresult = eval.shareresult;
                                var conclusions_next_steps = shareresult.conclusions_next_steps || '';
                                var challenges_limitations = shareresult.challenges_limitations || '';
                                var baseline_vars_relabel = shareresult.baseline_var_relabels || baseline_vars;
                            }
                            else {
                                var challenges_limitations = '';
                                var conclusions_next_steps = '';
                                var baseline_vars_relabel = baseline_vars;
                            }

                            var baseline_vars_relabel_wordlist = wordList(baseline_vars_relabel);
                        %>
                        
                        <h1 class="tool-title" > <%= capitalize(tech_name) %> Findings Brief</h1 > 
                        <hr / > 

                        <div class="row">
                            <div class="col-xs-1 circle hidden-print">
                            </div>

                            <div class="col-xs-11">
                                <% 
                                    var user_name = user.profile.user_name || '';
                                    var organization_name = user.profile.organization_name || '';
                                %>

                                <h2 class="hidden-print"> Profile Information</h2>
                                <strong class="hidden-print"> What is your full name?</strong>
                                <span data-toggle="tooltip" title="" class="tooltip-gr hidden-print" data-original-title="This information not required to edit and save changes, but is required to publish this document. "><i class="fa fa-question-circle"></i></span>
                                <br class="hidden-print" / >
                                <span class="tooltip-gr" data-tool-name="your profile">
                                    <a class="data-link" href="/setting?return=shareresult"> <%= user_name %></a>
                                </span>
                                <br class="hidden-print" />
                                <br />
                                <strong class="hidden-print">What is the name of your organization?</strong>
                                <span data-toggle="tooltip" title="" class="tooltip-gr hidden-print" data-original-title="This information not required to edit and save changes, but is required to publish this document. "><i class="fa fa-question-circle"></i></span>
                                <br class="hidden-print"/>
                                <span class="tooltip-gr" data-tool-name="your profile">
                                    <a class="data-link" href="/setting?return=shareresult"> <%= organization_name %></a>
                                </span><br / >

                            </div>
                        </div>

                        <div class="row" > 
                            <div class="col-xs-1 circle" > 
                            </div > 
                            
                            <div class="col-xs-11" > 
                                <h2 > <%= header %></h2 >
                            
                                <h3 > Research Question</h3 > 

                                    Does <%= tech_name %> <%= outcome_direction %> <%= outcome_measure %> among
                                    <%= eval.planQuestion.Intervention_Group_Desc %>
                                    <%= eval.planQuestion.Comparison_Group_Desc %>?

                                    <% for (grade in analysis_results_by_grade) {

                                    var probability = stripPercent(analysis_results_by_grade[grade].interpretation.probability[0]);
                                    var success = (probability > pass_probability);

                                    var needle_decision = (success) ? 'Yes' : 'No';
                                    var needle_negate = (success) ? '' : ' not';

                                    var next_steps = (success) ? plan_next.Action_Success : plan_next.Action_Fail;

                                    var interpretation_1 = analysis_results_by_grade[grade].interpretation.texts[1];
                                    var interpretation_2 = analysis_results_by_grade[grade].interpretation.texts[0];
                                    %>

                                    <% if (analysis_by_grade) { %>
                                        <h2 class="grade-header">Grade <%= grade %></h2>
                                    <% } %>
                                    <h3> Findings</h3>
                                    <ol>
                                        <li> <%= needle_decision + ', we think ' + tech_name + ' is' + needle_negate + ' moving the needle.' %></li>
                                        <li> <%= interpretation_1 %></li>
                                        <li> <%= interpretation_2 %></li>
                                    </ol>
                                    <h3> Next steps</h3>
                                    
                                    <span class="tooltip-gr" data-tool-name="Plan Next Steps">
                                        <a class="data-link" href="/plan_next_steps?return=shareresult"> <%= sentence(next_steps); %></a>
                                    </span>

                                <% } %>
                            </div > 
                        </div > 
                        <div class="row" > 
                            <div class="col-xs-1 circle" > 
                            </div > 
                        
                            <div class="col-xs-11" > 
                                <h2 > This evaluation tested the effectiveness of <%= tech_name %></h2 > 
                                <%
                                    var context = eval.planContext;

                                    // Use an array for the loop since it has predictable ordering
                                    var grades = ["PK", "K", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "PS"];

                                    var grade_map = {
                                        "PK" : "Pre-Kindergarten",
                                        "K"  : "Kindergarten",
                                        "1"  : "1st",
                                        "2"  : "2nd",
                                        "3"  : "3rd",
                                        "4"  : "4th",
                                        "5"  : "5th",
                                        "6"  : "6th",
                                        "7"  : "7th",
                                        "8"  : "8th",
                                        "9"  : "9th",
                                        "10" : "10th",
                                        "11" : "11th",
                                        "12" : "12th",
                                        "PS" : "Post-secondary"
                                    }
                                        
                                    var grades_used = [], grade_streak = 0, start_grade = '', end_grade = '';

                                    for (grade_index in grades) {
                                        var grade = grades[grade_index];
                   
                                        if (context['Grade_' + grade] === grade) {
                                            grade_streak++;

                                            if (grade_streak === 1) start_grade = grade_map[grade];
                                            else end_grade = grade_map[grade];
                                        }
                                        else {

                                            if (grade_streak === 1) {
                                                grades_used.push(start_grade);
                                            }
                                            else if (grade_streak > 1) {
                                                grades_used.push(start_grade + '-' + end_grade);
                                            }

                                            grade_streak = 0;
                                        }
                                    }
                                    var program_types = [context.Type_Policy, context.Type_Teacher_Level, context.Type_School_Level, context.Type_CSchool_Structure, context.Type_Practice, context.Type_Curriculum];

                                    var delivery_types = [context.Delivered_School_Wide, context.Delivered_Whole_Class, context.Delivered_Small_Group, context.Delivered_Individually];

                                    var classroom_types = [context.ClassroomType_Inclusion, context.ClassroomType_General];
                                    var outcome_types = [context.Outcome_Graduation, context.Outcome_Teacher_Excellence, context.Outcome_Behavior, context.Outcome_Science, context.Outcome_Mathematics, context.Outcome_Literacy];
                                %>
                                
                                <%= capitalize(tech_name) %> is
                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                    <a class="data-link" href="/context_and_usage?return=shareresult"> <%= context.Tech_Purpose %></a>
                                </span><br / >
                                <div class="white-background-blue-border">
                                    <strong> The Basics of <%= tech_name %></strong> <br / >
                                    <em> Program Type</em> : 
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/context_and_usage?return=shareresult"> <%= sentence(wordList(program_types).toLowerCase()) %></a>
                                    </span><br / >
                                    <em> Key Components</em> :
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/context_and_usage?return=shareresult"> <%= sentence(context.Tech_Components) %></a>
                                    </span><br / >
                                    <em> Delivery Type</em> :
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/context_and_usage?return=shareresult"><%= sentence(wordList(delivery_types).toLowerCase()) %></a>
                                    </span><br / >
                                    <em> Used in</em> :
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/context_and_usage?return=shareresult"><%= capitalize(wordList(grades_used)) %> grade <%= wordList(classroom_types).toLowerCase() %> classrooms.</a>
                                    </span><br / >
                                    <em> Target Outcomes</em> :
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/context_and_usage?return=shareresult"><%= sentence(wordList(outcome_types).toLowerCase(0)) %></a>
                                    </span><br / >
                                    <em> <%= capitalize(plan_next.Tech_Cost_Saves) %></em> : 
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/plan_next_steps?return=shareresult">$<%= plan_next.Tech_Amount %> per <%= plan_next.Tech_Cost_User %></a>
                                    </span><br / >   
                                </div> 
                            </div > 
                        </div > 
                
                        <div class="row" > 
                            <div class="col-xs-1 circle" > 
                            </div > 
                        
                            <div class="col-xs-11" > 
                                <% 
                                    var pilot_type = (path === 'path-matching') ? 'matched' : 'randomized';
                                %>
                                <h2 > <%= capitalize(tech_name) %> was tested using a <%= pilot_type %> pilot</h2 > 
                                <ul > 
                                    <li >  
                                        <% if (pilot_type === 'randomized') { %>
                                            This evaluation used a randomized pilot.The choice of who piloted the technology was determined by chance, like a coin flip. This design was the best way to determine if ReadTech was moving the needle because it allowed us to create two groups that were similar on both observed characteristics (such as prior achievement) and unobserved characteristics (such as motivation). This allows us to be confident that any differences seen in outcomes are due to the technology and not other factors.
                                        <% } 
                                            else if (pilot_type === 'matched') { %>
                                            This study used a matched comparison design. This is a quasi-experimental design. To compare apples to apples, this quasi-experimental design will identify a comparison group with similar characteristics to the students using the technology that you want to test.
                                        <% } %>
                                    </li>
                                    <li > 
                                        <%  var assignment;

                                            if (path === 'path-matching') {
                                                
                                                var suffix = (baseline_by_grade) ? 'by grade' : 'as individuals';
                                                assignment = users + ' were matched ' + suffix;

                                            }
                                            else if (path === 'path-randomize') {
                                                
                                                if (eval.random.Individual_Group === 'groups') {
                                                    prefix = 'Groups of ' 
                                                    group = eval.random.Cluster_Group;
                                                    if (group === 'other') group = eval.random.Cluster_Group_Other;
                                                } else {
                                                    prefix = '';
                                                    group = 'random values';
                                                }
                                                
                                                assignment = prefix + users + ' were assigned based on ' + group ;
                                            }
                                        %>

                                        <%= sentence(assignment) %>
                                    </li > 
                                    <li > Baseline equivalence (or similarity across treatment and comparison) was tested using: <span class="baseline-vars-wordlist">
                                        <%= baseline_vars_relabel_wordlist %></span> characteristics.</li > 
                                </ul > 
                                <% if (baseline_vars && baseline_vars.length > 0) { %>
                                    <div class="hidden-print">
                                        <h3>Re-label baseline variables (optional):</h3>
                                        <% for (index in baseline_vars) { 
                                                var baseline_var = baseline_vars[index]; %>
                                        
                                                <div class="row">
                                                    <div class="col-xs-3">
                                                        Re-label <%= baseline_var %>:
                                                    </div>
                                                    <div class="col-xs-4">
                                                        <input type="text" name="relabel-baseline-var-<%- index %>" class="relabel-baseline-var" value="<%= baseline_vars_relabel[index] %>" data-reset="<%= baseline_var %>"/>
                                                    </div>
                                                </div>                                            
                                        <% } %>                                
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <button type="button" class="btn btn-info" id="relabel-baseline-vars">Re-label</button>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            </div > 
                        </div > 
                    
                        <div class="row" > 
                            <div class="col-xs-1 circle" > 
                            </div > 
                        
                            <div class="col-xs-11" > 
                                <h2 > This evaluation studied <%= tech_name %>’s impact on <%= wordList(grades_used) %> <%= users %></h2>

                                    <% if (path === 'path-matching') { %>
                                        <p>
                                            The original dataset included <%= n_full_treatment %> students who used <%= tech_name %> and 
                                            <%= n_full_overall - n_full_treatment %> students who did not use <%= tech_name %>. 
                                            The final evaluation dataset included:
                                        </p>
                                    <% } %>
                                
                                    <div class="row">
                                        <div class="col-xs-3 blue-background-white-text">
                                            <p> <strong> Treatment Group</strong> </p>
                                            <p> Students who used readTech </p>
                                            <p> # of students: 134 </p>
                                        </div>
                                        <div class="col-xs-3 blue-background-white-text">
                                            <p> <strong> Comparison Group</strong> </p>
                                            <p> Students who did not use readTech </p>
                                            <p> # of students: 134 </p>
                                        </div>
                                        <div class="col-xs-4 white-background-blue-border">

                                            <% 
                                                var school_types = [context.SchoolType_Charter, context.SchoolType_Private, context.SchoolType_Parochial, context.SchoolType_Public];
                                                var urbanicity = [context.Urbanicity_Urban, context.Urbanicity_Suburban, context.Urbanicity_Rural];
                                                var non_white = 100 - context.Race_White;
                                            %>
                                            <strong> Evaluation Context</strong> <br>
                                            <em> School Type</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"> <%= wordList(school_types) %></a>
                                                </span> <br>
                                            <em> District Size</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"> <%= context.Total_Students %></a>
                                                </span><br>
                                            <em> Setting</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"> <%= wordList(urbanicity) %></a>
                                                </span><br>
                                            <em> Location</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.District_State %></a>
                                                </span><br>
                                            <strong> Overall Student Population</strong> <br>
                                            <em> Non-white</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"><%= non_white %></a>%
                                                </span><br>
                                            <em> Hispanic</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.Ethnicity_Hispanic %></a>%
                                                </span><br>
                                            <em> Female</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.Gender_Female %></a>%
                                                </span><br>
                                            <!--
                                            <em> Free or Reduced Price Lunch</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.FRPL_Reduced + context.FRPL_Free %></a>%
                                                </span><br>-->
                                            <em> English Learners</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.English_Learners %></a>%
                                                </span><br>
                                            <em> Students with IEPs</em> : 
                                                <span class="tooltip-gr" data-tool-name="Context and Usage">
                                                    <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.IEP %></a>%
                                                </span><br>
                                        </div>
                                    </div>


                                    <p> Table 1 below summarizes key characteristics of the study sample: </p>
                                    <p> <strong> Table 1. Background Characteristics of the Evaluation Sample</strong> </p>
                                    <table id="table1">
                                        <thead>
                                            <tr>
                                                <% if (baseline_by_grade) { %>
                                                <th>Grade</th>
                                                <% } %>
                                                <th> Characteristic</th>
                                                <th> Overall</th>
                                                <th> Treatment</th>
                                                <th> Comparison</th>
                                                <th> Difference</th>
                                                <th> Effect Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            <% for (grade in baseline_results_by_grade) {
                                                var baseline_var_means = baseline_results_by_grade[grade].baseline_var_means;
                                                var characteristics = Object.keys(baseline_var_means);

                                                for (index in characteristics) { 
                                                    var characteristic = characteristics[index]; %>
                                                    <tr>
                                                        <% if (baseline_by_grade) { %>
                                                            <td> <%= grade %></td>
                                                        <% } %>
                                                        <td> <span class="table1-relabel-baseline-var-<%- index %>"><%= baseline_vars_relabel[index] %></span></td>
                                                        <td> <%= baseline_var_means[characteristic].overall[0] %></td>
                                                        <td> <%= baseline_var_means[characteristic].intervention[0] %></td>
                                                        <td> <%= baseline_var_means[characteristic].comparison[0] %></td>
                                                        <td> <%= baseline_var_means[characteristic].difference[0] %></td>
                                                        <td> <%= baseline_var_means[characteristic].effect_size[0] %></td>
                                                    </tr>
                                                <% }} %>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <% if (baseline_by_grade) { %>
                                                <td></td>
                                                <% } %>
                                                <td> Number of <%= users %></td>
                                                <td> <%= n_overall %></td>
                                                <td> <%= n_treatment %></td>
                                                <td> <%= n_comparison %></td>
                                                <td> --</td>
                                                <td> --</td>
                                            </tr>
                                        </tfoot>

                                    </table>
                                </div> 
                        </div > 
                        
                        <div class="row" > 
                            <div class="col-xs-1 circle" > 
                            </div > 
                        
                            <div class="col-xs-11" > 
                                <% 
                                    /* We have begin and end datetimes, rather than a plain-English duration. The following 
                                        estimates the duration to the nearest day, and then converts that to the most appropriate 
                                        count of days, weeks, months, or years */
                                    var begin_date = new Date(context.Eval_Begin_Date);
                                    var end_date = new Date(context.Eval_End_Date);
                                    var duration_days = Math.ceil((end_date - begin_date) / 86400000);
                                    var duration = '';

                                    if (duration_days < 7) {
                                        duration = duration_days.toString() + ' days';        
                                    }
                                    else if (duration_days < 84) {
                                        duration = (Math.ceil(duration_days / 7)).toString() + ' weeks';
                                    }
                                    else if (duration_days < 365) {
                                        duration = (Math.ceil(duration_days / 30)).toString() + ' months';
                                    }
                                    else {
                                        duration = (Math.ceil(duration_days / 365)).toString() + ' years';
                                    }
                                %>
                                <h2 > The evaluation period lasted
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a href="/context_and_usage?return=shareresult"><%= duration %>.</a>
                                    </span>
                                </h2 > 
                                <p > During this period, <%= users %> in the intervention group were intended to use the technology 
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.Expected_Dosage + '.' %></a>
                                    </span> Students in the comparison group did not have access to <%= tech_name %>. </p >
                                <p > 
                                    <label > Challenges/Limitations:</label > 
                                    <textarea name="challenges_limitations" id='challenges-limitations' class="hidden-print" placeholder="Describe any challenges or limitations experienced during the pilot period."><%= challenges_limitations %></textarea>
                                    <p class="visible-print-block" id="print-challenges-limitations"><%= challenges_limitations %></p>
                                <p>
                                    Other contextual factors or supports being provided to students may have contributed to results. Other factors include:
                                    <span class="tooltip-gr" data-tool-name="Context and Usage">
                                        <a class="data-link" href="/context_and_usage?return=shareresult"><%= context.Other_Notes %></a>
                                    </span>
                                </p> 
                            </div > 
                        </div > 
                        
                        <div class="row" > 
                            <div class="col-xs-1 circle" > 
                            </div > 
                        
                            <div class="col-xs-11" > 
                                <h2 ><span class="tooltip-gr" data-tool-name="Basics">
                                        <a href="/basic?return=shareresult"><%= capitalize(basic_outcome) %> </a>
                                     </span>
                                    was measured using 
                                     <span class="tooltip-gr" data-tool-name="Craft Your Research Question">
                                          <a href="/craft_your_research_q?return=shareresult"><%= outcome_measure %>.</a>
                                     </span>
                                </h2 > 
                                <p > Analysis of <%= tech_name %> controls for: <span class="baseline-vars-wordlist"><%= baseline_vars_relabel_wordlist %>.</span>
                                    <% if (analysis_by_grade) { %>
                                        Analysis was also conducted by grade.
                                    <% } %> </p > 
                            </div > 
                        </div > 

                        <div class="row" > 
                            <div class="col-xs-1 circle" > 
                            </div > 

                            <div class="col-xs-11" > 
                                <h2 > Conclusions and Next Steps</h2 > 
                                <textarea name="conclusions_next_steps" id='conclusions-next-steps' class="hidden-print" rows="6" placeholder="EXAMPLE: Based on the results I will expand use of <%- tech_name %> to all students and will look into piloting the technology in other grades. I will set up the pilots in a manner that allows me to conduct similar evaluations."><%= conclusions_next_steps %></textarea>
                                <p class="visible-print-block" id="print-conclusions-next-steps"><%= conclusions_next_steps %></p>
                            </div > 
                        </div >
                    </div>
                </div>
            </div>
        </div>
                
        <% include ../views/partials/shareresultButtons.html %>
    </form > 
    
    <% include ../views/partials/footer.html %>
    <script src='/static/js/custom.js' ></script > 
    <script>
        // Function to convert array into word list (e.g. ["word1", "word2", "word3"] -> "word1, word2, and word3")
        var wordList = function (x) {
            var out;

            x = x.filter(function (x) { return x !== '' })

            if (x.length === 0) {
                out = '';
            }
            else if (x.length === 1) {
                out = x[0];
            }
            else if (x.length === 2) {
                out = x[0] + ' and ' + x[1];
            }
            else {
                out = x.slice(0, x.length - 1).join(', ') + ', and ' + x.slice(-1);
            }

            return out;
        }
        
        $(document).ready(function () {

            $('#header, .wizard-header-row, .breadcrumb, .bottom-buttons, .footer').addClass('hidden-print');

            $("#relabel-baseline-vars").click(function (e) {
                // Prevent form submission
                e.preventDefault();

                var newLabels = [];

                // Get value of all relabel inputs. For any blanks, revert to previous value.
                $('.relabel-baseline-var').each( function(index) {
                    var val = $(this).val();

                    if (val === '') {
                        val = $(this).attr('data-reset');
                        $(this).val(val);
                    }
                    else {
                        $(this).attr('data-reset', val);
                    }

                    // Update characteristic names in table 1
                    $('span.table1-relabel-baseline-var-' + index).text(val);
                    
                    newLabels.push(val);
                });

                // Replace baseline var wordlists with new labels.
                $("span.baseline-vars-wordlist").text(wordList(newLabels));
            });

            // Add tooltips.
            $('.tooltip-gr').tooltip({
                title: function () {
                    return "You previously entered this value on " + $(this).attr('data-tool-name') + ". Click to visit the tool and revise your answer.";
                }
            });

            // On textarea change on screen, update the p that will contain the text in the printed version.
            $('textarea').change(function () {
                var id = $(this).attr('id');
                var val = $(this).val();
                $('#print-' + id).text(val);
            });
            
        });
    </script>
    </body > 
</html >
            