<!doctype html>
<!--
* RCE Coach software is available through a GLPv3 open-source software license.
* Any attribution should include the following:
*   © 2016, Mathematica Policy Research, Inc. The RCE Coach software was developed by
*   Mathematica Policy Research, Inc. as part of the Rapid Cycle Tech Evaluations project funded
*   by the U.S. Department of Education’s Office of Educational Technology through
*   Contract No. ED-OOS-15-C-0053.
-->
<html>
<head>
    <title>Terms of Use - Ed Tech RCE Coach</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-86460597-1', 'auto');
        ga('send', 'pageview');
    </script>
</head>
<body>
    <% include ../views/partials/header.html %>
    <% var backto="Back to Home" , backlink = "/"; if (user ) { backto ="Back to Dashboard"; backlink="/dashboard"} %>
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= backlink %>"><span class="fa fa-caret-left"></span> <%= backto %></a></li>
    </ol>
    <div class="container-fluid">
        <div class="row">
            <div class="legal">
                <h1>Terms of Use</h1>
                <p>Welcome to Terms of Use page for the Ed Tech Rapid Cycle Evaluation (RCE) Coach and suite of dashboards (the “Website”). We&rsquo;re glad you’re here, and we hope you enjoy and benefit from using the Coach.</p>
                <p>
                    These Terms of Use govern your use of the Website. You automatically agree to these Terms and to our <em>Privacy Policy</em> simply by using or logging into the Website.
                </p>
                <h2>You may need to register an account to access certain features and functions of the Website</h2>
                <p>
                    Visitors can access much of the Website without registering or providing any personal information. However, certain features require you to register an account. To register an account, you must be at least 18 years old. You will need to provide correct, current and complete information to register your account. The information you provide to register your account and other information you provide through the use of any interactive features on the Website, is governed by our <em>Privacy Policy</em>. You agree to all actions we take with respect to your information consistent with our <em>Privacy Policy</em>.
                </p>
                <p>
                    Keep your user name, password or any other piece of information as part of our security procedures confidential. Notify us immediately of any unauthorized access to or use of your user name or password or any other breach of security. You also agree to exit from your account at the end of each session. This is particularly important when using certain features on the website as explained in our <em>Privacy Policy</em>. You should use particular caution when accessing your account from a public or shared computer so that others are not able to view or record your password or other personal information.
                </p>
                <h2>We can make changes to the Terms of Use</h2>
                <p>We may change these Terms at any time so be sure to check back regularly. By continuing to use or log in to the Website after these Terms have changed, you indicate your agreement to the revised Terms. If you do not agree to the changes, you should stop using or logging in to the Sites.</p>
                <h2>
                    We make no guarantee about Website availability
                </h2>
                <p>
                    While we intend for the Website to be available and continue to be available at all times, we make no guarantee that the Website will be available and reserve the right to withdraw or amend the Website, and any features, functions or material we provide on the Website, without notice. We have the right to disable any account at any time for any or no reason, including if, in our opinion, you have violated any provision of these Terms of Use.
                </p>
                <h2>We will make the Website&rsquo;s software code available to the public </h2>
                <p>
                    The software code of much of the Website’s contents, features and functionality, particularly those parts that users are most interested in, will be made available for download on a publicly available website through an open-source software license. We will add a link to the  <a href="/About">About</a> page that will take you to that code. Mathematica Policy Research is the copyright owner of the software code and the Website.
                </p>
                <h2>Data Collection & Ownership</h2>
                <p>
                    In your use of the Website, you represent and warrant that you have the right to provide any data loaded into the Website. The input that you are required to provide to use any of the features or functionality of the Website belongs to you. Similarly, the output generated through your use of any of the features and functionality of the website belongs to you. However, we may keep and use copies of all the input and output (except your data files that you may upload if you choose to use the dashboards or tools on the Website.) See our <a href="/PrivacyPolicy">Privacy Policy</a> for more details about confidentiality and security of your input, output and data files and how we use your information. Your use of the Website tells us that you agree to these Terms of Use and grant Mathematica with a world-wide royalty free license for such use of the information.
                </p>
                <h2>Content you post to public areas of the Website </h2>
                <p>We may provide opportunities for you to post content to public areas of the Website. You can only post content if you own all the rights to that content, or if another rights holder has given you permission. </p>
                <p>You do not transfer ownership of your content simply by posting it. However, by posting Content, you grant us the right and permission to store, reproduce, publish, transmit, exhibit, and otherwise use your content. Please note that this permission continues even if you stop using the Website.</p>
                <p>You agree to indemnify, release, and hold us harmless from any all liability arising out of any content you post.</p>
                <h2>Be a Good Citizen of the Website</h2>
                <p>Please do not use the Website in a way that violates any laws, infringes on anyone&rsquo;s rights, is offensive, or interferes with the Website or any of its features or functionality. If we (in our sole discretion) determine that you have acted inappropriately, we reserve the right to take down content, terminate your account, prohibit you from using the Website, and take appropriate legal actions.</p>
                <h2>We agree to communicate with each other electronically</h2>
                <p>When you use the Website or send communications to us through the Website, you are communicating with us electronically. You agree that all agreements, notices, disclosures and other communications that are provided to you electronically satisfy any legal requirement that such communications be in writing. All notices from us intended for receipt by you shall be deemed delivered and effective when sent to the email address you provide to us. </p>
                <h2>Our Warranties and Disclaimers</h2>
                <p>We are excited to provide the Website and its features and functionality and promise to do our best to make sure you enjoy and benefit from them. </p>
                <p>HOWEVER, WE MAKE NO SPECIFIC PROMISES ABOUT THE WEBSITE. FOR EXAMPLE, WE DON’T MAKE ANY COMMITMENTS ABOUT THE CONTENT WITHIN THE SITES, THE SPECIFIC FUNCTION OF THE SITES, OR THEIR RELIABILITY, AVAILABILITY, OR ABILITY TO MEET YOUR NEEDS. WE PROVIDE THE SITES &ldquo;AS IS&rdquo;.</p>
                <p><span style="text-decoration: underline"><strong>SOME JURISDICTIONS PROVIDE FOR CERTAIN WARRANTIES, LIKE THE IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT. TO THE EXTENT PERMITTED BY LAW, WE EXCLUDE ALL WARRANTIES. </strong></span></p>
                <h2>Children Under the Age of 13</h2>
                <p>The Website is not intended for use by children under 13 years of age. No one under age 13 may provide any information to the Website. If you are under 13, do not use or provide any information on this Website or on or through any of its features or register on the Website. </p>
                <p>These Terms of Use were last updated on October 21, 2016.</p>
            </div>
        </div>
    </div>
    <nav class="footer navbar-default" role="navigation">
        <div class="row">
            <div class="col-xs-4">
                <div class="navbar-header">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/">
                            <h3 class="sec-label">Ed Tech RCE Coach</h3>
                        </a>
                    </div>
                </div>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="col-xs-8">
                <div class="col-xs-4">
                    <ul class="footer-list">
                        <li>
                            <a href="/About" class="sec-label">About</a>
                        </li>

                        <li>
                            <a href="/TermsOfUse" class="sec-label">Terms of Use</a>
                        </li>
                        <li>
                            <a href="/PrivacyPolicy" class="sec-label">Privacy Policy</a>
                        </li>
                    </ul>
                </div>
                <div class="col-xs-8">
                    <ul style="list-style:none;margin-top:20px;">
                        <li>
                            <a class="sec-label" onclick="window.open('/static/pdf/Glossary.pdf', ''); return false; " href="javascript:void(0);">
                                Glossary
                            </a>
                        </li>
                        <li>
                            <a class="sec-label" onclick="window.open('/static/pdf/RCE Coach FAQs.pdf', ''); return false; " href="javascript:void(0);">
                                FAQ
                            </a>
                        </li>
                        <li>
                            <a href="/PreviewTools" class="sec-label">Guides and Reference Resources</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="clearfix">
                <p class="text-center text-muted">&copy; 2016 Mathematica Policy Research, Inc. </p>
            </div>

        </div>
    </nav>
</body>
</html>
