<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Account management</title>
    <meta name="description" content="Account management">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.3.1/js/buttons.html5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.3.1/css/buttons.dataTables.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
</head>
<body>
    <% include ../views/partials/header.html %>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"><span class="fa fa-caret-left"></span> Back to Dashboard</a></li>
        </ol>
    </div>
   
    <div id="result">
        <% include ../views/partials/userListsforAdmin.html %>
    </div>
    <% include ../views/partials/footer.html %>
    <script>
        $(document).ready(function () {
            var buttonCommon = {
                exportOptions: {
                    format: {
                        body: function (data, row, column, node) {
                            return column === 0 ?
                                '' :
                                data;
                        }
                    }
                }
            };
            $('#myTable').dataTable({
                "iDisplayLength": 10,
                "dom":"Bfrtlpi" ,
                "buttons": [
                   $.extend(true, {}, buttonCommon, {
                       extend: 'excel'
                   })
                ]
            });

            $('#deleteConfirm').on('show.bs.modal', function (e) {

                //get delete-id attribute of the clicked element
                var deletedId = $(e.relatedTarget).data('delete-id');
                console.log(deletedId);
                var title = $(e.relatedTarget).data('delete-title');

                //populate the textbox
                $(e.currentTarget).find('input[id="toDeleted"]').val(deletedId);
                $(e.currentTarget).find('label[id="evaltl"]').text(title);
            });

            $("#delUser").click(function (e) {
                var idtobedeleted = $("#toDeleted").val();

                var url = '/api/delUser';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ "id": idtobedeleted }),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {

                    }
                }
                )
                $(document).ajaxStop(function () { location.reload(true); });
            });
});
    </script>
</body>

</html>  