<!DOCTYPE html>
<html lang="en">
<head>
    <title>Account management</title>
    <% include ../views/partials/scriptAdminHeader.html %>
</head>
<body>
    <% include ../views/partials/header.html %>
    <div>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/dashboard"><span class="fa fa-caret-left"></span> Back to Dashboard</a></li>
        </ol>
    </div>
   
    <div id="result">
        <% include ../views/partials/userListsforAdmin.html %>
    </div>
    <% include ../views/partials/footer.html %>
    <script>
        $(document).ready(function () {
            var buttonCommon = {
                exportOptions: {
                    format: {
                        body: function (data, row, column, node) {
                            return column === 0 ?
                                '' :
                                data;
                        }
                    }
                }
            };
            $('#myTable').dataTable({
                "iDisplayLength": 10,
                "dom":"Bfrtlpi" ,
                "buttons": [
                   $.extend(true, {}, buttonCommon, {
                       extend: 'excel'
                   })
                ]
            });

            $('#deleteConfirm').on('show.bs.modal', function (e) {

                //get delete-id attribute of the clicked element
                var deletedId = $(e.relatedTarget).data('delete-id');
                console.log(deletedId);
                var title = $(e.relatedTarget).data('delete-title');

                //populate the textbox
                $(e.currentTarget).find('input[id="toDeleted"]').val(deletedId);
                $(e.currentTarget).find('label[id="evaltl"]').text(title);
            });

            $("#delUser").click(function (e) {
                var idtobedeleted = $("#toDeleted").val();

                var url = '/api/delUser';
                $.ajax({
                    type: "POST",
                    url: url,
                    data: JSON.stringify({ "id": idtobedeleted }),
                    dataType: "json",
                    contentType: "application/json",
                    success: function (data) {

                    }
                }
                )
                $(document).ajaxStop(function () { location.reload(true); });
            });
});
    </script>
</body>

</html>  