<!DOCTYPE html>
<html lang="en">
<head>

    <title>Planning your research</title>
    <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

    <form action="/planning" method="post">
        <div class="container-fluid">

            <div class="row">
                <div class="wizard-header-row">
                    <div class="col-xs-7">
                        <div class="sec-label">Evaluating</div>
                        <h2 class="eval-header"><%= eval.title %></h2>
                    </div>
                    <div class="col-xs-2">
                        <div class="sec-label">Start Date</div>
                        <p>4/25/2016</p>
                    </div>
                    <div class="col-xs-3">
                        <div class="sec-label">Status</div>
                        <p>50% Complete</p>
                    </div>
                    <div class="col-xs-12" style="padding: 0;margin:0">
                        <ul class="wizard-menu">
                            <li id="1" class="active">
                                <span>Welcome</span>
                            </li>
                            <li id="2"><span>Understanding Your Problem</span></li>
                            <li id="3">
                                <span>Planning Your Research</span>
                            </li>
                            <li id="4">
                                <span>Preparing Your Data</span>
                            </li>
                            <li id="5">
                                <span>Analyzing your Data</span>
                            </li>
                            <li id="6">
                                <span>Summarizing Your Findings</span>
                            </li>
                        </ul>

                    </div>
                    <div style="clear: both; line-height: 0;"></div>
                </div>
            </div>


            <div class="result"></div>



        </div>

    </form>
    <script type="text/javascript">
        $(document).ready(function () {
            //just load the first one for now, will have to determine which is the active currently for returning user with
            //an ongoing eval
            $.get("/tools/1", function (data) {
                $(".result").html(data);
            });
            $('ul.wizard-menu li').click(function (e) {
                var id = $(this).attr('id');
                //var data = wizardStep[id];
                //alert(data);
                var url = "/tools/" + id;
                $.get(url, function (data) {
                    $(".result").html(data);
                });
            });
        });
    </script>
</body>
</html>