body {
  font-family: 'Open Sans';
  max-width:1000px;
  font-size:1.4em;
  line-height:1.6em;
     margin: 0 auto;
      height: 100%;
    background-color: #FBFAF7;
    color: #000;
}
body.one-col div.row div.content {
    margin: 0px auto;
    float: none;
}
.legal {
    margin: 45px auto;
    font-size: 1.1em;
    line-height: 1.6em;
    width: 80%;
    float: none;
}
.legal .copyright {
    margin: 65px;
    font-style: italic;
}
.legal p, .legal h2, .legal h3 {
    margin-top: 25px;
}
.legal ul, .legal ol {
    padding-left: 40px;
}
.legal ol li, .legal ul li {
    margin-top: 10px;
}
div.container-fluid {
	width:100%;
	font-size:100%;
    min-height: 100%;
 
}
div.container-fluid {
    position: relative;
 }
#main {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -142px; 
}
#main:after {
  content: "";
  display: block;
}
.footer, #main:after {
  height: 142px; 
}

/* Header */
.navbar {
    height: auto;
    padding: 5px;
    margin: 0 !important;
}
.navbar h3 {
    color: #71714A;
}
.feedback_title h3 {
    margin: 8px;
    padding: 0;
    display: block;
}
.fm_bootstrap .feedback_title {
    margin: 0;
    padding: 0;
}
.fm_bootstrap .feedback_trigger_text {
    top: 38px;
}
.navbar-default {
    background-color: #E3E1CE;
    border-radius: 0;
}
h3.sec-label {
  font-weight:bold;  
}
div.breadcrumbs, .sec-label, li.breadcrumb-item {
	color:#56ACE0;
	text-transform:uppercase;
	font-size:.9em;

	
}
ol.breadcrumb {
    background-color: #FBFAF7;
    margin: 0;
    padding: 0;
}
li.breadcrumb-item {
    font-size: 1.1em;
        padding: 5px 10px;
}
.page-header {
    margin-top: 20px;
}
body.dashboard div.page-header {
   margin-top: 40px; 
}
.add-padding {
    padding: 20px 20px 10px 20px;
}
.sec-label {
    font-size: 1em;
    color: #979762;
}
a.sec-label, button.sec-label {
    font-size: .9em;
    color: #4081A8;
    padding: 0;
}
div.bottom-next a.sec-label {
    font-size: 1.1em;
}
.tooltip-gr {
  color:#00CC66;
}
.all-caps {
    text-transform: uppercase;
}
div.tool-header {
       margin-bottom: 35px;

}
div.tool-help{
  width:80%;
  margin:0px auto;
   margin-bottom: 35px;
}
.tool-instructions {
    font-style: italic;
}
.row {
	/*margin-top:35px;*/
}
.footer {
    margin-top: 55px;
  
    width: 1000px;
}
  ul.footer-list {
        list-style: none; border-left: 2px solid #ccc;
      margin-top: 20px;
    }
.container {
  width:925px;
  margin:0 auto;
  height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}
#content-container {
  width: 75%;
  display:inline-block;
  background-color:#FBFAF8;
  padding:10px;
  box-shadow: 2px 2px 2px 2px #888888;
  height: 100%;
}
#side-box-container {
  width:24%;
  display:inline-block;
  float:right;
  margin-left:5px;
  height: 100%;
}
div.side-box {
  width:100%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding:10px;
  margin-bottom: 5px;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
}
div.side-box-last {
  width:100%;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding:10px;
  margin-bottom: 0;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
}
ul {
  padding-left:20px;
}
ul.no-bullet {
	list-style-type: none;
}
hr {
  border-width: 3px;
  border-color:#B8B28F;
  width:100%;
}
h1, h2, h3 {
     color:#000000;
    font-weight: 600;
}
h1 {
    font-size: 36px;
}
h1.form-title {
   
}
h2 {
  font-size:1.55em;
    font-size: 24px;
  font-weight:600;
  margin-top: 5px;
    margin-bottom: 15px;
}
h3 {
  color:#000000;
  letter-spacing: 1px;
  font-size: 18px;
  margin-top:5px;
}
h4 {
  font-size:15px;
  font-style:italic;
  font-weight:300;
}
label {
    color:#65614D;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px;
  margin-top:5px;
}
label.registrationFormAlert {
    text-transform: none;
    color: #800000;
}
h2,p.clickable {
  cursor:pointer;
}
h2.clickable {
    font-size: 1.4em;
    margin-top: 25px;

}
div.header-section {
}
div.body-section {
  margin-left:5%;
}

/*Home Page*/
div.front-header {
    background-image: url('/static/image/HandsForFront.png');
    background-repeat: no-repeat;
    height: 500px;
    width: 1000px;
    padding: 25px;

    color: #ffffff;
    margin-bottom: 45px;
   
}
div#home-access {
    padding: 15px 15px 15px 0;
    line-height: 20px;
    color: #4081A8;
}
div.welcome-text, div.prev-tools {
     padding: 25px;
    background-color: #ECEBDD;
    margin-top: 35px;
}
div.front-header div.front-text, div.slide-item {
    width: 70%;
    margin: 0 auto;

    -webkit-transform: translate(0%, 25%);  
    transform: translate(0%, 25%);   
}
ul.front-list {
    margin: 10px auto;
    width: 80%;
    
}
div.front-header h1 {
    font-size: 2.6em;
    color: #ffffff;
    margin-bottom: 25px;
    text-align: center;
    text-shadow: 1px 2px #000;

}


    div.front-header p {
        font-size: 1.1em;
        line-height: 1.6em;
         text-align: center;
          text-shadow: 1px 1px #000;
    }
        div.front-header p a.btn-primary.larger {
            font-size: 1.6em;
            padding: 10px 25px;
            margin-top: 25px;
        }

/*Home Page testimonial slider*/
#testimonials {
    margin-top: 35px;
}
#testimonials h2  {
    text-align: center;
}
#carousel {
  position: relative;
  width: 60%;
  margin: 0 auto;
    display: inline-block;
}

#slides {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 200px;
}

#slides ul {
  list-style: none;
  width: 100%;
  height: 250px;
  margin: 0;
  padding: 0;
  position: relative;
}

#slides li {
    width: 100%;
  height:200px;
  float: left;
  text-align: center;
  position: relative;
  font-family: lato, sans-serif;
    display: block;
}

/* Styling for prev and next buttons */

.btn-bar {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 40px;
}

#buttons {
  padding: 0 0 5px 0;
  float: right;
}

#buttons a {
  text-align: center;
  display: block;
  font-size: 50px;
  float: left;
  outline: 0;
  margin: 0 60px;
  color: #b14943;
  color:#B8B28F;
  text-decoration: none;
  display: block;
  padding: 9px;
  width: 35px;
}

a#prev:hover, a#prev:focus,
a#next:hover, a#next:focus {
  color: #4081A8;
  text-shadow: .5px 0px #4081A8;
}

.quote-phrase,
.quote-author {
  font-family: sans-serif;
  font-weight: 300;
  display: table-cell;
  vertical-align: middle;
  padding: 5px 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.quote-phrase {
  height: 200px;
  font-size: 24px;
  color: #222;
  font-style: italic;
  text-shadow: .5px 0px #b14943;
}

.quote-marks {
  font-size: 30px;
  padding: 0 3px 3px;
  position: inherit;
}

.quote-author {
  font-style: normal;
  font-size: 20px;
  color: #b14943;
  font-weight: 400;
  height: 30px;
}

.quoteContainer,
.authorContainer {
  display: table;
  width: 100%;
}


/* Dashboard */
div.dash-well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    border: 1px solid #BAB38F;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    background-color: #ffffff;
}
div.dash-well.panel {
    padding: 5px;

}
div.dash-well div.panel-heading {
    background-color: #ffffff;
    border: none;
}
div.dash-well div.panel-heading a {
    text-decoration: none;
}
    div.dash-well div.panel-heading h2.clickable {
        margin: 0;
    }
div.dash-well h2 {
    font-size: 1.8em;
}
    div.dash-well div.help-panel {
        padding-top: 10px;
    }
div.dash-well div.help-main {
    border-bottom: 2px #D9D7BE solid;
    
   border-top: 2px #D9D7BE solid;
    padding: 10px 15px 0 15px;

}
div.dash-well div.help-sec {
    border-right: 2px #D9D7BE solid;

}
div.dash-well a.btn-primary {
    font-size: 1.2em;
    padding: 8px 12px;
}

/* Wizard Landing page */
div.wizard-header-row {
   border: 1px solid #BAB38F;
    border-radius: 6px;
     box-shadow: 3px 3px 3px #DBDBD1;
    margin: 15px 0px;
    padding-top: 15px;
    background-color: #ffffff;

   
}
h2.eval-header {
    font-size: 2em;
    margin-bottom: 25px;
    display: inline-block;
}

ul.wizard-menu {
    list-style: none;
    display: block;
    margin: 0 0 0 3px;
    padding: 0;
    height: auto;
    overflow: auto
}
ul.wizard-menu li {
    display: table;
    width: 20%;
    float: left;
    height: 75px;
    text-align: center;
    font-size: 1.1em;
    border-left: #ccc 1px solid;
    border-top: #ccc 1px solid;
    text-transform: uppercase;
    padding: 8px;
    cursor: pointer;
    
}
a.step-label {
     text-transform: uppercase;
     font-size: 1.3em;
    line-height: 2em;
    font-weight: bold;
     color: #4081A8;
}
    a.step-label span {
        vertical-align: middle;
    }
ul.wizard-menu li:first-child {
    border-left: none;
}

ul.wizard-menu li p {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: #979762;
    height: 55px;
    font-weight: 600;
  
}
    ul.wizard-menu li.active p {
        color: #4081A8;
    }
    ul.wizard-menu li.active {
         background:#fff;
        border-bottom: #4081A8 3px solid;
        font-weight: bold;
        height: 75px;
    }
     ul.wizard-menu li.previous {
        
        background:#F4F2EB ;
        height: 75px;
    }
div.result {
    min-height: 500px;
    margin-bottom: 15px;
}
div.step-nav {
    min-height: 25px;
    margin-bottom: 15px;
}
div.tool-row {
    margin: 0 auto;
}
div.tool-row div.col-xs-3 {
    padding-right: 0;
    padding-left: 0;
}
div.col-xs-3 {
    min-width: 240px;
}
div.no-padding {
    padding: 0 !important;
}
div.tool-div {
    border: 1px solid #BAB38F;
    border-radius: 8px;
     box-shadow: 3px 3px 3px #DBDBD1;
    padding: 15px;
    margin: 5px;
    height: 350px;
    background-color: #ffffff;
}

div.tool-div.current {
    border: 2px solid #4081A8;
     box-shadow: 3px 3px 3px #AFCBDA
}
div.tool-div.completed div.tool-status p span.all-caps, div.tool-div.Completed div.tool-status p span.all-caps {
    color: #4081A8;
}
div.tool-div div.tool-title {
    height: 225px;
}
div.tool-div div.tool-bottom {
    height: 100px;
    display: table;
}


    div.tool-div.Completed, div.tool-div.completed {
        background-color: #ECEBDD;
    }

     div.tool-div.Started {
        background-color: #fff;
    }

    div.tool-div a.tool-view-button {

        width: 110px;
        margin: 0 0px 15px 0;
        float: right;
        padding: 10px 6px;
        font-size: 1em;
       


    }

div.tool-status {
    width: 135px;
    display: table-cell;
    font-size: .9em;
    vertical-align: top;
}
div.tool-view-btn {
    width: 150px;
    display: table-cell;
    margin-left: 2px;
    vertical-align: bottom;

}

/* Tool pages */

div.tool-header div.tool-intro {
    padding: 15px 25% 15px 15px;
    /* max-width: 800px; */
   
    border-bottom: solid 3px #E0DDDD;
  }

div.tool-questions {
	padding:25px;
}
div.step {
  width:100%;
  display:inline-block;
}
div.step-header {
  display:inline-block;
}
div.step-conclusion {

    display: inline-block;
             margin-top:20px;
    padding-left: 0;
}

div.step-conclusion h2 {
    font-size: 1.8em;
    font-family: 'Open Sans';
    font-weight: normal;
}
div.step-subquestion {
	    margin: 5px 25px 0 25px;
	font-size:1.1em;
}
div.step-action {
 margin:0 0 25px 25px;
  display:inline-block;
  font-size:1.1em;
  width:100%
}
div.step-action label {
  /*display:none;*/
    font-weight: normal;
    margin-top: 10px;
}
div.step-action-long {
  width:75%;
  display:inline-block;
}
div.q-row {
    border-bottom: solid 3px #E0DDDD;

}
div.step-to-consider .panel-group .panel, div.step-to-consider .panel-heading {
	background-color:#F4F2EB;
}
div.step-to-consider .panel-heading {
    padding: 12px;
}
div.step-to-consider .panel-collapse {
	padding:8px 20px 0px 20px;
	background-color:#F4F2EB;
}
div.step-to-consider h3 {
	transform-text:uppercase;
	color:#8C866B;
	font-weight:bold;
    background-color:#F4F2EB;
	
}
div.step-to-consider p {
	margin-bottom:20px;
}

div.step-to-consider .btn {
    margin-left: 60%;
	padding:5px;
}
.no-titlebar .ui-dialog-titlebar {
    display: none;
}
		
div.step-info {
  width:65%;
  display:inline-block;
}
div.step-example-box {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
  margin-bottom:5px;
}

#step-height {
	height:45px;	
	margin-bottom:3px;
  vertical-align:top;
}
div.bottom-buttons {
    margin-top: 35px;
    text-align: center;
    /*margin-right: 20px;*/
}
div.action-buttons {
  margin-left:70%;
}
div.action-buttons > button {
  background-color: #58A5D5;
  color:white;
  text-transform: uppercase;
  font-size:12px;
  padding:10px;
  border-radius:8px;
}
div.step-action > button {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}
div#upload {
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
  padding-top: 10px;
  padding-left: 10px;
  padding-bottom: 10px;
  border-style:solid;
  border-width:1px;
  border-radius: 5px;
  border-color: #B8B28F;
  background-color: white;
  height:35px;
}
div > select,input,textarea {
	width:95%;
	padding-left:5px;
  border-radius: 5px; 
  border-color: #B8B28F;
  border-style: solid;
  border-width: 1px;
 
}
div.build-profile input {
    width: 100%;
}


input[type=checkbox] {
    width: 25px;
    vertical-align: top;
    margin-top: 10px;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #999
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #999
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #999
}
div.form-group label {
    width: 90%;
}
div.form-group p.vbottom {
    margin-bottom: 20px;
}

div.form-group p.vtop {
    margin-top: 20px;
}

p > select,textarea,input {
  border-color: #B8B28F;
  border-radius: 5px;
}
textarea {
 
  height:auto;
}
textarea.simplebox{
  width:auto;
  height:24px;
  font-size:.8em;
}
div.selectize-input {
  border-color:#B8B28F;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #888888;
}
.selectize-control.single .selectize-input:after {
  border-color: #B8B28F transparent transparent transparent !important;
}
input#file-box {
  font-style:italic;
  border:none;
}
#file-box, #browse-button {
    position:absolute;
    cursor:pointer;
    margin-top:-5px;
}
#browse-button {
  margin-left:115px;
  margin-top: -4px;
  text-transform: uppercase;
}
#wrapper {
    opacity : 0;
    overflow: hidden;
    width: 300px;
    height : 30px;
    padding:0;
    margin:0;
}
#wrapper > input {
  cursor:pointer;
}
.clearfix {
	clear:both;
	line-height:0;
}

